<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>私信详情页</title>
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/PrivateMsg/show.css" type="text/css" charset="utf-8">

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/wmw_js/jquery-1.5.2.min.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/plugins/iframeTools.source.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/sendbox/sendbox.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/PrivateMsg/show.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/tip_msg/showtip.js"></script>
</head>
<body>
<input type="hidden" id="to_uid" value="{$to_uid}"></input>
<!--弹出层 star-->
<!--提示信息弹出层 star-->
  <div class="tcc_msg" id="del_msg_tip" style="display:none;">
    <p class="tcc_msg_top"></p>
    <div class="tcc_msg_center">
     <div class="msg_center_main">
      <dl>
       <dt><span class="icon_question"></span></dt>
      </dl>
      <p>
       确认要删除本条信息吗？ 
      </p>
      <div class="clear"></div>
     </div>
     <p class="tcc_btn_right"><input type="button" class="qd_btn"><input type="button" value="取消" class="qx_btn"></p>
    </div>
    <p class="tcc_msg_bottom"></p>
  </div>
<!--提示信息弹出层 end--> 

 <!--保存成功 star-->
   <div class="success" style="display:none;">
     <p>发送成功</p>
   </div>
 <!--保存成功 end-->
 
  <!--同意好友请求 star-->
 <div class="tcc_request" style="display:none;">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><span class="icon_warn"></span></td>
        <td>请您输入私信内容</td>
      </tr>
    </table>
 </div>
 <!--同意好友请求 end-->
 
<!--弹出层 end-->
{insert name="sns_header" uid = $uid}
<!--per_tip star-->
  {include file="Public/sns_person_space_header.html"}
<!--per_tip end--> 
<!--content star-->
<div class="content pt20">
  <h4><a href="/Sns/PrivateMsg/PrivateMsg/index" class="f14" title=""><span class="btn_left"></span><span class="btn_right">返回私信</span></a></h4>
  <!--mood_main star-->
  <div class="mood_main">
    <!--say_tab star-->
    <div class="say_tab">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><span class="icon_say"></span>我与{$to_name}对话</td>
        <td>&nbsp;</td>
        <td class="align_right"></td>
      </tr>
      <tr>
        <td colspan="3"><textarea class="say_textarea" id="say_textarea"></textarea></td>
      </tr>
    </table>
    </div>
    <!--say_tab end-->
    {foreach from=$priavte_msg_list item=val}
    {if !empty($val.is_send)}
    <!--list_main star-->
    <div class="list_main">
      <dl>
        <dt><img src="{$val.to_url}" class="show_tx"></dt>
      </dl>
      <div class="list_main_right">
        <p>发给<a href="#">{$val.to_name}</a>{$val.content}</p>
        {if $val.img_url}
        <p><a href = "{$val.big_img_url}" target="_blank"><img src="{$val.img_url}"/></a>
        {/if}
        <p><span class="time_width f12">{$val.add_time}</span></p>
      </div>
      <div class="clear"></div>
      <div class="tcc_close">
        <a href="javascript:;" id="{$val.session_id}" class="icon_close"></a>
      </div>
    </div>
    <!--list_main end-->
    {else}
    <!--list_main star-->
    <div class="list_main">
      <dl>
        <dt><img src="{$val.send_url}" class="show_tx"></dt>
      </dl>
      <div class="list_main_right">
        <p><a href="#">{$val.send_name}</a>:{$val.content}</p>
        <p><span class="time_width f12">{$val.add_time}</span></p>
      </div>
      <div class="clear"></div>
      <div class="tcc_close">
        <a href="javascript:;" id="{$val.session_id}" class="icon_close"></a>
      </div>
    </div>
    <!--list_main end-->
    {/if}
    {/foreach}
    <!--fen_page star-->
    <div class="fen_page">
      <p>当前第{$page}页
      {if $page == 1 && empty($is_end_page)}
      	<a href="javascript:;" class="ml10">上一页</a><a href="/Sns/PrivateMsg/PrivateMsg/private_msg_list/to_uid/{$to_uid}/page/{$page+1}" class="ml10">下一页</a>
      {elseif !empty($is_end_page) && $page != 1}
      	<a href="/Sns/PrivateMsg/PrivateMsg/private_msg_list/to_uid/{$to_uid}/page/{$page-1}" class="ml10">上一页</a><a href="javascript:;" class="ml10">下一页</a>
      {elseif $page ==1 && !empty($is_end_page)} 
      	<a href="javascript:;" class="ml10">上一页</a><a href="javascript:;" class="ml10">下一页</a>
      {else}
      	<a href="/Sns/PrivateMsg/PrivateMsg/private_msg_list/to_uid/{$to_uid}/page/{$page-1}" class="ml10">上一页</a><a href="/Sns/PrivateMsg/PrivateMsg/private_msg_list/to_uid/{$to_uid}/page/{$page+1}" class="ml10">下一页</a>
      {/if}
      </p>
    </div>
    <!--fen_page end-->
  </div>  
  <!--mood_main end-->
<div class="clear"></div> 
</div>
<!--content end-->
{include file="Public/sns_footer.html"}
</body>
</html>



