<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

{literal}
<style >
	ul {font-size:12px}
</style>
{/literal}

<ul class="simpleTree">
    <li class="root" id='0'>
        <span class='treeTip'>请选择学校部门</span>
        <ul>
            <li id='-9999' type='-9999'>
                <span>请选择部门</span>
                <ul class='ajax'>
                    <li id='initLoadUrl'></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>