<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>获奖名单</title>
<link rel="stylesheet" href="css/listwin.css" type="text/css" />
</head>

<body>
<div class="big"></div>
<div class="list_main">
  <h3>我的暑假--与文明同行，与快乐相伴”征文活动获奖名单</h3>
  <p>据评委会老师对此次活动的综合评定，颁发一等奖一名，二等奖十名，三等奖二十四名，优秀班级奖、优秀组织奖各一名，剩余奖品累计到下次寒假活动中，请大家积极参与。</p>
  <table width="50%" border="0" cellspacing="1" cellpadding="0" class="list_main_tab">
  <tr>
    <th><strong>奖项</strong></th>
    <td><strong>奖品</strong></td>
  </tr>
  <tr>
    <th>一等奖</th>
    <td> Ipad2、奖状、水晶奖杯</td>
  </tr>
  <tr>
    <th>二等奖</th>
    <td> MP4、奖状</td>
  </tr>
  <tr>
    <th>三等奖</th>
    <td>U盘（16G）、奖状</td>
  </tr>
  <tr>
    <th>优秀组织奖</th>
    <td>水晶奖杯、联通3G品牌智能机一部</td>
  </tr>
  <tr>
    <th>优秀班级奖</th>
    <td>锦旗、联通充值卡1000元</td>
  </tr>
</table>
<p>颁奖方式采取进校颁奖和邮寄颁奖两种方式，请保持联系方式畅通，我们的工作人员会尽快联系您。</p>
<div class="win_line"></div>
<h4>获奖名单</h4>
<table width="100%" border="0" cellspacing="1" cellpadding="0" class="list_main_tab2">
  <tr>
    <th width="100">奖项</th>
    <th>编号</th>
    <th>姓名</th>
    <th>性别</th>
    <th>题目</th>
  </tr>
  <tr>
    <td>一等奖</td>
    <td>99997176</td>
    <td>赵丹艺</td>
    <td>女</td>
    <td>我的朋友----书</td>
  </tr>
  <tr>
    <td rowspan="10">二等奖</td>
    <td>99997184</td>
    <td>梁正超</td>
    <td>男</td>
    <td>读《滴水穿石的启示》有感</td>
  </tr>
  <tr>
    <td>99997175</td>
    <td>万爽</td>
    <td>女</td>
    <td>书籍的海洋</td>
  </tr>
  <tr>
    <td>99997173</td>
    <td>张雯博</td>
    <td>男</td>
    <td>读《鲁滨逊漂流记》有感</td>
  </tr>
  <tr>
    <td>99997261</td>
    <td>冯子航</td>
    <td>女</td>
    <td>美丽的城市我的家，爱护环境美化它</td>
  </tr>
  <tr>
    <td>99997269</td>
    <td>蒋雨纯</td>
    <td>女</td>
    <td>持之以恒</td>
  </tr>
  <tr>
    <td>99997209</td>
    <td>接馨瑶</td>
    <td>女</td>
    <td>乐游大连金石滩</td>
  </tr>
  <tr>
    <td>13284498</td>
    <td>王一茗</td>
    <td>女</td>
    <td>“我是一个兵”——难忘军旅夏令营</td>
  </tr>
  <tr>
    <td>99997216</td>
    <td>崔泽</td>
    <td>女</td>
    <td>看海</td>
  </tr>
  <tr>
    <td>99997179</td>
    <td>聂含芮</td>
    <td>女</td>
    <td>《再见，小马虎》读后感</td>
  </tr>
  <tr>
    <td>99997191</td>
    <td>袁欣</td>
    <td>女</td>
    <td>“网脉网”——我的良师益友</td>
  </tr>
  <tr>
    <td rowspan="25">三等奖</td>
    <td>99997207</td>
    <td>李昊航</td>
    <td>女</td>
    <td>奥秘无处不在,探索永不停息</td>
  </tr>
  <tr>
    <td>99997178</td>
    <td>杜锦琨</td>
    <td>男</td>
    <td>我爱读书</td>
  </tr>
  <tr>
    <td>99997213</td>
    <td>顾婉莹</td>
    <td>女</td>
    <td>我是书呆子</td>
  </tr>
  <tr>
    <td>99997177</td>
    <td>高雨彤</td>
    <td>女</td>
    <td>生活告诉我</td>
  </tr>
  <tr>
    <td>99997229</td>
    <td>杨博文</td>
    <td>男</td>
    <td>《卖火柴的小女孩》读后感</td>
  </tr>
  <tr>
    <td>99997188</td>
    <td>张恒睿</td>
    <td>男</td>
    <td>读《男孩子必读的100个成长故事》有感</td>
  </tr>
  <tr>
    <td>99997225</td>
    <td>陈阳</td>
    <td>男</td>
    <td>这件事感动了我</td>
  </tr>
  <tr>
    <td>99997181</td>
    <td>李柏萱</td>
    <td>男</td>
    <td>《雷锋的故事》读后感</td>
  </tr>
  <tr>
    <td>99997189</td>
    <td>罗新程</td>
    <td>男</td>
    <td>《宝葫芦的秘密》读后感</td>
  </tr>
  <tr>
    <td>99997180</td>
    <td>康泰来</td>
    <td>女</td>
    <td>快乐读书</td>
  </tr>
  <tr>
    <td>99997201</td>
    <td>赵茁杉</td>
    <td>女</td>
    <td>先网后络</td>
  </tr>
  <tr>
    <td>99997203</td>
    <td>孙圣尧</td>
    <td>男</td>
    <td>《科学探索之动物篇》读后感</td>
  </tr>
  <tr>
    <td>99997221</td>
    <td>李怡宁</td>
    <td>女</td>
    <td>至乐莫过于读书</td>
  </tr><tr>
    <td>99997268</td>
    <td>张晶晶</td>
    <td>女</td>
    <td>《弟子规》读后感</td>
  </tr>
  <tr>
    <td>99997208</td>
    <td>李金</td>
    <td>男</td>
    <td>读《杨靖宇》有感</td>
  </tr>
  <tr>
    <td>99997186</td>
    <td>刘明雨</td>
    <td>女</td>
    <td>有希望才有成功</td>
  </tr>
  <tr>
    <td>99997163</td>
    <td>林禹男</td>
    <td>男</td>
    <td>我爱读书</td>
  </tr>
  <tr>
    <td>99997257</td>
    <td>迟博文</td>
    <td>女</td>
    <td>读《封印之书·九尾狐》有感</td>
  </tr>
  <tr>
    <td>99997182</td>
    <td>李思远</td>
    <td>男</td>
    <td>读《喜羊羊与灰太狼兔年顶呱呱》有感</td>
  </tr>
  <tr>
    <td>99997195</td>
    <td>张浩鑫</td>
    <td>男</td>
    <td>《丁香小镇的菊奶奶》读后感</td>
  </tr>
  <tr>
    <td>99997136</td>
    <td>张皓</td>
    <td>男</td>
    <td>读《可怕的信任》有感</td>
  </tr>
  <tr>
    <td>99997202</td>
    <td>王治彭</td>
    <td>男</td>
    <td>《中华是我家》读后感</td>
  </tr>
  <tr>
    <td>99997249</td>
    <td>高雨彤</td>
    <td>女</td>
    <td>读《我家有狼初长成》有感</td>
  </tr>
  <tr>
    <td>99997210</td>
    <td>刘柏彤</td>
    <td>男</td>
    <td>我的爱好是读书</td>
  </tr>
  <tr>
    <td>99997259</td>
    <td>陈卓</td>
    <td>女</td>
    <td>我爱读书</td>
  </tr>
  <tr>
    <td>优秀班级奖</td>
    <td colspan="4">由文化路小学五年三班班主任李鸿图领奖</td>
    </tr>
  <tr>
    <td>优秀组织奖</td>
    <td colspan="4">由文化路小学校长（徐淑平）领奖</td>
    </tr>
</table>

</div>
</body>
</html>
