<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" />
</head>

<body>
<!--弹出层 star-->
<!--设置封面成功 star-->
  <div id="tip_success_div" class="success_main">
    <dl>
      <dt class="icon_success"></dt>
    </dl>
    <p><span id="msg" class="align_left">管理员设置成功管理员设置成功</span></p>
  </div>
<!--设置封面成功 end-->

<!--设置封面成功 star-->
  <div id="tip_error_div" class="success_main">
    <dl>
      <dt class="icon_cuo"></dt>
    </dl>
    <p><span id="msg" class="align_left">管理员设置成功管理员设置成功</span></p>
  </div>
<!--设置封面成功 end-->

<!--设置封面成功 star-->
  <div id="tip_tip_div" class="success_main">
    <dl>
      <dt class="icon_msg_ts"></dt>
    </dl>
    <p><span id="msg" class="align_left">管理员设置成功管理员设置成功</span></p>
  </div>
<!--设置封面成功 end-->
</body>
</html>
