@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}

.layer_dynamic{ width:580px;}

/*动态样式*/
.dynamic{ width:580px; overflow:hidden; position:relative;}
	/*左侧头像部分*/
	.user_photo{ float:left; width:70px; margin-left:5px;}
		.user_photo70{ width:70px; height:70px; border:white solid 1px;}
	
	/*右侧内容*/
	.dynamic_content{ float:left; width:500px; background:url(../../images/Common/layer_dynamic_02/d_content.png) 0 0 repeat-y;margin-bottom:15px; }
		.d_c_top{ background:url(../../images/Common/layer_dynamic_02/d_top.png) 0 0 no-repeat; width:446px; height:26px; padding-left:36px; padding-right:18px; padding-top:15px; font:14px "微软雅黑";}
			.d_c_top span{ color:#666; margin-left:10px;}
			.d_c_top a{ color:green; }
		.d_c_content{ margin-left:36px; margin-right:18px;}
			.d_c_content h3{ font:20px/28px "微软雅黑"; }
				.d_c_content h3 a{color:#666;}
			.d_c_content p{color:#464646; }
				.d_c_text{font:14px/22px "微软雅黑";text-indent:28px;}
					.d_c_text a{ color:green;}
			.d_c_info{padding:10px 0; overflow:hidden;}	
				.d_c_time span{font:14px/30px "宋体"; color:#999; display:inline-block; float:left;}
				.d_c_active a{font:14px/30px "宋体"; color:green;display:inline-block; float:right; margin-left:10px;}
			.d_c_content img{ max-width:600px;}
		.d_c_footer{ background:url(../../images/Common/layer_dynamic_02/d_footer.png) 0 0 no-repeat; width:500px; height:29px; }


/*评论样式*/
.layer_comment{ width:441px;}
	.comment_top{ background:url(../../images/Common/layer_dynamic_02/top_bg.gif) 0 0 no-repeat; width:441px; height:22px;}
	.comment_content{ width:399px; border:#dfdfdf solid 1px; border-top:none; padding:5px 20px 20px 20px; background-color:#f3f3f3;}
	
	/*一级默认评论框*/
		.comment_content_mr{}
			.srwz_b{ width:80%; text-align:right;}
			.text_border{ border:#dfdfdf solid 1px; width:100%; font:12px/20px "宋体";  margin-bottom:5px; height:20px;}
			.textarea_border{ border:#dfdfdf solid 1px; width:100%; font:12px/14px "宋体";  margin-bottom:5px;}
			.textarea_border_width{width:355px; height:50px;}
			.biaoqing{ background:url(../../images/Common/layer_dynamic_02/tcc_icon_face.gif) 0 0 no-repeat; width:16px; height:16px; display:inline-block;}
			.green_btn{background:url(../../images/Common/layer_dynamic_02/green_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer; color:#fff; float:right;}
			
	/*一级评论及其附属的二级评论 全部内容*/	
		.all_first_comment{}	
			.first_comment{ width:100%;}
				.first_comment td{font:14px/22px "宋体";}
				.comment_time{ width:50%; height:20px;}
					.comment_time span{font:12px/22px "宋体"; color:gray;}
				.comment_btn{ width:50%;text-align:right; height:20px;}
					.comment_btn a.delete_btn{font:12px/22px "宋体"; color:green; float:right;}
					.comment_btn a.reply_btn{ background:url(../../images/Common/layer_dynamic/icon_del.gif) 0 center no-repeat;display:inline-block; width:11px; height:22px; margin-right:10px;}
			
			.user_tx{ width:50px;vertical-align:text-top; text-align:center; padding-right:5px; }
				.user_tx img{ border:#dfdfdf solid 1px; margin-bottom:10px;}
				.user_tx a{ text-align:center;}
	
		/*二级评论*/
		.all_second_comment{ width:100%;}	
		.second_comment{ margin-top:10px; width:100%;}
		.more_huifu{ font:12px/24px "宋体"; color:#666;}
			.more_huifu a{ color:red;}
		
		/*默认回复样式*/
		.mr_huifu{ width:100%;}
			.tk_huifu{ width:246px;}	
			.tk_huifu textarea{ width:246px;height:50px;}
			
/*加载更多*/
.loadmore{ background-color:#ebebeb; border:#b0b0b0 dashed 1px; text-align:center; font:14px/30px "宋体"; margin:10px 0;}
.loadmore a { color:green;} 
































































			
			
/*.personal_active{width:748px; padding:0px 0px 0px 2px; margin-top:10px;}
		.per_active_l{width:76px; float:left; margin-right:7px;}
			.per_active_l dl{text-align:center;}
				.per_active_l dl dt img{width:76px; height:76px;}
			
		.per_active_r{width:665px; float:left;}		
			.per_right_top{background:url(../../images/ClassIndex/per_top_bj.jpg) 0 0 no-repeat; height:30px; padding:8px 0px 0px 30px;}	
			
			.per_right_center{background:url(../../images/ClassIndex/per_center_bj.jpg) repeat-y; margin-left:15px; padding:0px 15px;}
				.per_right_center h6{font:22px "微软雅黑"; color:#3c3c3c;}
				.per_right_center dl{margin:10px 0px;}
				
				.per_right_center p{line-height:22px; color:#464646;}
					.ml10{margin-left:10px; display:inline-block;}
				.per_release_time{padding:10px 0px 0px; height:30px;}
					.per_release_time p{float:left; height:30px; text-align:right; line-height:20px; width:220px;}
					.per_release_time .per_p_width{width:400px; display:inline-block; color:#777; text-align:left;}
					.per_release_time a{font:14px "宋体"; display:inline-block; margin-left:15px;}
			
			.per_right_bottom{background:url(../../images/ClassIndex/per_bottom_bj.jpg) 15px 0 no-repeat; height:10px; overflow:hidden;}
			
	.more_active{width:748px; text-align:center; margin-top:10px; border:1px #ccc dashed; background:#ebebeb; padding:10px 0px;}	
		.more_active a{background:url(../../images/ClassIndex/icon_more.jpg) right center no-repeat; display:inline-block; padding-right:10px; color:#5f9400; font:14px "宋体";}	

.mian_right{width:200px; float:left; margin-left:10px;}
	.photo_index{border:1px #cdced0 solid; background:url(../../images/ClassIndex/class_people_bj.gif) repeat;}
		.photo_index dl{width:180px; padding:10px 9px;}
			.photo_index dl dt{height:166px;}
			.photo_index dl dd{height:26px; padding-top:10px!important; _padding-top:4px;}
				.up_btn{background:url(../../images/ClassIndex/up_btn.jpg) 0 0 no-repeat; width:89px; height:22px; cursor:pointer; border:none; font:14px "微软雅黑"; color:#444; line-height:18px;}
				
	.hot_resource{border:1px #cdced0 solid; background:#fff; margin-top:10px;}	
		.hot_resource h3{font:15px "微软雅黑"; color:#3a8a00; height:32px; line-height:32px; padding:0px 8px; border-bottom:1px #cdced0 solid; background:#efefef;}
			.hot_resource h3 span{width:142px; display:inline-block;}	
			.hot_resource h3 a{color:#a0a0a0; font:13px "宋体"; display:inline-block;}	
			.hot_resource h3 a:hover{color:#3a8a00;}
		.hot_resource ol{padding:10px 0px 10px 10px; list-style:none;}	
			.hot_resource ol li{line-height:26px;}
			.hot_resource ol li a{color:#787878; font:14px "宋体";}
			.hot_resource ol li a:hover{color:#3a8a00;}*/
		
		