@charset "utf-8";
*{ margin:0; padding:0;}
ul{ list-style:none;}
a{text-decoration:none;}
.clear{ clear:both; overflow:hidden; height:0px;}
a:hover{text-decoration:underline;}
a img{border:none; display:inline-block;}
a[title]{text-decoration:none;}


/*字体大小*/
.f12{font:12px "宋体";}
.f13{font:13px "宋体";}
.f14{font:14px "微软雅黑";}
.f16{font:16px "微软雅黑";}
.f12_header{font:12px "宋体";}

/*字体颜色*/
.f_orange{color:#ff6600;}
.f_green{color:#317400;}/*tip的字体的css样式*/
.f_red{color:#f00;}
.f_gray{color:#a0a0a0;}
.f_main_green{color:#3a8a00;}

/*头部提示信息*/
.tip{background:#d6e7cd; height:34px;}
	.tip_main{width:960px; margin:0 auto;}
  	  .tip_main p{ padding:10px 0px 0px 10px; float:left; height:24px;}
	  .tip_main p a{margin:0px 0px 0px; height:20px; display:inline-block;}
	      .tip_main p a span{float:left; display:inline-block; cursor:pointer;}
		  .tip_main p a span:hover{text-decoration:underline;}
	  .icon_01{background:url(../../images/Common/sns_images/triangle_green.gif) 0 0 no-repeat; width:9px; height:5px; display:inline-block; margin:4px 0px 0px 4px; float:left;}

	 .tip_main a.bjgl{ margin-left:50px; color:#2b6800; font:bold 14px/32px "宋体"; text-decoration:none; }

/*上下箭头*/
.icon_down{background:url(../../images/Common/sns_images/triangle_green.gif) 0 center no-repeat; width:9px; height:10px; display:inline-block; margin:2px 0px 0px 4px; }
.icon_up{background:url(../../images/Common/sns_images/up_sjx_green.gif) 0 center no-repeat; width:9px; height:10px; display:inline-block; margin:2px 0px 0px 4px; }


/*主要内容*/
.content{background:url(../../images/Common/sns_images/cotent_bj.gif) 0 0 repeat; overflow:hidden; o}

.main{width:960px; margin:0 auto; padding:26px 0px 0px; margin-bottom:20px;}
/*导航样式*/
.nav{ background:url(../../images/Common/sns_images/nav_bj.jpg) 0 0 no-repeat; height:56px; padding:0px 0px 0px 34px;}
	.nav ul li{float:left;}
	.nav ul li a{display:block; width:94px; height:51px; margin-right:30px;}
	.nav_a1{background:url(../../images/Common/sns_images/nav_a1.gif) center 14px no-repeat;}
	.nav_a2{background:url(../../images/Common/sns_images/nav_a2.gif) center 14px no-repeat; }
	.nav_a3{background:url(../../images/Common/sns_images/nav_a3.gif) center 14px no-repeat;}
	.nav_a4{background:url(../../images/Common/sns_images/nav_a4.gif) center 14px no-repeat;}
	.nav_a5{background:url(../../images/Common/sns_images/nav_a5.gif) center 14px no-repeat;}
	.nav_a6{background:url(../../images/Common/sns_images/nav_a6.gif) center 14px no-repeat;}
	.nav_a7{background:url(../../images/Common/sns_images/nav_a7.gif) center 14px no-repeat;}
	.nav_a8{background:url(../../images/Common/sns_images/nav_a8.gif) center 14px no-repeat;}
	
	.nav_a1_hover{background:url(../../images/Common/sns_images/nav_a1_hover.jpg) 0 0 no-repeat;}
	.nav_a2_hover{background:url(../../images/Common/sns_images/nav_a2_hover.jpg) 0 0 no-repeat;}
	.nav_a3_hover{background:url(../../images/Common/sns_images/nav_a3_hover.jpg) 0 0 no-repeat;}
	.nav_a4_hover{background:url(../../images/Common/sns_images/nav_a4_hover.jpg) 0 0 no-repeat;}
	.nav_a5_hover{background:url(../../images/Common/sns_images/nav_a5_hover.jpg) 0 0 no-repeat;}
	.nav_a6_hover{background:url(../../images/Common/sns_images/nav_a6_hover.jpg) 0 0 no-repeat;}
	.nav_a7_hover{background:url(../../images/Common/sns_images/nav_a7_hover.jpg) 0 0 no-repeat;}
	.nav_a8_hover{background:url(../../images/Common/sns_images/nav_a8_hover.jpg) 0 0 no-repeat;}

/*绿色按钮*/	
.btn_left{background:url(../../images/Common/sns_images/grenn_btn_left.gif) 0 0 no-repeat; width:20px; height:27px; display:block; float:left;}
.btn_right{background:url(../../images/Common/sns_images/grenn_btn_right.gif) right 0 no-repeat; height:27px; display:block; float:left; padding-right:20px; line-height:27px; color:#fff; cursor:pointer;}	
	
	
/*主要内容底部样式*/	
.main_bottom{background:url(../../images/Common/sns_images/main_bottom_bj.gif) 0 0 no-repeat; width:960px; height:5px; overflow:hidden;}	
	
	
/*日期input*/	
.date_text{width:84px; height:25px; border:1px #ccc solid; line-height:25px; padding-left:10px; float:left;}	
	
	
/*设置成功*/
.success_main{width:260px; background:#fff; border:1px #6db500 solid; padding:20px;font:14px "微软雅黑"; clear:both; overflow:hidden;}	
	.success_main dl{float:left;}
	.success_main p{float:left;word-wrap:break-word;word-break:break-all; width:200px;}
		.icon_success{ background:url(../../images/Common/sns_images/icon_success.gif) 0 0 no-repeat; width:27px; height:22px; display:inline-block; margin-right:10px; float:left;}
	
		.icon_cuo{background:url(../../images/Common/sns_images/icon_cuo.gif) 0 0 no-repeat; width:19px; height:19px;display:inline-block; margin-right:10px; float:left;}
	
		.icon_msg_ts{background:url(../../images/Common/sns_images/icon_msg1.gif) 0 0 no-repeat; width:9px; height:27px; display:inline-block; margin-right:10px; float:left;}
	
	
	
/*个人空间信息*/
.per_tip{background:#363a40; border:1px #000 solid; height:32px; font:14px "微软雅黑";}
	.pertip_main{width:960px; margin:0 auto; height:24px; padding:4px 0px 0px 0px;}
		.pertip_main dl{width:24px; float:left; margin-right:10px;}
		.pertip_main dl dt img{width:24px; height:24px;}
		
		.pertip_main a{color:#fff;}
			.pertip_main a span:hover{text-decoration:underline;}
			.pertip_main a span{float:left; cursor:pointer;}
			.icon_white_sjx{background:url(../../images/Common/sns_images/icon_white_sjx.gif) 0 0 no-repeat; display:inline-block; width:8px; height:4px; margin:8px 0px 0px 4px;}
	
	
/*弹出层样式*/	

/*个人空间 导航菜单 star*/
.gezkxq{ width:100px; background-color:#333; text-align:center; border:#ccc solid 1px; }
.gezkxq a{ display:block; color:#FFF; font:12px "宋体"; line-height:25px ; border-bottom:#CCC solid 1px;}
/*个人空间 导航菜单 end*/
		
	
/*头像大小*/
.photo_width60{ width:60px; height:60px;}
.photo_width40{ width:40px; height:40px;}
.photo_width75{ width:75px; height:75px;}
	