/*personal_space*/
.top_rb_menu{float: left;width:400px;overflow: hidden;}
.top_rb_menu ul{_display:inline-block; overflow:hidden;}
.top_rb_menu li{float:left;margin-right:10px;width:90px; height:33px; font-size:14px; font-weight:; text-align:center; cursor:pointer;}
.top_rb_menu li a{display:block; height:22px; font-weight:bold; color:#207001; text-decoration:none; overflow:hidden; padding:11px 0 0 0;  line-height:14px;}
.top_rb_menu li.active{background:url(../../images/new/menu.gif) no-repeat 0 0; color:#fff; font-weight:bold;}
.top_rb_menu li.active a{color:#fff;outline: none;}

.top_rb_menu li.normal{background:url(../../images/new/menu.gif) no-repeat -99px 0; color:#FF5605;}
.top_rb_menu li.normal a{color:#FF5605;}

.top_rb_menur{ width:345px; float:left;}
.top_rb_menur ul li{ float:left; line-height:30px; padding:3px 0 0 0; font-size:14px; font-weight:bold; color:#FFFFFF;margin-right:5px;}
.top_rb_menur ul li#school{ width:80px; margin-right:5px; background:url(../../images/new/school.gif);}
.top_rb_menur ul li#class{ width:80px; margin-right:5px; background:url(../../images/new/class.gif);}
.top_rb_menur ul li .t4{ width:10px; height:33px;  display:block; float:left;}
.top_rb_menur ul li .t5{ width:10px; height:33px;  display:block; float:left;}

.top_rb_menur ul li#chuying{ width:80px; margin-right:5px; background:url(../../images/new/school.gif);}
.top_rb_menur ul li#leyou{ width:80px; margin-right:5px; background:url(../../images/new/class.gif);}
.top_rb_menur ul li .t6{ width:10px; height:33px;  display:block; float:left;}
.top_rb_menur ul li .t7{ width:10px; height:33px;  display:block; float:left;}

.top_rb{ width:746px; clear:both; padding:16px 0 0 0;}

.personal_space_box{ width:100%; margin:auto;}
.personal_space_top{ width:100%; margin:auto; background:url(../../images/space/class_space_top.jpg) repeat-x; height:47px;}
.personal_space_top_t{ width:980px; clear:both; margin:auto; height:47px;}
.personal_logo{ float:left; padding:5px 40px 0 12px;}
.space_top_r{ float:left; padding:13px 0 0 0;}

.personal_space_main{ width:100%; margin:auto; background: url(../../images/space/space_header.jpg) no-repeat top center #b3e1e1;}

.personal_space_banner{ width:940px; clear:both; margin:auto; height:150px; padding:80px 20px 0 20px;}
.personal_space_banner h2{line-height:40px; font-size:18px;  font-weight:bold; color:#CC3399; padding:0 0 0 10px;background:#e9e9e9; FILTER: alpha(opacity=85);-moz-opacity: 0.7; -kHTML-opacity: 0.7; opacity: 0.7;}
.personal_space_banner h2 span{ font-size:12px; color:#000000; padding:0 0 0 20px;}
.personal_space_banner_t{ width:950px; clear:both; margin:auto;}
.personal_space_banner_t ul li{ width:115px; float:left; line-height:28px; font-weight:bold; color:#000000;background:#fff; FILTER: alpha(opacity=80);-moz-opacity: 0.8; -kHTML-opacity: 0.8; opacity: 0.8; margin:0 5px 0 5px; padding:2px 0 0 0;}
.space_name{ width:20px; height:28px; background:url(../../images/space/icon.gif) no-repeat -4px -1625px; margin:0 5px 0 10px; display:block; float:left;}
.space_skin{ width:20px; height:28px; background:url(../../images/space/icon.gif) no-repeat -4px -1662px; margin:0 5px 0 10px; display:block; float:left;}

.personal_space_row{ width:980px; clear:both; margin:auto; background:#fff;}
.personal_space_row_l{ width:243px; float:left; padding:10px 0 0 0;}

.personal_space_row_lt{ width:220px; text-align:center; margin:auto auto 10px auto;}
.personal_space_row_lt img{ border:solid 1px #d4d4d4;}

.personal_space_row_lm{ width:200px; clear:both; margin:auto; height:35px; border-bottom:solid 1px #d4e4f4;}
.personal_space_row_lm ul li{ float:left; width:100px; line-height:30px; font-size:14px; font-weight:bold; color:#ee2f68;}
.personal_space_row_lm ul li#add_fr{ font-size:12px; font-weight:bold; color:#6e6e6e;}
.add_friend{ width:20px; height:30px; background:url(../../images/space/icon.gif) no-repeat -4px -1697px; margin:0 5px 0 10px; display:block; float:left;}

.personal_space_row_lb{ width:192px; background:url(../../images/space/per_list.jpg) no-repeat top; height:338px; margin:10px 0 10px 0; padding:25px 25px 0 20px;}
.personal_space_row_lb ul li{ width:192px; height:33px; line-height:33px; font-size:14px; font-weight:bold; color:#0088ca; margin:0 0 8px 0; background:url(../../images/space/per_list.gif) no-repeat;}

.personal_space_1{width:20px; height:33px; background:url(../../images/space/icon.gif) no-repeat -4px -660px; margin:0 5px 0 10px; display:block; float:left;}
.personal_space_2{width:20px; height:33px; background:url(../../images/space/icon.gif) no-repeat -4px -217px; margin:0 5px 0 10px; display:block; float:left;}
.personal_space_3{width:20px; height:33px; background:url(../../images/space/icon.gif) no-repeat -4px -805px; margin:0 5px 0 10px; display:block; float:left;}
.personal_space_4{width:20px; height:33px; background:url(../../images/space/icon.gif) no-repeat -4px -1625px; margin:0 5px 0 10px; display:block; float:left;}
.personal_space_5{width:20px; height:33px; background:url(../../images/space/icon.gif) no-repeat -4px -302px; margin:0 5px 0 10px; display:block; float:left;}
.personal_space_6{width:20px; height:33px; background:url(../../images/space/icon.gif) no-repeat -4px -388px; margin:0 5px 0 10px; display:block; float:left;}
.personal_space_7{width:20px; height:33px; background:url(../../images/space/icon.gif) no-repeat -4px -431px; margin:0 5px 0 10px; display:block; float:left;}
.personal_space_8{width:20px; height:33px; background:url(../../images/space/icon.gif) no-repeat -4px -177px; margin:0 5px 0 10px; display:block; float:left;}








.personal_space_row_r{ width:735px; float:left; border-left:solid 1px #d4e4f4;}



.personal_space_footer{width:900px; margin:auto; height:70px; clear:both; padding:10px 0 0 0; color:#666666; background:#ffffff;border-top:1px solid #dddddd; line-height:30px; text-align:center;}

.l_school_list{height:25px;line-height:25px;text-indent:2em;}
.title{padding:2px;height:20px; font-weight:bold;}





