@charset "utf-8";
/* CSS Document */

.publish_main{font:14px "微软雅黑"; color:#464646;}
	.main ul a{display:inline-block; width:112px; height:36px; text-align:center; line-height:36px; margin-right:4px;}
		.main_nav_a1{background:url(../../images/ClassAdmin/list/main_nav_a1.jpg) 0 0 no-repeat; color:#fff; font:16px "微软雅黑"}
		
	.class_name{height:30px; padding:10px; line-height:30px;border:1px #6db500 solid; background:#fff;}	
		.class_name p{float:left;}
		.class_name a{color:#3a8a00;float:left;}
		.icon_modify{background:url(../../images/ClassAdmin/list/icon_modify.jpg) 0 0 no-repeat; width:27px; height:28px; display:inline-block; margin:0px 6px 0px 10px;}
		
	.class_admin{margin-top:10px; width:960px;}
		.class_admin p{width:960px;}	
		.class_admin p span{background:url(../../images/ClassAdmin/list/pic02.gif) 0 0 no-repeat; width:840px; height:31px; line-height:31px; color:#fff; padding-left:10px; display:inline-block;}
		.class_admin_main{background:#fff; padding:20px; border:1px #d3d3d3 solid; width:918px;}
			.class_admin_main dl{width:100px; float:left; margin-right:15px; text-align:center; position:relative;}
				.class_admin_main dl dt img{border:1px #cdcdcd solid; width:99px; height:99px;}
			
			/*取消*/	
			.admin_float{width:40px; height:20px; position:absolute; top:75px; left:56px; background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0 !important;filter:alpha(opacity=70);background:#333;}
				.admin_float_p{font:12px "宋体"; padding:4px 0px 0px 10px; width:30px; height:16px; position:absolute; top:0px; left:0px; text-align:left;}
				.admin_float_p a{color:#fff; filter:alpha(opacity=100);}	
	
	
	.class_t_admin{margin-top:10px;}
		.class_t_admin p span{background:url(../../images/ClassAdmin/list/pic02.gif) 0 0 no-repeat; width:840px; height:31px; line-height:31px; color:#fff; padding-left:10px; display:inline-block;}
		.class_t_admin p a{color:#f60; background:url(../../images/ClassAdmin/list/icon_right_sjx.gif) right 4px no-repeat; padding-right:20px; display:inline-block;}
		
		.single_bj_main{background:url(../../images/ClassAdmin/list/class_t_bj.jpg) 0 0 no-repeat; width:200px; height:128px; padding:10px; float:left; margin-right:9px;}
			.single_bj_main dl{float:left; width:100px; margin-right:20px;}
				.single_bj_main dl dt imd{display:inline-block;}
				.single_bj_main dl dd{height:20px; line-height:20px;}
			.single_bj_main p{float:left; margin-top:40px; font:bold 18px "微软雅黑"; color:#75b333;}
				
		.single_main{background:#fff; width:198px; height:132px; padding:5px 10px; border:1px #dedede solid; float:left; margin:4px 9px 10px 0px;}	
			.single_main dl{float:left; position:relative;}
				.single_main dl dt img{display:inline-block; width:99px; height:99px;}
				.single_main dl dd{height:20px; line-height:20px;}
			.single_main p{float:left; margin-top:40px; font:bold 18px "微软雅黑"; color:#75b333;}	
            
			/*设置管理员*/
			.float_main{width:90px; height:20px; position:absolute; top:75px; left:6px; background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0 !important;filter:alpha(opacity=70);background:#333;}
				.float_main_p{font:12px "宋体"; padding:4px 0px 0px 10px; width:80px; height:16px; position:absolute; top:0px; left:0px; text-align:left;}
				.float_main_p a{color:#fff; filter:alpha(opacity=100);}

/*弹出层*/
		
/*设置成功*/
.success_main{width:160px; background:#fff; border:1px #6db500 solid; padding:20px;font:14px "微软雅黑";}	
	.icon_success{background:url(../../images/ClassAdmin/list/icon_success.gif) 0 0 no-repeat; width:27px; height:22px; display:inline-block; margin-right:10px; float:left;}	
		
		
		
/*班级名称修改*/
.edit_comment{width:400px;border:1px #6db500 solid; background:#fff;}
	.tcc_title{font:14px "微软雅黑"; background:#f8f8f8; border-bottom:1px #e9e9e9 solid; padding:0px 10px; height:33px; line-height:33px; width:380px; position:relative;}
	    .close_icon{background:url(../../images/ClassAdmin/list/icon_close.gif) 0 0 no-repeat;width:10px;height:9px;display:inline-block;position:absolute;right:10px;top:12px;overflow:hidden;}
	  
	.edit_comment_tab{padding:10px; font:14px "微软雅黑";}  
		.text_wbk{width:200px; height:18px; line-height:18px;}
	
	.msg_btn{padding:6px 10px 0px; height:30px; background:#f2f2f2;}	
		.msg_btn p{text-align:right;}
		.green_btn{background:url(../../images/ClassAdmin/list/green_btn.gif) 0 0 no-repeat; width:57px; height:24px; color:#fff; border:none; cursor:pointer;}
		.qx_btn{background:url(../../images/ClassAdmin/list/qx_btn.gif) 0 0 no-repeat; width:57px; height:24px; line-height:24px; border:none; cursor:pointer; text-align:center; color:#73797c; margin-left:10px;}		
		


