@charset "utf-8";
/* CSS Document */
.main h4{ background:url(../../images/ClassAdmin/student_create_account/h4_bj.jpg) 0 0 no-repeat; height:44px; margin:10px; width:920px;}
	.main h4 a{float:right; margin-top:10px;}


.publish_main{border:1px #6db500 solid; border-bottom:none; font:14px "微软雅黑";color:#464646; width:958px;background:#fff;}
	.blog_title{height:16px; background:#f5f5f5; padding:8px 10px; color:#3c3c3c;font:bold 14px "微软雅黑"; border-bottom:1px #e9e9e9 solid; width:938px;}
	
	.list_admin_left{width:260px; float:left; padding:10px 0px; margin-left:10px; display:inline;}
		.list_admin_left h3{height:33px; font:14px "微软雅黑"; padding:0px 0px 0px 10px; line-height:33px; background:#6ba900; border:1px #649d02 solid; color:#fff;}
			.list_admin_left h3 a{display:inline-block; width:200px; text-align:center;}
		
		.admin_left_main{width:238px; border:1px #CCCCCC solid; border-top:none; padding:10px;}
			.admin_left_main ul{width:200px; height:380px; overflow:auto;}
				.admin_left_main ul li a{color:#464646; display:inline-block; width:160px; padding:4px 10px; text-decoration:none;}
				.admin_left_main ul li a:hover{background:#deeec1; text-decoration:none; color:#3a8a00;}
			.list_admin_left p{padding:10px 0px 0px;}	
	
	.list_admin_center{width:140px; float:left; padding:120px 20px 0px 30px;}
	
	.list_admin_right{width:440px; float:left; padding:10px 0px;}
		.list_admin_right h3{height:33px; font:14px "微软雅黑"; padding:0px 0px 0px 10px; line-height:33px; background:#6ba900; border:1px #649d02 solid; color:#fff;}
		
		.admin_right_main{width:418px; border:1px #CCCCCC solid; border-top:none; padding:10px;}
			.admin_right_tab{height:340px; overflow:auto;}
			.admin_right_tab table{text-align:center; width:400px;}
				.admin_right_tab table th{height:34px; background:#e3f2c6; border:1px #b6ce89 solid;border-left:none;}
				.admin_right_tab table td{text-align:center; height:30px; border-right:1px #b6ce89 solid; border-bottom:1px #b6ce89 solid;}
				.admin_right_tab table .border_left{ border-left:1px #b6ce89 solid;}
				.admin_right_tab table tr:hover{background:#eef7dd;}
			
			.admin_right_main p{padding:10px 0px 0px; height:30px;}
				.admin_right_main p a{float:right;}
	

	
/*弹出层*/
/*提示稍后信息*/
.msg_hold_on{width:240px; background:#fff; border:1px #6db500 solid;}
	.msg_hold_on p{font:bold 14px "微软雅黑"; padding:10px; color:#FF0000;}


/*提示信息*/	   
.tcc_msg{width:320px; color:#666; background:#fff;}
	.tcc_msg_top{background:url(../../images/ClassAdmin/student_create_account/tcc_msg_top.gif) 0 0 no-repeat; height:5px; overflow:hidden;}
	.tcc_msg_center{background:url(../../images/ClassAdmin/student_create_account/tcc_msg_center.gif) 0 0 repeat-y; padding:10px;}
	    .msg_center_main{width:300px;}
	    	.msg_center_main dl{float:left; margin-right:8px; width:21px;}
			.msg_center_main p{float:left;font:normal 12px "宋体"; line-height:20px;}
			
			.icon_warn{ background:url(../../images/Common/sns_images/icon_warn.gif) 0 0 no-repeat; width:21px; height:21px; display:inline-block;}
		
		
	.tcc_msg_bottom{background:url(../../images/ClassAdmin/student_create_account/tcc_msg_bottom.gif) 0 0 no-repeat; height:5px; overflow:hidden;}		


