<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>我的日记</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/newhomepage.css"  />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/diary.css"  />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/jquery.alerts.css"  />

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jqy-lib.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/common.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/tool.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/jquery.form.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/jquery-textarea.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/jquery.alerts.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog/plugins/iframeTools.source.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jqyphoto.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/log/log.js"></script>

</head>

<body>
<div class="box">
<div class="nav">
{insert name="publicHeader" class_code = $class_code}
<div class="main">
{insert name="account_left" class_code = $class_code}


<div class="sub_right">
	<div class="sub_diary">
		<div class="sub_diaryl">
			<ul>
				<li><i class="di1"></i><a href='/Homepzone/Pzonelog/mylogindex/class_code/{$class_code}'>我的日记</a></li>
				<li><i class="di2"></i><a href='/Homepzone/Pzonelog/logDraft/class_code/{$class_code}'>草稿箱</a></li>
			</ul>
		</div>
		<div class="sub_diaryr">
			<ul>
				<li><i class="di3"></i><a href='/Homepzone/Pzonelog/writelog/class_code/{$class_code}'>写日记</a></li>
				<li><i class="di4"></i><a href="/Homepzone/Pzonelog/manage_log_type/class_code/{$class_code}" style="float:right; margin-right:10px;">分类管理</a></li>
			</ul>
		</div>
	</div><!--sub_diary end-->
<span class="blank20"></span>

<div class="sub_diary_t">

<div class="sub_diary_tl">
	{if !empty($mylog_list)}
		{foreach from=$mylog_list item=vo}
			<div class="sub_diary_tlt">
					<h2><span>&nbsp;&nbsp;&nbsp;{if $vo.push_class=='on'}【分享】{/if}日记分类：<a href="/Homepzone/Pzonelog/mylogindex/logtype/{$vo.log_type}">{$vo.logtype_name}</a></span>
					{$vo.log_name|cutstr:20:1}
					</h2>
				<p>{$vo.log_contentall}</p>
				<div class="sub_diary_tlb">
					<div class="sub_diary_tlb_left">
					<a href="/Homepzone/Pzonelog/look_mylog/logtype/{$vo.log_type}/log_id/{$vo.log_id}/class_code/{$class_code}">阅读全文</a>(<span>{$vo.read_count}</span>)
					&nbsp;&nbsp;
					<a href="/Homepzone/Pzonelog/look_mylog/logtype/{$vo.log_type}/log_id/{$vo.log_id}/class_code/{$class_code}">评论(<span>{$vo.plun_count}</span>)</a>

					&nbsp;&nbsp;&nbsp;发布时间：{$vo.upd_date}
					</div>
					<div class="sub_diary_tlb_right">
					<input type="button"  value="编辑" onclick="javascript:window.location='/Homepzone/Pzonelog/writelog/logtype/{$log_type}/logid/{$vo.log_id}/class_code/{$class_code}';" class='inputbg1'>
					&nbsp;&nbsp;
					<input type="button"  value="删除" onclick="javascript:dellog('{$vo.log_id}','{$log_type}','1',{$class_code});" class='inputbg1'>
					</div>
				</div>
			</div>
		{/foreach}
		{$pageinfohtml}
	{else}
	<div class="bignotip">
	 <p><span></span><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/new/blank.png" class="arr_left"> 你的日记本太干净了，什么也没写。日记本记录你的生活点滴，留下你的成长足迹。
	 <img src="images/blank.png" class="arr_right"></p>
	 <a href="/Homepzone/Pzonelog/writelog/class_code/{$class_code}" style="color:#cc8038;" class="ui-btn-comm ui-btn-larger">那就写一篇吧</a>
	</div>
{/if}


</div><!--sub_diary_tl end-->

<div class="sub_diary_tr">
<div class="sub_diary_trt">

{literal}
<script type="text/javascript">
    <!-- Hide this script from old browsers --
    setCal()
    function getTime() {
    // 初始化时间
    var now = new Date()
    var hour = now.getHours()
    var minute = now.getMinutes()
    now = null
    var ampm = "" 
    // 时间检测，并设置上下午AM和PM
    //if (hour >= 12) {
    //hour -= 12
    //ampm = "PM"
    //} else
    //ampm = "AM"
    //hour = (hour == 0) ? 12 : hour
    // add zero digit to a one digit minute
    if (minute < 10)
    minute = "0" + minute // do not parse this number!
    // return time string
    return hour + ":" + minute + " " + ampm
    }
    function leapYear(year) {
    if (year % 4 == 0) // basic rule
    return true // is leap year
    // else not needed when statement is "return"
    return false // is not leap year
    }
    function getDays(month, year) {
    // 设定每月的天数数组
    var ar = new Array(12)
    ar[0] = 31 // January
    ar[1] = (leapYear(year)) ? 29 : 28 // February
    ar[2] = 31 // March
    ar[3] = 30 // April
    ar[4] = 31 // May
    ar[5] = 30 // June
    ar[6] = 31 // July
    ar[7] = 31 // August
    ar[8] = 30 // September
    ar[9] = 31 // October
    ar[10] = 30 // November
    ar[11] = 31 // December
    
    return ar[month]
    }
    function getMonthName(month) {
    // 为月份名称设定数组
    var ar = new Array(12)
    ar[0] = "1月"
    ar[1] = "2月"
    ar[2] = "3月"
    ar[3] = "4月"
    ar[4] = "5月"
    ar[5] = "6月"
    ar[6] = "7月"
    ar[7] = "8月"
    ar[8] = "9月"
    ar[9] = "10月"
    ar[10] = "11月"
    ar[11] = "12月"
    
    return ar[month]
    }
    function setCal() {
    
    var now = new Date()
    var year = now.getFullYear()
    var month = now.getMonth()
    var monthName = getMonthName(month)
    var date = now.getDate()
    now = null
    
    var firstDayInstance = new Date(year, month, 1)
    var firstDay = firstDayInstance.getDay()
    firstDayInstance = null
    
    var days = getDays(month, year)
    // 呼叫函数画日历
    drawCal(firstDay + 1, days, date, monthName, year)
    }
    function drawCal(firstDay, lastDate, date, monthName, year) {
    // 以下设定表格的属性，这些参数可以自己改变，只是注意相互匹配。
    var headerHeight = 25 // height of the table's header cell
    var border = 0 // 3D height of table's border
    var cellspacing = 1 // width of table's border
    var headerColor = "#000000" // color of table's header
    var headerSize = "1" // size of tables header font
    var colWidth = 15 // width of columns in table
    var dayCellHeight = 30 // height of cells containing days of the week
    var dayColor = "#ffffff" // color of font representing week days
    var cellHeight = 20 // height of cells representing dates in the calendar
    var todayColor = "red" // color specifying today's date in the calendar
    var timeColor = "black" // color of font representing current time
    // create basic table structure
    var text = "" // initialize accumulative variable to empty string
    text += '<CENTER>'
    text += '<TABLE  width=95% border=' + border + ' CELLSPACING=' + cellspacing + '>' // table settings
    text += '<TH COLSPAN=7 bgcolor=#efefef HEIGHT=' + headerHeight + '>' // create table header cell
    text += '<FONT COLOR="' + headerColor + '" SIZE=' + headerSize + '>' // set font for table header
    text += year +'年'+monthName 
    text += '</FONT>'
    text += '<FONT COLOR="' + timeColor + '" >'
    text += getTime() 
    text += '</FONT>' // close table header's font settings
    text += '</TH>' // close header cell
    // variables to hold constant settings
    var openCol = '<TD WIDTH=' + colWidth + ' HEIGHT=' + dayCellHeight + ' align="center">'
    openCol += '<FONT COLOR="' + dayColor + '">'
    var closeCol = '</FONT></TD>'
    // create array of abbreviated day names
    var weekDay = new Array(7)
    weekDay[0] = "日"
    weekDay[1] = "一"
    weekDay[2] = "二"
    weekDay[3] = "三"
    weekDay[4] = "四"
    weekDay[5] = "五"
    weekDay[6] = "六"
    
    // create first row of table to set column width and specify week day
    text += '<TR ALIGN="center" VALIGN="center">'
    for (var dayNum = 0; dayNum < 7; ++dayNum) {
    text += openCol + weekDay[dayNum] + closeCol 
    }
    text += '</TR>'
    
    var digit = 1
    var curCell = 1
    
    for (var row = 1; row <= Math.ceil((lastDate + firstDay - 1) / 7); ++row) {
    text += '<TR ALIGN="left" VALIGN="top">'
    for (var col = 1; col <= 7; ++col) {
    if (digit > lastDate)
    break
    if (curCell < firstDay) {
    text += '<TD></TD>';
    curCell++
    } else {
    if (digit == date) {
    text += '<TD HEIGHT=' + cellHeight + '>'
    text += '<FONT COLOR="' + todayColor + '">'
    text += digit
    text += '</FONT><BR>'
    
    text += '</TD>'
    } else
    text += '<TD HEIGHT=' + cellHeight + '>' + digit + '</TD>'
    digit++
    }
    }
    text += '</TR>'
    }
    text += '</TABLE>'
    text += '</CENTER>'
    document.write(text) 
    }
    // -- End Hiding Here -->
    </script>
 {/literal}


</div>

<div class="sub_diary_trb">
<h2><span><a href="/Homepzone/Pzonelog/manage_log_type/class_code/{$class_code}" >分类管理</a></span>日记分类</h2>
<div class="sub_diary_trbt">
<ul>
 {foreach from=$typelist item=lt key=key}
	<li><span><font>({$log_by_type_count[$key]})</font>篇</span><a href="/Homepzone/Pzonelog/mylogindex/logtype/{$lt.logtype_id}/class_code/{$class_code}">{$lt.logtype_name}</a></li>
 {/foreach}
</ul>
</div>
</div>

</div><!--sub_diary_tr end-->

</div><!--sub_diary_t end-->

</div>
<!--sub_right end-->
<div class="kong"></div>
</div><!--main end-->


{include file="Public/footer.html"}



</div><!--nav end-->
</div><!--box end-->
</body>
</html>
