<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>我的相册</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/newhomepage.css"  />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/diary.css"  />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/slAlbum.css"  />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/jquery.alerts.css"  />

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/common.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/tool.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/jquery.form.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/jquery-textarea.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/jquery.alerts.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jqyphoto.js"></script>

</head>


<body>
<div class="box">
<div class="nav">
{insert name="publicHeader" class_code = $class_code}
<div class="main">
{insert name="account_left" class_code = $class_code}


<div class="sub_right">
	<div class="sub_diary">
		<div class="sub_diaryl">
			<ul>
				<li><i class="di1"></i><a href='/Homepzone/Pzonephoto/photoindex/class_code/{$class_code}'>我的相册</a></li>
			</ul>
		</div>
         <input type="button" value="上传照片" class="inputbg2" onclick="javascript:upphoto('{$xiangce_list[0][album_id]}','{$class_code}');"/>
		<input type="button" value="新建相册" class="inputbg2" onclick="javascript:JcreateAllbum('{$account}','GR','{$class_code}');"/>	 

	</div><!--sub_diary end-->
<span class="blank20"></span>
{if !empty($xiangce_list)}
	{foreach from=$xiangce_list item=xc}
	<div class='AlbumImgK'>
		<div class='AlbumImg'><a href="/Homepzone/Pzonephoto/xcmanager/user_account/{$account}/xcid/{$xc.album_id}/class_code/{$class_code}">
		<img src="{$xc.xcimg}" onerror="this.src='{$smarty.const.IMG_SERVER}__PUBLIC__/images/new/no_photo_f.jpg'"/></a></div>
		<div class='AlbumTitle'>{$xc.album_name}</div>
		{if $xc.album_create_type!=2}
		<div class='Albumcontrol'>
		 <a href="javascript:JmodfileAllbum('{$account}','{$xc.album_id}');">编辑</a>&nbsp;&nbsp;
		 <a href="javascript:;" onclick="javascript:Jqy_deleteBtn('操作动作：相册删除-您确认删除此相册吗','相册删除','/Homepzone/Pzonephoto/deletexc','/user_account/{$account}/xcid/{$xc.album_id}/class_code/{$class_code}','400','100');">删除</a></div>
		 {/if}
	</div>
	{/foreach}
	{if $logcount>$pagecount}
		<div class='divpageinfo'>{$pageinfo}</div>
	{/if}
{/if}
<!--sub_right end-->
<div class="kong"></div>
</div><!--main end-->
{include file="Public/footer.html"}

</div><!--nav end-->
</div><!--box end-->
</body>
</html>
