@charset "utf-8";
/* CSS Document */
*,html{ margin:0px; padding:0px;}
iframe{ display:block;}
ul{list-style:none;}
a{text-decoration:none;}
a img{border:none;}

.wdxcgl_main{width:760px; margin:0px 0px 0px 0px; backgro/und:#eeeeee;posit/ion:relative;float:left;}
.wdxcgl_main_left{width:550px; margin-right:10px; float:left;}
.wdxcgl_main_left p a{color:#31447e;}
.wdxcgl_main_left p a:hover{text-decoration:underline;}
.wdxcgl_main_left dl{width:130px; height:162px; float:left;}
.wdxcgl_main_left dl dt{width:112px; padding-left:10px; height:112px; padding-top:10px;}
.wdxcgl_main_left dl dd{width:116px; height:20px; line-height:20px; padding-top:10px!important; _padding-top:0px; text-align:center;}

.wdxcgl_di_ye{width:490px; float:left; text-align:center; height:30px; padding-top:10px; font-size:14px; padding-left:240px;}
.wdxcgl_main_left .wdxcgl_di_ye a{margin-right:6px; color:#333; display:block; width:50px; height:20px; float:left; line-height:20px;}

.glxc_msan{width:75px; height:23px; background:url(../images/w_tj_btn.jpg) no-repeat; border:none; color:#FFF;}

.wdxcgl_main_right{width:200px; float:left;padding:5px;}
.wdxcgl_main_right p a{font-size:12px; font-weight:normal;color:#31447e;}
.wdxcgl_main_right p a:hover{text-decoration:underline;}

.wdxcgl_right_tu{width:200px; height:60px; margin-top:10px;}
.wdxcgl_right_tu img{float:left; margin-right:10px;}
.wdxcgl_right_tu p{line-height:22px;}
.wdxcgl_right_tu p span{color:#999;}

#div1 img{margin-right:10px;}
#div2 img{margin-right:10px;}

.xcgl_left_pl{height:24px; line-height:24px; font-size:14px; padding-bottom:10px;}
.xcgl_left_pl a{color:#31447e;}
.xcgl_left_pl a:hover{text-decoration:underline;}


