<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>布置工作-详细工作内容</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/css/style.css"  />

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/ui/ext/dialog.js"></script>

{literal}
<script type="text/javascript">

	function set_page(){
		$("#page").val(2);
	}
	
	function switch_view(){
		var switch_view = $("#switch_view").css("display");
		if(switch_view == "block"){
			$("#switch_view").hide();
			$("#show_text").text("显示回复");
		}else{
			$("#switch_view").show();
			$("#show_text").text("隐藏回复");
		}
	}
	
	function get_reply(){  //异步获取回复信息
		var last_key;
		var param = {};
		param.task_id = $("#task_id").val();
		param.page = $("#page").val();
		$.ajax({
			type : "GET", 
			url : '/Oa/Task/replyList',
			dataType : "json",
			data : param,
			success : function(data) {
			var json = data.data;
				if(data.error.code>0){
					for(var key in json){
						$("<p class='hidden_left' id='reply_str_"+key+"'>"+json[key].client_name+":&nbsp;"+json[key].reply_content+"<br /><span class='font_gray'>回复时间："+json[key].add_time+"</span></p>").appendTo("#div_reply");
						last_key = key;
					}
					$(" <div class='clear'></div>").appendTo("#div_reply");
					$("#last_key").val(last_key); //记录最后一条回复的id
					$("#page").val(parseInt($("#page").val())+1); //页码加1
					$("#div_reply").show();
					$("#more_reply").show();
				}else{
					alert("已到最后一页");
					$("#last_key").val(0); 
					$("#more_reply").hide();
				}
			}
		});
	}
	    
	function add_reply(){ //异步添加回复信息
	   	var param={};
		param.task_id = $("#task_id").val();
		param.push_id = $("#push_id").val();
		param.reply_content = $("#reply_content").val();
		param.reply_content = (param.reply_content).replace(/(^\s*)|(\s*$)/g, "");  //先去除空格
		if(param.reply_content == ""){
			alert("请填写回复内容");
			return false;
		}
		if(param.reply_content.length > 150){
			alert("您回复的内容超过150字上限");
			return false;
		}
	   	$.ajax({
			type : "POST",
			url : "/Oa/Task/addTaskReply",
			dataType : "json",
			data : param,
			success : function(data) {
				var json = data.data;
				alert(data.error.message);
				if(data.error.code>0){
					$("#my_reply").prepend("<p class='hidden_left'id='reply_str_1000'>"+data.data.client_name+":&nbsp;"+param.reply_content+"<br /><span class='font_gray'>回复时间："+data.data.add_date+"</span></p>");
					$("#my_reply").show();
				    $("#reply_input").hide();					
					
					var key = $("#last_key").val();
					$("#reply_str_"+key).remove();
					$("#noreply").remove();
				} 
			}
		});		
	}
	    
	function w_show(flag){
		flag = parseInt(flag); 
		var reflag = flag ? 0 :1; 
		$("#w_show_"+flag).show();
		$("#w_show_"+reflag).hide();
	}
	
	function backToList(){
		var is_to_me = $("#is_to_me").val();
		var list_page = $("#list_page").val();
		if(is_to_me){ //返回到“布置给我的工作列表”，通过重新请求刷新页面数据
			window.location.href = "/Oa/Expireremind/arrangeworkself/page/"+list_page;
		}else{
			window.history.go(-1);
		}
	}

</script>
{/literal}
</head>

<body onload="javascipt:set_page();">
<!--top-->
{insert name="oa_header" uid=$uid}
<!--top end-->

<!--main-->    
<div class="index_mian2">
	<!--left-->
	{insert name="oa_left" uid=$uid}
    <!--left end-->
    
    <!--you-->
      <div class="you">
        <!--button-->
        <ul>
          <li><a href="#" class="a_green" style="text-decoration:none;" onclick="javascript:backToList();">返回</a></li>
         </ul>
        <!--button end-->
        <h4>{$task_info.task_title}</h4>
        <ul class="font_gray">发布人：{$task_info.publisher_name}</ul>

        <div class="light_blue" style="line-height:22px;display:block;clear:both;width:720px;word-wrap:break-word;word-break:break-all;">
         	{$task_info.task_content}
         </div>
        <p>
         	<br>
         		{if $task_info.expiration_time}<img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/icon11.gif" />{/if}
	          	{if $task_info.need_reply}<img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/icon12.gif" />{/if}
	          	{if $task_info.need_sms_push}<img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/icon13.gif" />{/if}
	          	{if $task_info.need_sms_remind}<img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/icon14.gif" />{/if}
         	</br>
        </p>
        <p class="blue_bj"><span class="font_blue">工作发布日期：{$task_info.upd_date}</span><span class="font_red">{if $task_info.expiration_date}工作交付日期：{$task_info.expiration_date}{else}工作交付日期：无{/if}</span></p>
      
        
  {if $is_published}
        <div class="xxgz_main">
	          <p>
	           <span><a   class="a_blue" style="text-decoration:none;" onclick="javascript:w_show(0);">收件人</a><a   class="a_blue" style="text-decoration:none;" onclick="javascript:w_show(1);">状态</a></span>
	           <ul><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/green_xfk.gif" /> 回复<img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/red_xfk.gif" />已读<img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/pink_xfk.gif" />未查看</ul>
	          </p>
	         <div id="w_show_0" style="display:block">
	          
	          {foreach from=$task_info.to_accounts_name key=dpt_name item=uname_list}
	          <p class="font_color" style="width:700px; word-wrap:break-word; word-break:break-all;">
	           <span> <strong>{$dpt_name}：&nbsp;</strong></span> 
	           			<!--{foreach from=$uname_list key=account item=u_info}-->
	           				<span style="width:62px; text-align:left;" class="flag_color_{$u_info.handle_flag}">{$u_info.client_name}&nbsp;</span>
	           			<!--{/foreach}-->
	           <div class="clear"></div>
	          </p> 	
	          
	          {/foreach}
	          
          </div>
          <div id="w_show_1" style="display:none">
	          <p class="zt_font">
	            <img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/green_xfk.gif" />回复：{$statistics.num_reply}人&nbsp;&nbsp;回复率{$statistics.rate_reply}%
	          </p>
	          <p class="zt_font">
	            <img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/red_xfk.gif" />已读：{$statistics.num_viewed}人&nbsp;&nbsp;已读率{$statistics.rate_viewed}%
	          </p>
	          <p class="zt_font">
	            <img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/pink_xfk.gif" />未查看：{$statistics.num_noviewed}人
	          </p> 
          </div>
          <div class="clear"></div>
        </div>
   {/if} 
   {if $task_need_replied && $need_me_reply}
        <div id="reply_input">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
	          <tr>
	            <td>工作回复:</td>
	            <td><textarea class="textarea" id="reply_content" name="reply_content"></textarea></td>
	          </tr>
	          <tr>
	            <td height="30"></td>
	            <td><input type="button" value="确定" id="reply" class="green_btn" onclick="javascirpt:add_reply();"/></td>
	          </tr>
        </table>
        <input type="hidden" name="push_id" id="push_id" value="{$push_id}"></input>
        </div>
  {/if}
        <div class="clear"></div>
  {if $task_need_replied}
        <p class="xshf"><span onclick="javascript:switch_view();" id="show_text" style="color:#0073b2; cursor:pointer; ">隐藏回复</span> </p>
		<div id="switch_view" >
          <div class="clear"></div>
          <div class="hidden" id="my_reply">
          {foreach from=$reply_list key=reply_id item=reply_info}
          	<p class="hidden_left" id="reply_str_{$reply_id}"><strong>{$reply_info.client_name}</strong>：{$reply_info.reply_content}<br />
          	<span class="font_gray">回复时间：{$reply_info.add_time}</span></p>
          {/foreach}
           <div class="clear"></div>
          </div>
           <!--more reply-->
        	<div class="hidden" id="div_reply" style="display:none">
        	</div>
          <div class="clear"></div>
          <div class="hidden">
	          <p id="hr"></p>
	          {if $reply_list !=""}
	          <h4 ><a  id="more_reply"   onclick="javascript:get_reply();">点击载入更多</a></h4>
	          {else}
	          <div id="noreply">
	          	暂无回复
	          </div>
	          	<div class="clear"></div>
	          {/if}
          </div>
        </div>
   {/if}
   <div class="clear"></div> 
 </div>
  <div class="clear"></div>
 </div>  
 <!--main end-->   
	<input type="hidden" id="last_key" value="{$last_key}"/>
	<input type="hidden" id="page" value="{$page}"/>
	<input type="hidden" id="list_page" value="{$list_page}"/>
	<input type="hidden" id="task_id" value="{$task_id}"/>
	<input type="hidden" id="is_to_me" value="{$is_to_me}"/>
</body>
</html>
