@CHARSET "UTF-8";

/*发送框样式 */
*{margin:0;padding:0}
.sendboxcontainer {
    padding:0;
    text-align: center;
    width: 100%;
    background: none repeat scroll 0 0 #ECF5FB;
    border-bottom: 1px solid #C4E2F7;
    margin-left: 1px;
    color: #333333;
    font: 12px Tahoma,Arial,"宋体",sans-serif;
}


/* 全局样式 */
.sendbox a {
	color: #2B4A78;
	text-decoration: none;
}
.sendbox table {
	border-collapse:collapse;
	border-spacing:0;
}
.sendbox ul, .sendbox ol, .sendbox li {
	list-style:none;
}
.sendbox em {
	font-style:normal;
}
.sendbox a:hover {
	text-decoration:underline;
}
.sendbox a img {
	border:0;
}
.sendbox input, .sendbox label {
	vertical-align:middle;
}
.sendbox .gray {
	color:gray;
}
.sendbox .hide {
	display:none;
}
.sendbox .vbottom {
	vertical-align:bottom;
}
.sendbox .vtop {
	vertical-align:top;
}
.sendbox .vmiddle{
	vertical-align:middle;
}
.sendbox input[type="text"], .sendbox input[type="password"], .sendbox textarea, .sendbox .placeholder{
	font-size:12px;
}
.sendbox .sendboxtitle {
    display: block;
    font: bold 12px/1.75 'MicroSoft YaHei',SimHei;
    margin: 0 0 5px;
}

.sendbox .holder {
    line-height: 0;
}

.sendbox .sendtext {
    background-position: -1084px 0;
    background-repeat: repeat-y;
}

.sendbox .sendtext1, .sendbox .sendtext2 {
    font-size: 0;
    height: 6px;
}

.sendbox .actionlist {
    float: left;
    left: 0;
    position: relative;
    top: 5px;
    width: 100%;
}
.sendbox .actionlist div {
    display: inline-block;
    float: left;
    line-height: 100%;
    margin-right: 8px;
}
.sendbox .actionlist div b {
    display: inline-block;
    float: left;
    height: 16px;
    margin-right: 3px;
    vertical-align: middle;
    width: 18px;
}
.sendbox .actionlist div b.huati {
    width: 14px;
}
.sendbox .actionlist div a {
    display: inline-block;
    float: left;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}
.sendbox .actionlist div a.zhaopiantxt {
}
.sendbox .actionlist div a input {
    cursor: pointer;
    left: -190px;
    opacity: 0;
    position: absolute;
    top: 0;
}
.sendbox .actionlist div a:hover {
    text-decoration: underline;
}
.sendbox .actionlist div .gray {
    float: left;
    line-height: 100%;
}
.sendbox .txtandbutton {
    clear: both;
    text-align: right;
}
.sendbox .sendcontrol {
    float: right;
    margin: 18px 0 0;
    text-align: right;
}
.sendbox .sendcontrol .sendmsg {
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 15px;
}
.sendbox .sendcontrol .sendmsg big {
    font-family: Georgia,Tahoma,Arial;
    font-size: 26px;
}
.sendbox .sendcontrol .sendbtn {
    border: medium none;
    cursor: pointer;
    height: 32px;
    vertical-align: top;
    width: 100px;
}
.sendbox .del {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 12px;
    overflow: hidden;
    width: 16px;
    background: url("default/btns.gif") -133px -37px;
}
.sendbox .sendcontrol .mainsendboxerror, .sendbox .sendcontrol .mainsendboxsuccess {
    line-height: 32px;
    margin-right: 15px;
}
/**
 * qq表情部分的css代码
 */
.iwbQQFace {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ADADAD;
    box-shadow: 1px 1px 2px #CAC8C8;
    display: none;
    padding: 30px 10px 10px;
    position: absolute;
    width: 436px;
    z-index: 1999;
}
.iwbQQFace .qqFaceBox {
    background: url("../images/qqface1.gif") no-repeat scroll 0 0 transparent;
    border-left: 1px solid #DFE6F6;
    border-top: 1px solid #DFE6F6;
    height: 203px;
    margin-top: 5px;
    position: relative;
    width: 435px;
}
.iwbQQFace .qqFaceBox a {
    border-bottom: 1px solid #DFE6F6;
    border-right: 1px solid #DFE6F6;
    display: block;
    float: left;
    height: 28px;
    width: 28px;
    color: #2B4A78;
	text-decoration: none;
}
.iwbQQFace .qqFacePreview {
    background: none repeat scroll 0 0 #008AFF;
    border: 1px solid #DFE6F6;
    display: none;
    padding: 1px;
    position: absolute;
    top: 0;
    width: 53px;
}
.iwbQQFace .qqFacePreviewImg {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 33px;
    padding-top: 5px;
    text-align: center;
}
.iwbQQFace .qqFacePreviewText {
    background: none repeat scroll 0 0 #F1F1F1;
    color: #999999;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}
.iwbAutoCloseLayer .close {
    position: absolute;
    right: 10px;
    top: 10px;
}
.close {
    background: url("default/b1.gif") no-repeat scroll -232px -84px transparent;
    height: 15px;
    width: 15px;
}
.icon_home, .icon_at, .icon_loading, .icon_broadcast, .icon_arrowdown, .icon_collect, .icon_school, .icon_book, .icon_mail, .icon_mobile, .icon_real, .icon_vip, .close, .icon_angle, .icon_message, .icon_data, .icon_angledown, .icon_angleleft, .icon_topic, .icon_emotion, .icon_towall, .icon_down, .icon_up, .icon_mes, .icon_pic, .icon_ok, .icon_mess, .icon_note, .icon_error, .icon_living, .icon_lived, .icon_liver, .icon_ask, .icon_answer, .icon_facesetting, .icon_success, .icon_login {
    display: inline-block;
    font-size: 0;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}
.sendbox .sendcontrol .sendbtn {
    background: url("default/submit1.gif") repeat scroll 0 0 transparent;
}
.sendbox .actionlist div b.biaoqing {
    background-position: -68px 0;
}
/*skin部分的css代码*/
.sendboxcontainer{
	background:#ECF5FB;
	border-bottom:1px solid #C4E2F7;
	margin-left:1px;
}
.nobg .sendboxcontainer{
	background:none;
	filter:none;
	border-bottom:none;
}

.sendbox .actionlist div b{
	background: url("default/sendbox_btns.gif") no-repeat;
}
.sendbox .actionlist div b.huati{
	background-position:0 0;
}
.sendbox .actionlist div b.zhaopian{
	background-position: -16px 0;
}
.sendbox .actionlist div b.pengyou{
	background:url("default/menu_icon.gif") -30px 0 no-repeat;
}
.sendbox .actionlist div b.shipin{
	background-position: -34px 0;
}
.sendbox .actionlist div b.yinyue{
	background-position: -50px 0;
}
.sendbox .actionlist div b.biaoqing{
	background-position: -68px 0;
}
.sendbox .sendcontrol{
	color:#999;
}
.sendbox .sendcontrol .sendbtn{
	background: url("default/submit1.gif");
}
.sendbox .sendcontrol .sendbtn:hover{
	background-position:0 -32px;
}


/*宽度为580px的样式*/
.sendbox textarea {
    border: 0 none;
	border: #c4e2f7 solid 1px;
    font-size: 12px;
    height: 65px;
	padding:6px;
    margin: 0;
    outline: medium none;
    overflow: auto;
    resize: none;
    width: 320px;                /*文本框宽度 设定值-12px 文本框最小宽度不能小于320px*/
}
.sendbox {
    display: inline-block;
    margin: 10px auto 0;
    text-align: center;
}
