<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>Insert title here</title>

</head>
<body>
<p style="text-align:center; display:block; height:25px;"><strong >短信发送功能测试：</strong></p>

<form method="post" action="/Smssend/Smssend/send">
<p style="text-align:center;display:block; height:25px;"><strong >短信内容：</strong></p>
<p style="text-align:center;"><textarea name="content" style="width:800px; height:400px"></textarea></p>
<p style="text-align:center;display:block; height:25px;"><strong >手机号（多手机号之间请用英文输入状态下的逗号隔开）：</strong></p>
<p style="text-align:center;"><textarea name="mobile" style="width:800px; height:200px"></textarea></p>

<p style="text-align:center;"><input type="submit" value="提交"></p>
</form>


</body>
</html>