<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>信息群发</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/wms/css/common.css"  />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/wms/css/sqsh.css"  />

</head>
<body style="padding-top:30px; _width:98%">

<table width="92%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td height="20" valign="middle" class="cotent_top">您好：<font color="#FF0000">{$username}</font> ，欢迎使用BMS管理系统！您所在的位置：<font color="#FF0000">信息群发</font></td>
  </tr>
</table>
<table width="92%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="27" class="bt">信息群发</td>
  </tr>
</table>

<form id="fom" action="" method="post">
	<table width="92%" border="0" cellpadding="0" cellspacing="0" bgcolor="f0f0f0">
		<tr>
			<td width="80" height="35" style="padding-left:30px;">收件学校：</td>
			<td>{$sms_info.operation_strategy_str}</td>
		</tr>
		<tr>
			<td height="30" style="padding-left:30px;">发送范围：</td>
			<td>{$sms_info.send_range_str}</td>
		</tr>
		<tr>
			<td height="30" style="padding-left:30px;">正文内容：</td>
			<td>
			<div class='wordwrap' style="word-break:break-all;width:500px">
			{$sms_info.content}
			</div>
			</td>
		</tr>
		<tr>
			<td height="30" style="padding-left:30px;"><span>发送时间：</span></td>
			<td>
				<span>{$sms_info.send_date}</span>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<input type="button" class="jxqd" value="返回" onclick="javascript:history.go(-1);"/>
			</td>
		</tr>
	</table>
</form>
</body>
</html>
