<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>已发布成绩</title>
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css">
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/ClassExam/list_admin.css" type="text/css">
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/ClassExam/publish.css" type="text/css">

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/my97datepicker/WdatePicker.js" defer="defer"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/plugins/iframeTools.source.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/ClassExam/exam_list_teacher.js"></script>
</head>
<body>
<!-- 头部start -->
{insert name="sns_header" uid = $uid}
<!-- 头部end -->

<!-- 班级头部导航start -->
{insert name="sns_class_header" class_code = $class_code}
<!-- 班级头部导航end -->

<!--content star-->
<div class="content">
  <!--main star-->
  <div class="main">
    <!--nav star-->
	{insert name="sns_nav" class_code = $class_code}
    <!--nav end-->
    <h4></h4>
    <ul>
     <li>
     <a href="/Sns/ClassExam/Publish/index/class_code/{$class_code}" class="main_nav_a2 f16" title="">发布成绩</a>
     <a href="/Sns/ClassExam/Exam/index/class_code/{$class_code}" class="main_nav_a1 f16" title="">已发布成绩</a></li>
    </ul>
    <!--publish_main star-->
      <div class="publish_main">
        <h3 class="main_title">查找成绩</h3>
        <!--fill_info star-->
        <div class="fill_info">
          <p>{$class_name}</p>
          <table id="search_tab" width="100%" border="0" cellspacing="0" cellpadding="0">
	          <tr>
	            <th>科目：</th>
	            <td>
	            <select name="subject_id" id="subject_id">
	            <option value="">所有科目</option>
	            {foreach from=$subject_list item=subject}
				<option value={$subject.subject_id}>{$subject.subject_name}{if $subject.teacher_name}({$subject.teacher_name}){/if}</option>
				{/foreach}   
	           </select>
	           </td>
	            <th>考试名称：</th>
	            <td><input type="text" id="exam_name" name="exam_name" value="{$exam_name}" maxlength="10" class="text120"></td>
	            <th>考试日期：</th>
	            <th >从</th>
	            <td >&nbsp;<input type="text" id="start_time" name="start_time" value="{$start_time}" readonly="readonly" class="text120"></td>
	            <th>到</th>
	            <td>&nbsp;<input type="text" id="end_time" name="end_time" value="{$end_time}" readonly="readonly" class="text120"></td>
	            <td>
	            <a id="search_btn_a" href="javascript:;" class="f14" title=""><span class="btn_left"></span><span class="btn_right">查询</span></a>
	            </td>
	          </tr>
	       </table>
        </div>
        <!--fill_info end-->
        <div class="exam_list">
          <span class="pic01">成绩列表</span>
        </div>
        <!--list_main star-->
        <div class="list_main">
        <table id="exam_tab" width="100%" border="0" cellspacing="1" cellpadding="0">
          <tr>
            <th class="boder_left">考试名称</th>
            <th>考试科目</th>
            <th>考试日期</th>
            <th>短信发送状态</th>
            <th>操作</th>
          </tr>
          <tr style="display:none;">
          	<td id="sended_icon">
          		<span class="icon_email"></span><span>已发短信</span>
	        </td>
	        <td id="reissue_icon">
	         	<span class="icon_reissue"></span>
	            <input type="button" value="补发短信" title="只给成绩被修改的学生发送" class="send_info_btn sms_reissue">
	        </td>
	        <td id="send_icon" colspan="2">
	            <span class="icon_send"></span>
	            <input type="button" value="发送短信" title="未发送过短信" class="send_info_btn sms_all">
          	</td>
          </tr>
          <tr id="tr_clone" style="display:none;">
            <td class="boder_left"></td>
            <td></td>
            <td></td>
            <td class="td_width"></td>
            <td><a class="view_a" href="javascript:;">查看</a>&nbsp;|<a href="javascript:;" class="del_but">删除</a></td>
          </tr>
        </table>
        <p id="page_list_p">当前第<span id="current_page"></span>页
        	<span id="first_page" title="首页" style="display:none;">当前为首页</span> 
          	<a id="prev_page" href="javascript:;" title="上一页" style="display:none;">上一页</a>
          	<a id="next_page" href="javascript:;" title="下一页" style="display:none;">下一页</a>
          	<span id="last_page" title="尾页" style="display:none;">当前为尾页</span>
        </p>
        </div>
        <!--list_main end-->
      </div>
    <!--publish_main end--> 
    <div class="clear"></div>
    <div class="main_bottom"></div>
  </div>
  <!--main end-->
  <div class="clear"></div>
</div>
<!--cotent end-->

<!-- 尾部start -->
{include file="Public/sns_footer.html"}
<!-- 尾部end -->

<input id="class_code" type="hidden" name="class_code" value="{$class_code}"/>
</body>
</html>