<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>学校用户统计</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/basemanage/css/common.css"  />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/basemanage/css/bms system.css"  />

</head>

<body style="padding-top:30px; _width:98%">
<table width="92%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td height="20" valign="middle" class="cotent_top">您好：<font color="#FF0000">{$baseinfo.base_name}</font> ，欢迎使用BMS管理系统！您所在的位置：<font color="#FF0000">申请管理-学校用户统计</font></td>
  </tr>
</table>
<table width="92%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="27" class="bt">您当前所在的位置：{$schoolInfo.school_name}</td>
  </tr>
</table>
<table width="92%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding-left:10px;" class="line">
      <a href="/Basecontrol/Applyschool/getSchoolInfo/sid/{$sid}" class="a_bj2">学校基本信息</a>
      <a href="/Basecontrol/Applyschool/resetPwd/sid/{$sid}" class="a_bj2">管理员账号管理</a>
      <a href="/Basecontrol/Applyschool/phonebinding/sid/{$sid}" class="a_bj2">手机号绑定</a>
      <a href="/Basecontrol/Applyschool/schooltj/sid/{$sid}" class="a_bj1">学校用户统计</a>   
    </td>
  </tr>
   <tr>
       <td height="30" style="padding-left:10px;"><strong style="color:#0066CC;">用户数量情况</strong></td>
  </tr>
  <tr>
    <td style="padding-left:10px;">
      <table width="40%" border="0" align="left" cellpadding="0" cellspacing="1" class="xxjbxx_tab">
      <tr>
        <th width="30%">用户总计：</th>
        <th>{$people.people_total_count}</th>
      </tr>
      <tr>
        <td>老师：</td>
        <td>{$people.teacher_count}</td>
      </tr>
      <tr>
        <td>学生：</td>
        <td>{$people.student_count}</td>
      </tr>
      <tr>
        <td>家长：</td>
        <td>{$people.parents_count}</td>
      </tr>
      <tr>
        <th>绑定手机总计：</th>
        <th>{$phone.total_phone_count}</th>
      </tr>
      <tr>
        <td>老师：</td>
        <td>{$phone.t_phone_count}</td>
      </tr>
      <!-- <tr>
        <td>学生：</td>
        <td>1000</td>
      </tr> -->
      <tr>
        <td>家长：</td>
        <td>{$phone.f_phone_count}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><input type="button" value="导出班级成员信息到Excel" onclick="javascript:window.location.href='/Basecontrol/Applyschool/echoxml/sid/{$sid}';" class="blue_btn3" /></td>
      </tr>
    </table>

    </td>
  </tr>
</table>
</body>
</html>
