<!--active_member star-->
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/template/template.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/ClassIndex/active_member.js"></script>
    <div id="active_member" class="active_member">
      <div class="active_member_title">
       <h3>班级活跃成员</h3>
       <p class="f14 p_width"><span></span><a href="javascript:;" class="icon_dsjx"></a>(<span class="f13 pr10"></span><span class="f13"></span>)</p>
       <p class="pr10"><a href="/Sns/ClassIndex/Mailbook/index/class_code/{$class_code}">班级通讯录&gt;&gt;</a></p>
       <!-- <p><a href="#">老师圈圈&gt;&gt;</a></p> -->
      <div class="clear"></div>
      </div>
      <!--class_people star-->
      <div class="class_people">
        <div class="class_people_small">
         <p></p>
        </div>
        <div class="clear"></div>
        <!--class_people_big star-->
        <div class="class_people_big" style="display:none;">
        <dl style="display:none;">
          <dt><a href="#"><img src=""></a></dt>
          <dd></dd>
        </dl>
        <div class="clear"></div>
        </div>
        <!--class_people_big end-->
      </div>
      <!--class_people end-->
    </div>
    <!--active_member end-->