<!--bladkground star-->
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/ClassIndex/backborad.js"></script>
    <div class="bladkground" id="backborad">
      <div class="black_left">
        <h3>班级公告</h3>
        <p></p>
        <p class="align_right"></p>
      </div>
      <div class="black_right">
        <h3>课程表</h3>
        <p class="line_bj"></p>
        <p>
          <a id="today" href="javascript:;" class="tommor_bj">今日</a>|<a id="tommor" href="javascript:;">明日</a>
        </p>
        <p class="line_bj"></p>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        </table>
        <p>暂无课程</p>
      </div>
    </div>
    <!--bladkground end-->