<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>班级首页</title>
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/ClassIndex/main.css" type="text/css" charset="utf-8">

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/wmw_js/jquery-1.5.2.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/artDialog4.1.6/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/artDialog4.1.6/plugins/iframeTools.source.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/tip_msg/showtip.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/sendbox/sendbox.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/template/template.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/Feed/feed.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/Feed/feed_unit.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/ClassIndex/main.js"></script>

</head>
<body>
{insert name="sns_header"}

<!--tip star-->
  {insert name="sns_class_header" class_code = $class_code}
<!--tip end--> 
<!--content star-->
<div class="content">
  <!--main star-->
   <div class="main">
     <!--nav star-->
    {insert name="sns_nav" class_code = $class_code}
    <!--nav end-->
    <!--bladkground star-->
    {include file="Sns/ClassIndex/backborad.html"}
    <!--bladkground end-->
    <!--active_member star-->
    {include file="Sns/ClassIndex/active_member.html"}
    <!--active_member end-->
    <!--主要内容 star-->
     <div class="mian_index">
     <!--main_left star-->
     <div class="main_left">
       <ul>
          <li>
          	<a id="show_class_feed_a" href="javascript:;" class="main_nav_a1 mr6" title="">班级动态</a>
          	{if $user.client_type == 2}
          	<a id="show_children_feed_a" href="javascript:;" class="main_nav_a2" title="">孩子动态</a>
          	{/if}
          </li>
       </ul>
       
       <!-- 班级动态展示区信息 -->
       <div id="class_feed_list_div">
	       <!--say_box star-->
	       <div class="say_box">
	         <p>
	         	<textarea class="say_text" style="display:none;"></textarea>
	         </p>
	         <input id="client_account" type="hidden" value="{$user.client_account}"/>
	       </div>
	       <!--say_box end-->

	       <div id="show_class_feed">
	
		  </div>
	      <div class="clear"></div>
        </div>
        
        <!-- 孩子相关的动态展示区  -->
        <div id="child_feed_list_div" style="display:none;">
          <div id="show_children_feed">
	
	
		  </div>
		  <div class="clear"></div>
        </div>
        
     </div>
      <!--main_left end-->
      
      <!--mian_right star-->
      <div class="mian_right">
        <div class="photo_index" style="display:none;">
          <dl>
            <dt>
            	<img id="photo_img" width="180px" height="166px" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/images/ClassIndex/photo_pic01.jpg">
            </dt>
            <dd>
            	<input id="next_photo_btn" type="button" value="下一张" class="up_btn">
            </dd>
          </dl>
        </div>
        <!--hot_resource star-->
        {include file="Sns/ClassIndex/hotresource.html"}
        <!--hot_resource end-->
      </div>
      <!--mian_right end-->
      <div class="clear"></div>
      </div>
    <!--主要内容 end-->
    <div class="clear"></div>
  </div>
  <!--main end-->
  <div class="clear"></div>
  </div>
<!--content end-->
{include file="Public/sns_footer.html"}
{include file="Sns/ClassIndex/Subtemplate/main_pop_div.html"}

<input id="class_code" type="hidden" value="{$class_code}"/>
<input id="user_headimg_url" type="hidden" value="{$user.client_headimg_url}"/>

</body>
</html>