body, button, input, select, textarea { font: 12px/1.125 Arial,Helvetica,sans-serif; }
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
li { list-style: none outside none; }
fieldset, img { border: 0pt none; }
input, textarea { outline-style: none; }
input[type="text"], input[type="password"], textarea { outline-style: none; }
address, caption, cite, code, dfn, em, i, th, var { font-style: normal; font-weight: normal; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.ico_credits { width: 16px; height: 16px; background: url('../../images/school_map/maps/ico.png') no-repeat scroll 0pt -2446px transparent; margin: 0pt 2px; display: inline-block; }
.male, .female, .approve, .approve_co, .approve_dead, .ico_club, .ico_twoyear, .ico_fashion, .ico_gives, .ico_number_gold, .ico_number_silver, .ico_number_bronze, .ico_vlady, .ico_draegg, .ico_dragon, .ico_wbnight_cup, .ico_member, .ico_member_dis, .ico_olympic_gold, .ico_olympic_silver, .ico_olympic_bronze, .ico_oly361 { background: url('../../images/school_map/maps/sprite_ico.png') no-repeat scroll -75px 0pt transparent; display: inline-block; }
.male { width: 11px; height: 13px; background-position: -75px -75px; margin: 0pt 2px; }
.female { width: 11px; height: 13px; background-position: -75px -100px; margin: 0pt 2px; }
.approve_co { width: 16px; height: 13px; background-position: -75px -150px; vertical-align: -1px; }
.W_arr_d { height: 3px; width: 5px; margin: 0pt 3px; display: inline-block; overflow: hidden; vertical-align: middle; }
.W_arr_d em { display: block; background: none repeat scroll 0% 0% rgb(193, 193, 193); height: 1px; overflow: hidden; }
.W_arr_d em.b2 { margin: 0pt 1px; }
.W_arr_d em.b3 { margin: 0pt 2px; width: 1px; }
.W_gotop { font-family: Arial; position: fixed; left: 50%; bottom: 100px; margin-left: 476px; width: 20px; line-height: 14px; border-radius: 3px 3px 3px 3px; padding: 5px 3px 0pt; display: block; text-align: center; }
.W_gotop:hover { text-decoration: none; }
.W_gotop .write_weibo { border-bottom: 1px solid rgb(222, 222, 222); padding: 5px 0pt 10px; }
.W_gotop .write_weibo img { cursor: pointer; }
.W_gotop span { display: block; padding: 9px 0pt 12px; }
.W_gotop span em.sj { display: block; height: 8px; margin: 0pt 0pt 0pt 3px; font-size: 28px; overflow: hidden; text-align: left; }
.W_gotop span em.fk { display: block; height: 5px; margin: -1px 0pt 2px 4px; font-size: 11px; overflow: hidden; text-align: left; }
.W_gotop a:hover { text-decoration: none; }
.W_btn_a, .W_btn_a span, .W_btn_a_disable, .W_btn_a_disable span { cursor: pointer; background: url('../../images/school_map/maps/btn.png') no-repeat scroll 0pt -144px transparent; color: rgb(115, 121, 124); display: inline-block; padding: 0pt 0pt 0pt 2px; height: 24px; line-height: 23px; }
.W_btn_a span, .W_btn_a_disable span { background-position: right -168px; padding: 0pt 10px 0pt 8px; min-width: 35px; text-align: center; }
.W_btn_a:hover { background-position: 0pt -192px; text-decoration: none; }
.W_btn_a:hover span { background-position: right -216px; }
.W_btn_b, .W_btn_b span, .W_btn_b_disable, .W_btn_b_disable span { cursor: pointer; background: url('../../images/school_map/maps/btn.png') no-repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); display: inline-block; padding: 0pt 0pt 0pt 2px; height: 24px; line-height: 23px; }
.W_btn_b span, .W_btn_b_disable span { background-position: right -24px; padding: 0pt 10px 0pt 8px; min-width: 37px; text-align: center; }
.W_btn_b:hover { background-position: 0pt -48px; text-decoration: none; }
.W_btn_b:hover span { background-position: right -72px; }
a.W_close_color { cursor: pointer; width: 11px; height: 11px; overflow: hidden; display: inline-block; background-position: 0px -11px; }
a.W_close_color:hover { background-position: 0pt 0pt; }
.W_no_outline { outline-style: none; }
.icon_error, .icon_del, .icon_succ, .icon_warn, .icon_ask, .icon_errorS, .icon_delS, .icon_succS, .icon_warnS, .icon_askS { width: 16px; height: 16px; background: url('../../images/school_map/maps/ico_warn.png') repeat scroll 0% 0% transparent; margin: 0pt 3px 0pt 0pt; overflow: hidden; display: inline-block; }
.icon_ask { background-position: -50px -150px; }
.W_layer { position: absolute; border-radius: 4px 4px 4px 4px; z-index: 9999; color: rgb(102, 102, 102); }
.W_layer .bg { padding: 4px; border-radius: 4px 4px 4px 4px; background: url('../../images/school_map/maps/layer_bg.png') repeat scroll 0% 0% transparent; }
.W_layer .content { position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 3px 3px 3px 3px; }
.W_layer .btn { text-align: right; padding: 15px 0pt 0pt; }
.W_layer .btn a { margin: 0pt 0pt 0pt 10px; }
.W_layer a, .W_layer .W_linka a, .W_layer a.W_linka { color: rgb(0, 120, 182); }
.layer_mini_info { padding: 15px 20px; }
.layer_mini_info .btn { padding: 15px 0pt 0pt; text-align: center; width: 150px; }
.layer_mini_info .btn a { margin: 0pt 5px; }
.layer_mini_info .icon_error, .layer_mini_info .icon_del, .layer_mini_info .icon_succ, .layer_mini_info .icon_warn, .layer_mini_info .icon_ask { vertical-align: -4px; }
.W_layer_suggest { border-right: 1px solid rgb(121, 121, 121); border-width: 0pt 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(121, 121, 121) rgb(121, 121, 121); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background: url('../../images/school_map/maps/layer_bg_001.png') repeat scroll 0% 0% transparent; color: rgb(102, 102, 102); position: absolute; overflow: hidden; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; z-index: 9998; min-width: 197px; }
.global_header .layer_topmenu_list { overflow: hidden; width: 130px; position: absolute; top: 33px; right: 0px; z-index: 9998; background: url('../../images/school_map/maps/layer_bg_001.png') repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); border: 1px solid rgb(121, 121, 121); padding: 2px 1px 4px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }
.global_header .layer_topmenu_list .person_infos { margin: 8px 4px 0pt; padding: 0pt 0pt 0pt 4px; overflow: hidden; }
.global_header .layer_topmenu_list .person_infos dt, .global_header .layer_topmenu_list .person_infos dd { float: left; }
.global_header .layer_topmenu_list .person_infos dd { width: 75px; line-height: 16px; margin: 0pt 0pt 0pt 5px; word-wrap: break-word; color: rgb(89, 89, 89); }
.global_header .layer_topmenu_list .person_infos dd a { font-size: 12px; width: 75px; color: rgb(89, 89, 89); word-wrap: break-word; }
.global_header .layer_topmenu_list ul { padding: 3px 0pt 0pt; margin: 0pt 4px; clear: both; overflow: hidden; }
.global_header .layer_topmenu_list ul li { position: static; float: none; margin: 0pt; padding: 0pt; display: block; }
.global_header .layer_topmenu_list ul li a { font-size: 12px; color: rgb(89, 89, 89); padding: 7px 10px; background: none repeat scroll 0% 0% transparent; display: block; }
.global_header .layer_topmenu_list ul li img { vertical-align: middle; margin: 0pt 5px 0pt 0pt; }
.global_header .layer_topmenu_list ul li a:hover, .global_header .layer_topmenu_list ul li.cur a, .global_header .layer_topmenu_list ul li.cur a:hover, .global_header .layer_topmenu_list ul li a:hover, .global_header .layer_topmenu_list ul li.cur a { background: none repeat scroll 0% 0% rgb(232, 233, 234); text-decoration: none; }
.global_header .layer_topmenu_list ul li.line { background: none repeat scroll 0% 0% rgb(224, 224, 224); padding: 0pt; margin: 2px 0pt; height: 1px; line-height: 0px; overflow: hidden; font-size: 0px; }
.global_header .layer_topmenu_list_yy { width: 240px; font-size: 12px; }
.global_header .layer_topmenu_list_yy .func { overflow: hidden; font-size: 12px; line-height: 14px; color: rgb(89, 89, 89); padding: 6px 5px 9px; margin: 0pt 4px; }
.global_header .layer_topmenu_list_yy .func span { float: right; font-size: 12px; background: none repeat scroll 0% 0% transparent; }
.global_header .layer_topmenu_list_yy .func a.more { background: none repeat scroll 0% 0% transparent; color: rgb(0, 120, 182); padding: 0pt; }
.global_header .layer_topmenu_list_yy .func_up { background: url('../../images/school_map/maps/layer_title_bg.png') repeat-x scroll 0% 0% transparent; padding: 10px 5px 5px; }
.layer_message_box { width: 190px; position: absolute; z-index: 9999; padding: 6px 1px; line-height: 17px; border: 1px solid rgb(121, 121, 121); border-radius: 3px 3px 3px 3px; right: 100px; top: 33px; background: url('../../images/school_map/maps/layer_bg_001.png') repeat scroll 0% 0% transparent; }
.global_header .layer_message_box ul { margin: 0pt 4px; }
.layer_message_box .W_close_color { background: url('close.gif') no-repeat scroll 0pt -11px transparent; width: 11px; height: 11px; position: absolute; top: 5px; right: 5px; display: inline-block; overflow: hidden; }
.layer_message_box .W_close_color:hover { background-position: 0pt 0pt; }
.ico_account, .ico_template, .ico_versionchoice, .ico_credits, .ico_toolset, .ico_exit { display: inline-block; height: 16px; width: 16px; }
.ico_account, .ico_template, .ico_versionchoice, .ico_toolset, .ico_hao, .ico_exit, .ico_member16 { background: url('../../images/school_map/maps/ico_sidebar.png') no-repeat scroll 0% 0% transparent; display: inline-block; height: 16px; width: 16px; }
.ico_account { background-position: 0pt -899px; }
.ico_template { background-position: 0pt -149px; }
.ico_versionchoice { background-position: 0pt -850px; }
.ico_credits { background: url('../../images/school_map/maps/ico.png') no-repeat scroll 0pt -2446px transparent; }
.ico_toolset { background-position: 0pt -924px; }
.ico_hao { background-position: 0pt -1100px; }
.ico_exit { background-position: 0pt -949px; }
.ico_member16 { background-position: 0pt -1225px; }
.global_header .layer_topmenu_list_app { width: 383px; }
