<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>邮箱修改——第一步</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/uc/css/uc_common.css"/>
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/uc/css/modify_email_step_1.css"/>
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/formvalidator/css/validator.css" />

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/formvalidator/js/formValidator.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/formvalidator/js/formValidatorRegex.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/uc/js/modify_email_step_1.js"></script>

</head>

<body>
<!--top-->
{insert name="uc_header"}
<!--top end-->

<!--main-->
<div class="tip">
   <p class="font_main"><span class="font_darkblue">温馨提示：</span>&nbsp;&nbsp;<span class="font_olive">邮箱验证...</span></p>
 </div>
 <div class="container">
<div class="content_frame_01">
	<div class="content_frame_01_top"></div>
    <div class="content_frame_01_con">
    	<h4 class="c_f_01_c_title">邮箱验证</h4>
    	<form method="post" id="modify_email_step_1" action="/Uc/Accountset/modifyEmailTwo">
        <table  cellpadding="0" cellspacing="0" border="0" class="pwd_table">
        	<tr>
            	<th>已设置邮箱：</th>
                <td> <span class="font_red">{$email_binding_info.sort_email}</span> </td>
            </tr>
            <tr>
            	<th>确认已设置邮箱：</th>
                <td> <input name="oldemail" id="oldemail" type="text" class="sryx" maxlength="60" />
                 <span  id="oldemailTip"></span> </td>
            </tr>
            <tr>
            	<th></th>
                <td><input id="submit_btn" type="button"  value="下一步" class="btn_2_word"/></td>
            </tr>
        </table>
        </form> 
       <h4 class="c_f_01_c_bottom"></h4>
    
    
    
    </div>
    <div class="content_frame_01_bottom"></div>
</div>
</div>



<!--main end-->

<!--footer -->
 {insert name="uc_footer"}
<!--footer end-->


</body>
</html>
