<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>申诉结果</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/uc/css/uc_common.css"/>
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/uc/css/pwd_appeal_tips.css"/>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.min.js"></script>

</head>

<body>
{insert name="uc_header"}
<div class="tip">
   <p class="font_main"><span class="font_darkblue"></span>&nbsp;&nbsp;<span class="font_olive">您好，如果您的密码长期未改或过于简单，建议您定期修改密码。</span></p>
 </div>
 <div class="container">
<div class="content_frame_01">
	<div class="content_frame_01_top"></div>
    <div class="content_frame_01_con">
    	<div class="ssjg_tip">您好，申诉成功，感谢您对“我们网”的支持和理解，我们会在收到您的请求的第一时间处理并给予回复！</div>
        <div class="kfdh"><strong>全国客户服务中心客服电话</strong> &nbsp;&nbsp;&nbsp;&nbsp; 400客服电话：400-616-0300 &nbsp;&nbsp;&nbsp;&nbsp; 北京客服座机：010-65259824</div>
        
        <table cellpadding="0" cellspacing="1" class="ssjg_table">
        	<caption>客服电话工作时间安排：</caption>
            <tr>
            	<th>工作日</th>
                <th>时间</th>
                <th>工作内容</th>
            </tr>
            <tr>
            	<td>周一至周五(值班时间)</td>
                <td>08:00——09:00</td>
                <td>业务咨询、业务记录、投诉记录、紧急情况业务处理</td>
            </tr>
            <tr>
            	<td>周一至周五(工作时间)</td>
                <td>09:00——17:30</td>
                <td>业务咨询、业务受理、投诉受理</td>
            </tr>
            <tr>
            	<td>周一至周五(值班时间)</td>
                <td>17:30——20:00</td>
                <td>业务咨询、业务记录、投诉记录、紧急情况业务处理</td>
            </tr>
            <tr>
            	<td>节假日、周六、日(值班时间)</td>
                <td>09:00——20:00</td>
                <td>业务咨询、业务记录、投诉记录、紧急情况业务处理</td>            
        </table>
    
    </div>
    <div class="content_frame_01_bottom"></div>
</div>
</div>
{insert name="uc_footer"}


</body>
</html>
