<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>UC_首页</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/uc/css/uc_index.css"/>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/uc/js/uc_index.js"></script>

</head>

<body>
 <!--top-->
{insert name="uc_header"}
<!--top end-->

 <div class="cotent">
   <div class="main">
     <div class="main_left"></div>
     <div class="main_right">
       <h4><span>{$user_list.client_name}</span> 您好， 欢迎登录我们网用户中心。</h4>
       <p class="font_main">我们网账号：<span id="uid" class="font_red">{$user_list.client_account}</span><input type="button" value="保存账号到本地" id="save_uid" class="green_btn" /></p>
       <p class="gray_bj font_main">您还可以用以下方式登录:</p>
       <p class="font_cotent_main"><span class="iphone"></span>{if $user_list.phone_id != ''}<span class="font_normal">{$user_list.phone_id}</span>{else}<span class="font_normal">您暂时没有设置手机号</span>{/if}</p>
       <div class="clear"></div>
       <p class="font_cotent_main"><span class="email"></span>
	       {if $user_list.client_email == ''}
	       	<a href="/Uc/Accountset/index" class="font_normal_a">设置邮箱</a>
	       {else}
	       	<span class="font_normal">{$user_list.client_email}&nbsp;&nbsp;&nbsp;</span><a href="/Uc/Accountset/modifyEmailone" class="font_normal_a">修改邮箱</a>
	       {/if}
       </p>
       <div class="clear"></div>
       <p class="font_cotent_main">
       <span class="qq_pic"></span>
       <span class="font_normal">{$qzone_user_info.nickname}</span><a href="{$qzone_user_info.set_qq_bind_url}" class="font_normal_a">{$qzone_user_info.display_action_name}</a></p>

     </div>
     <div class="clear"></div>
   </div>
 </div>
 
<!--footer -->
{insert name="uc_footer"}
<!--footer end-->

</body>
</html>