@charset "utf-8";
/* CSS Document */
.pt10{padding-top:10px;}
.per_main{width:938px; margin:0 auto; font:14px "微软雅黑"; background:#fff; padding:10px; border:1px #ccc solid;}

	.person_tab{width:800px;}
		.person_tab table td{ vertical-align:top;}
		.person_tab_head a{background:#fff; padding:2px; display:inline-block; border:1px #ccc solid;}
		
		.per_value{width:600px; height:50px; margin-top:10px;}
			.per_value p{float:left;}
			.value_left{background:url(../../images/PersonIndex/person_info/left_bj_pic.jpg) 0 0 no-repeat; width:24px; height:40px;}
			.value_center{background:url(../../images/PersonIndex/person_info/center_bj_pic.jpg) repeat-x; height:20px; float:left; padding:10px 0px;}
				.value_bj{background:url(../../images/PersonIndex/person_info/icon_sz_bj.gif) 0 0 no-repeat; width:26px; height:20px; display:block; float:left; color:#fff; padding-left:25px;}
					.value_bj:hover{text-decoration:none;}
				.ml10{margin:0px 10px;}
	
			
			.value_right{background:url(../../images/PersonIndex/person_info/right_bj_pic.jpg) 0 0 no-repeat; width:24px; height:40px;}
			
	.per_main h3{font:bold 14px "微软雅黑"; border-bottom:1px #419400 solid; margin-top:10px; line-height:28px;}
	
	.info_tab{width:916px; border:1px #ccc solid; margin:10px 0px; padding:10px; background:url(../../images/PersonIndex/person_info/class_people_bj.gif) repeat;}		
		.info_tab table th{font:normal 14px "微软雅黑"; text-align:left; width:50px; height:30px;}
		
			
/*弹出层*/
.urse_tcc{width:90px;}	
	.urse_tcc ul{background:#5eac25;}
	.urse_tcc ul li a{display:inline-block; color:#fff; padding:8px 0px; width:90px; text-align:center; margin-bottom:1px;font:12px "微软雅黑";}
	.urse_tcc ul li a:hover{background:#2b6800;}