@charset "utf-8";
/* CSS Document */

.main h4{background:url(../../images/Album/person_list_photo_p/h4_bj.jpg) 0 0 no-repeat; height:44px; margin:10px; width:920px;}
	.main h4 a{float:right; margin-top:10px;}

.publish_main{background:#fff; border-left:1px #6db500 solid;border-right:1px #6db500 solid; border-top:1px #6db500 solid;font:14px "微软雅黑";color:#464646; padding:20px 20px 0px;}
	.publish_main h3{height:22px; background:#deeec1; font:14px "微软雅黑"; color:#464646; padding:4px 10px;}
	
	.photo_sub{height:40px; padding-top:10px;}
		.photo_sub a{float:left;}
		.ppl_photo{background:url(../../images/Album/person_list_photo_p/photo_a_bj2.gif) 0 0 no-repeat; width:73px; height:30px; display:inline-block; line-height:30px;color:#464646; padding-left:                   30px; margin-left:30px;}
	
	.list_photo_single{width:218px; float:left; margin:0px 10px 10px 0px;}
		
	.publish_main dl{width:216px; border:1px #c9c7c8 solid; position:relative;}	
		.publish_main dl dt{width:216px; padding-top:15px; text-align:center;}
		.publish_main dl dd{height:26px; background:#fafafa; border-top:1px #f5f2f2 solid; font:12px "宋体"; text-align:left; padding:6px 0px 0px 14px;}
			.dd_width{width:150px; display:inline-block;}
			.icon_say{background:url(../../images/Album/person_list_photo_p/icon_say.gif) 0 0 no-repeat; display:inline-block; width:16px; height:15px; margin-right:6px;}
			.publish_main dl dd a{color:#464646;}
			.publish_main dl dd a:hover{color:#3a8a00;}

		.float_main{width:210px; height:28px; position:absolute; bottom:38px; left:4px;}
			.float_main_p{font:12px "宋体"; padding:5px 5px 0px 5px; height:24px; position:absolute; top:0px; right:17px; text-align:center;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;filter:alpha(opacity=70);background:#000;}
			.float_main_p a{font-weight:bold; color:#fff;filter:alpha(opacity=100);font-size:14px;}
		
/*弹出层*/		
		
/*评论照片*/
.edit_comment{width:500px;border:1px #6db500 solid; background:#fff;}
	.tcc_title{font:14px "微软雅黑"; background:#f8f8f8; border-bottom:1px #e9e9e9 solid; padding:0px 10px; height:33px; line-height:33px; width:480px; position:relative;}
	    .close_icon{background:url(../../images/Album/person_list_photo_p/icon_close.gif) 0 0 no-repeat;width:10px;height:9px;display:inline-block;position:absolute;right:10px;top:12px;overflow:hidden;}
	  
	.edit_comment_tab{padding:10px; font:12px "宋体";}  
		.edit_comment_tab h2{font:14px "微软雅黑"; color:#5a5a5a; padding-bottom:8px;}
		.textarea{width:470px; height:60px; border:1px #e9e9e9 solid;}
		.edit_comment_tab p{text-align:right; line-height:28px; color:#464646; padding-right:10px;}
		 
	
	.msg_btn{padding:6px 10px 0px; height:30px; background:#f2f2f2;}	
		.msg_btn p{text-align:right;}
		.green_btn{background:url(../../images/Album/person_list_photo_p/green_btn.gif) 0 0 no-repeat; width:57px; height:24px; color:#fff; border:none; cursor:pointer;}
		.qx_btn{background:url(../../images/Album/person_list_photo_p/qx_btn.gif) 0 0 no-repeat; width:57px; height:24px; line-height:24px; border:none; cursor:pointer; text-align:center; color:#73797c; margin-left:10px;}		
		
		
/* to_top */
.to_top a,.to_top a:hover{background:url("/Public/sns/images/Album/albumlist/gotop.png") no-repeat}
.to_top a{
	background-position:0 0;float:left;height:50px;overflow:hidden;width:50px;position:fixed;bottom:35px;cursor:pointer;right:20px;
	_position:absolute;
	_right:auto;
	_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft, 10)||0)-(parseInt(this.currentStyle.marginRight, 10)||20));
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||20)-(parseInt(this.currentStyle.marginBottom, 10)||20)));
}
.to_top a:hover{background-position:-51px 0px;}	
		
		
			