<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>广东-精品网校</title>
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/thirdapp/css/common.css" type="text/css" />

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/newhomepage.css"  />
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/resource/css/resource_style.css" type="text/css" />

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/resource/js/qualityschool1.js"></script>
</head>

<body>
 <div>
   <iframe src="http://www.unikaixin.com/header.html" width="100%" height="155" scrolling="No" frameborder="0"></iframe> 
 </div>
 <div class="gd_nav_list">
   <p></p>
   <ul><a href="/Thirdapp/Showresource/synchroresource" class="gd_tbzy">同步资源</a><a href="/Thirdapp/Showresource/qualityresource" class="gd_jpzy">精品资源</a><a href="/Thirdapp/Showresource/qualityschool1" class="gd_jpwx">精品网校</a><a href="/Thirdapp/Audiobooks/getAudiobooksByType" class="gd_ysds">有声读书</a></ul>
 </div>
 
 <div class="gz_big_bj">
 <div class="gz_content">
   <!--main star-->
   <div class="gz_main">


 <!--center star-->
  <div class="center">
{literal}
    	<div class="news">
			<script type="text/javascript">

			

            var pic_width=481; //图片宽度

            var pic_height=203; //图片高度

            var button_pos=4; //按扭位置 1左 2右 3上 4下

            var stop_time=3000; //图片停留时间(1000为1秒钟)

            var show_text=0; //是否显示文字标签 1显示 0不显示

            var txtcolor="000000"; //文字色

            var bgcolor="DDDDDD"; //背景色

            var imag=new Array();

            var link=new Array();

            var text=new Array();

            imag[1]="http://vip.wmw.cn/study/peking/images/01.jpg";

            link[1]="http://ziyuan.wmw.cn/WLKT/BDFZFX/BEIDAHD/sanxia.html"

            text[1]="标题 1";

            imag[2]="http://vip.wmw.cn/study/peking/images/02.jpg";

            link[2]="http://ziyuan.wmw.cn/WLKT/BDFZFX/BEIDAHD/nanji.html";

            text[2]="标题 2";

            imag[3]="http://vip.wmw.cn/study/peking/images/03.jpg";

            link[3]="http://ziyuan.wmw.cn/WLKT/BDFZFX/BEIDAHD/huoshan.html";

            text[3]="标题 3";

            imag[4]="http://vip.wmw.cn/study/peking/images/04.jpg";

            link[4]="http://ziyuan.wmw.cn/WLKT/BDFZFX/BEIDAHD/huaju.html";

            text[4]="标题 4";

            imag[5]="http://vip.wmw.cn/study/peking/images/05.jpg";

            link[5]="http://ziyuan.wmw.cn/WLKT/BDFZFX/BEIDAHD/fifa.html";

            text[5]="标题 5";

            //可编辑内容结束

                   

            </script>

            <script type="text/javascript">
            

			<!--

            var swf_height=show_text==1?pic_height+20:pic_height;

            var pics="", links="", texts="";

            for(var i=1; i<imag.length; i++){

                pics=pics+("|"+imag[i]);

                links=links+("|"+link[i]);

                texts=texts+("|"+text[i]);

            }

            pics=pics.substring(1);

            links=links.substring(1);

            texts=texts.substring(1);

            document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cabversion=6,0,0,0" width="'+ pic_width +'" height="'+ swf_height +'">');

            document.write('<param name="movie" value="http://vip.wmw.cn/study/peking/flash/focus.swf">');

            document.write('<param name="quality" value="high"><param name="wmode" value="opaque">');

            document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&pic_width='+pic_width+'&pic_height='+pic_height+'&show_text='+show_text+'&txtcolor='+txtcolor+'&bgcolor='+bgcolor+'&button_pos='+button_pos+'&stop_time='+stop_time+'">');

            document.write('<embed src="http://vip.wmw.cn/study/peking/flash/focus.swf" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&pic_width='+pic_width+'&pic_height='+pic_height+'&show_text='+show_text+'&txtcolor='+txtcolor+'&bgcolor='+bgcolor+'&button_pos='+button_pos+'&stop_time='+stop_time+'" quality="high" width="'+ pic_width +'" height="'+ swf_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');

            document.write('</object>');

          //-->

            </script>

      			

{/literal}
</div>
    
    <div class="search">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="90"><span class="grade">年级</span></td>
            <td><p>
            {foreach from=$nav_list.grade_list item=val}
            	
	              	{if $val.grade_id == $checked_nav.grade_id}
	              		<a style="color:#008CC1; font-weight:bold;" href="/Thirdapp/Showresource/qualityschool/screening/{$checked_nav.product_id}_{$val.grade_id}">{$val.grade_name}</a>
	              	{else}
	              		<a href="/Thirdapp/Showresource/qualityschool/screening/{$checked_nav.product_id}_{$val.grade_id}">{$val.grade_name}</a>
	              	{/if}
              {/foreach}
              </p></td>
          </tr>
          <tr>
            <td><span class="km">科目</span></td>
            <td><p>
              	{foreach from=$nav_list.subject_list item=val}
              	{if $val.subject_id == $checked_nav.subject_id}
	              	<a style="color:#008CC1; font-weight:bold;" href="/Thirdapp/Showresource/qualityschool/screening/{$checked_nav.product_id}_{$checked_nav.grade_id}_{$val.subject_id}">{$val.subject_name}</a>
	              {else}
	              	<a href="/Thirdapp/Showresource/qualityschool/screening/{$checked_nav.product_id}_{$checked_nav.grade_id}_{$val.subject_id}">{$val.subject_name}</a>
	              {/if}
              {/foreach}
              </p></td>
          </tr>
        </table>
    </div>
    
    <div class="main_flash">
      <ul>
      {foreach from=$resource_spzx[0] item=val}
        <li><a href="{$val.file_path}" target="_blank">[{$val.subject_name}]&nbsp;&nbsp;<span>{$val.title}</span></a></li>
      {/foreach}
      </ul>
      <ul>
        {foreach from=$resource_spzx[1] item=val}
        <li><a href="{$val.file_path}" target="_blank">[{$val.subject_name}]&nbsp;&nbsp;<span>{$val.title}</span></a></li>
        {/foreach}
      </ul>
      <div class="clean"></div>
      <p>{if empty($resource_spzx[1])}<a href="javascript:;"></a>{else}<a href="/Thirdapp/Showresource/qualityschool/screening/2_{$checked_nav.grade_id}______5"></a>{/if}</p>
    </div>
    
     <div class="main_flash main_yskt">
       <ul>
      {foreach from=$resource_yskt[0] item=val}
        <li><a href="{$val.file_path}" target="_blank">[{$val.subject_name}]&nbsp;&nbsp;<span>{$val.title}</span></a></li>
      {/foreach}
      </ul>
      <ul>
        {foreach from=$resource_yskt[1] item=val}
        <li><a href="{$val.file_path}" target="_blank">[{$val.subject_name}]&nbsp;&nbsp;<span>{$val.title}</span></a></li>
        {/foreach}
      </ul>
      <div class="clean"></div>
      <p>{if empty($resource_yskt[1])}<a href="javascript:;"></a>{else}<a href="/Thirdapp/Showresource/qualityschool/screening/2_{$checked_nav.grade_id}______6"></a>{/if}</p>
    </div>
    
    <div class="main_flash main_msdb">
       <ul>
      {foreach from=$resource_msdb[0] item=val}
        <li><a href="{$val.file_path}" target="_blank">[{$val.subject_name}]&nbsp;&nbsp;<span>{$val.title}</span></a></li>
      {/foreach}
      </ul>
      <ul>
        {foreach from=$resource_msdb[1] item=val}
        <li><a href="{$val.file_path}" target="_blank">[{$val.subject_name}]&nbsp;&nbsp;<span>{$val.title}</span></a></li>
        {/foreach}
      </ul>
      <div class="clean"></div>
      <p>{if empty($resource_msdb[1])}<a href="javascript:;"></a>{else}<a href="/Thirdapp/Showresource/qualityschool/screening/2_{$checked_nav.grade_id}______7"></a>{/if}</p>
    </div>
    
    <div class="main_flash main_jdtk">
       <ul>
      {foreach from=$resource_jdtk[0] item=val}
        <li><a href="{$val.file_path}" target="_blank">[{$val.subject_name}]&nbsp;&nbsp;<span>{$val.title}</span></a></li>
      {/foreach}
      </ul>
      <ul>
        {foreach from=$resource_jdtk[1] item=val}
        <li><a href="{$val.file_path}" target="_blank">[{$val.subject_name}]&nbsp;&nbsp;<span>{$val.title}</span></a></li>
        {/foreach}
      </ul>
      <div class="clean"></div>
      <p>{if empty($resource_jdtk[1])}<a href="javascript:;"></a>{else}<a href="/Thirdapp/Showresource/qualityschool/screening/2_{$checked_nav.grade_id}______8"></a>{/if}</p>
    </div>
    
  </div>
 <!--center end--> 
 <!--right star-->
  <div class="jpwx_right">
    <div class="news_pic"></div>
    <div class="study_train">
      <h4><span class="icon"></span>学能训练<span>&nbsp;/To be trained</span></h4>
      <p>
       <a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/XNXL/head.swf" target="_bank" class="img01"></a>
       <a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/XNXL/head.swf" target="_bank" class="img02"></a>
       <a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/XNXL/head.swf" target="_bank" class="img03"></a>
       <a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/XNXL/head.swf" target="_bank" class="img04"></a>
       <a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/XNXL/head.swf" target="_bank" class="img05"></a>
      </p>
    </div>
    
    <div class="multi_media">
      <h4><span class="media_icon"></span>多媒体课件<br /><span>Multimedia</span> 
        <div class="clean"></div>
      </h4>
      <p>
       <a id="mathematics" href="javascript:;" class="a_hover">数学</a><a id="physics" href="javascript:;">物理</a><a id="chemistry" href="javascript:;">化学</a><a id="geography" href="javascript:;">地理</a><a id="history" href="javascript:;">历史</a><a id="biology" href="javascript:;">生物</a>
      </p>
      <ul id="mathematics_ul">
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/01.swf" target="_bank">1&nbsp;用列表法描述二次函数</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/02.swf" target="_bank">2&nbsp;两圆的位置关系</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/03.swf" target="_bank">3&nbsp;因式分解</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/04.swf" target="_bank">4&nbsp;数学外接圆画法</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/05.swf" target="_bank">5&nbsp;角A的正弦和余弦</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/06.swf" target="_bank">6&nbsp;画三角形的高</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/07.swf" target="_bank">7&nbsp;十字相乘法分解因式</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/08.swf" target="_bank">8&nbsp;分式方程</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/09.swf" target="_bank">9&nbsp;直角坐标系</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/10.swf" target="_bank">10&nbsp;等腰三角形相关证明题</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/11.swf" target="_bank">11&nbsp;自变量的取值范围</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/12.swf" target="_bank">12&nbsp;等腰三角形相关证明题</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/13.swf" target="_bank">13&nbsp;直线和圆的位置关系</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/14.swf" target="_bank">14&nbsp;描绘函数图像</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/15.swf" target="_bank">15&nbsp;直线，射线和线段</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/16.swf" target="_bank">16&nbsp;圆的周长和面积</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/maths/chuz/17.swf" target="_bank">17&nbsp;直线的斜角线</a></li>
      </ul>
      <ul id="physics_ul" style="display:none;">
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/01.swf" target="_bank">1&nbsp;牛顿著作中所绘人造卫星</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/02.swf" target="_bank">2&nbsp;小船过河</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/03.swf" target="_bank">3&nbsp;水波干涉现象</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/04.swf" target="_bank">4&nbsp;小孔成像</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/05.swf" target="_bank">5&nbsp;固体间的内聚力</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/06.swf" target="_bank">6&nbsp;晶体与非晶体</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/07.swf" target="_bank">7&nbsp;液体表面的收缩趋势</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/08.swf" target="_bank">8&nbsp;液体的内聚力</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/09.swf" target="_bank">9&nbsp;用沙摆研究震动图像</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/10.swf" target="_bank">10&nbsp;法拉第圆筒实验</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/11.swf" target="_bank">11&nbsp;海市蜃楼的起因</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/12.swf" target="_bank">12&nbsp;滑动摩擦力大小的研究</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/13.swf" target="_bank">13&nbsp;平抛运动在竖直方向上</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/14.swf" target="_bank">14&nbsp;研究二力平衡的条件</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/15.swf" target="_bank">15&nbsp;简谐振动图象</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/16.swf" target="_bank">16&nbsp;跨步电压接触</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/physics/17.swf" target="_bank">17&nbsp;力的三要素</a></li>
      </ul>
      <ul id="chemistry_ul" style="display:none;">
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/01.swf" target="_bank">1&nbsp;空气搬家</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/02.swf" target="_bank">2&nbsp;氯化铝与氢氧化钠溶液的</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/03.swf" target="_bank">3&nbsp;次氯酸是有颜色布条褪色</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/04.swf" target="_bank">4&nbsp;氢气在氯气中燃烧</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/05.swf" target="_bank">5&nbsp;蛋白质的凝结实验</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/06.swf" target="_bank">6&nbsp;蛋白质的盐析实验</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/07.swf" target="_bank">7&nbsp;蛋白质的颜色反应实验</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/08.swf" target="_bank">8&nbsp;淀粉的水解实验</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/09.swf" target="_bank">9&nbsp;粉溶液与新制氢氧化钠作</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/10.swf" target="_bank">10&nbsp;铝跟酸的反应</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/11.swf" target="_bank">11&nbsp;铝与碱的反应实验</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/12.swf" target="_bank">12&nbsp;葡萄糖与氢氧化铜反应</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/13.swf" target="_bank">13&nbsp;催化剂对反应速度的影</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/14.swf" target="_bank">14&nbsp;电解原理</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/15.swf" target="_bank">15&nbsp;加聚反应</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/16.swf" target="_bank">16&nbsp;离子键的形成</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/chemistry/17.swf" target="_bank">17&nbsp;浓度对化学反应速度的</a></li>
      </ul>
      <ul id="geography_ul" style="display:none;">
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/01.swf" target="_bank">1&nbsp;地球自转公转与日照</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/02.swf" target="_bank">2&nbsp;月相成因和月相变化</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/03.swf" target="_bank">3&nbsp;大陆漂移</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/04.swf" target="_bank">4&nbsp;等高线绘法示意图</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/05.swf" target="_bank">5&nbsp;地壳</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/06.swf" target="_bank">6&nbsp;地球的平均半径及赤道周</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/07.swf" target="_bank">7&nbsp;地球示意图</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/08.swf" target="_bank">8&nbsp;地形雨</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/09.swf" target="_bank">9&nbsp;日本经济及主要工业区</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/10.swf" target="_bank">10&nbsp;水循环</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/11.swf" target="_bank">11&nbsp;大气压</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/12.swf" target="_bank">12&nbsp;断层示意图</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/13.swf" target="_bank">13&nbsp;防护林</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/14.swf" target="_bank">14&nbsp;绘制地形剖面图</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/15.swf" target="_bank">15&nbsp;日本经济及主要工业区</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/16.swf" target="_bank">16&nbsp;水土保持护林带的作用</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/geography/17.swf" target="_bank">17&nbsp;太阳系</a></li>
      </ul>
      <ul id="history_ul" style="display:none;">
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/history/01.swf" target="_bank">1&nbsp;三国同盟和三国协约</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/history/02.swf" target="_bank">2&nbsp;德意志的统一</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/history/03.swf" target="_bank">3&nbsp;秦末农民战争</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/history/04.swf" target="_bank">4&nbsp;唐末农民战争</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/history/05.swf" target="_bank">5&nbsp;周灭商</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/history/06.swf" target="_bank">6&nbsp;九一八事变示意图</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/history/07.swf" target="_bank">7&nbsp;三国同盟和三国协约</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/history/08.swf" target="_bank">8&nbsp;西汉同匈奴的战争</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/history/09.swf" target="_bank">9&nbsp;美国独立战争形势图</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/history/10.swf" target="_bank">10&nbsp;隋朝运河</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/history/11.swf" target="_bank">11&nbsp;张骞第一次出使西域</a></li>
      </ul>
      <ul id="biology_ul" style="display:none;">
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/01.swf" target="_bank">1&nbsp;蝗虫式怎么呼吸的？</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/02.swf" target="_bank">2&nbsp;蛋白质的分子结构</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/03.swf" target="_bank">3&nbsp;动植物细胞有丝分裂过程</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/04.swf" target="_bank">4&nbsp;对分离现象的解释</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/05.swf" target="_bank">5&nbsp;对分离现象解释的验证</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/06.swf" target="_bank">6&nbsp;分离规律的实质</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/07.swf" target="_bank">7&nbsp;青蛙的一生</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/08.swf" target="_bank">8&nbsp;染色体结构的变异</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/09.swf" target="_bank">9&nbsp;生物的变异</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/10.swf" target="_bank">10&nbsp;现代生物进化论</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/11.swf" target="_bank">11&nbsp;形形色色的生物</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/12.swf" target="_bank">12&nbsp;一对相对性状的遗传试</a></li>
       <li><a href="http://ziyuan.wmw.cn/WLKT/BDFZFX/files/swf/biology/13.swf" target="_bank">13&nbsp;动物细胞的有丝分裂</a></li>
      </ul>
    </div>
  </div>
  <!--right end-->
  <div class="clean"></div>

   </div>
     <div class="clean"></div>
   <!--main end-->
   <div class="clean"></div>
 </div>
 </div>
 
 	{literal}
		<script type="text/javascript">
		
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-24378992-17']);
			_gaq.push(['_trackPageview']);
			
			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		
		</script>
 	{/literal}
 <div style="text-align:center;">
 	<iframe src="http://www.unikaixin.com/footer.html" width="960" height="125" scrolling="No" frameborder="0"></iframe>
 
 </div>
</body>
</html>

