<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>活跃值规则</title>
<link rel="stylesheet" href="__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="__PUBLIC__/sns/css/PersonIndex/active_rule.css" type="text/css" charset="utf-8">
</head>
<body>
{insert name="sns_header"}
<!--per_tip star-->
{insert name="sns_person_second_header" uid=$uid}
<!--per_tip end--> 
<!--content star-->
<div class="content">
  <!--main star-->
  <div class="rule_main">
    <ul>
      我们网活跃值规则说明
    </ul> 
    <div class="rule_left">
      <h3>查阅导航</h3>
      <p><a href="#a">1，什么是活跃值？</a></p>
      <p><a href="#b">2，如何获得活跃值？</a></p>
      <p><a href="#c">3，活跃值有什么作用？</a></p>
      <p><a href="#d">4，活跃值越高有特权吗？</a></p>
      <p><a href="#e">5，活跃值计算规则？</a></p>
    </div>
    <div class="active_main">
    	<a href="javascript:;" name="a"></a>
      <h3>1.什么是活跃值？</h3>
      <p>活跃值是用户使用我们网活跃情况的象征，活跃值越高，代表越活跃。</p>
      <a href="javascript:;" name="b"></a>
      <h3>2.如何获得活跃值？</h3>
      <p>活跃值根据用户每天活动的足迹确定，只要用户登录我们网使用各项功能，即可获得活跃值。</p>
      <a href="javascript:;" name="c"></a>
      <h3>3.活跃值有什么作用？</h3>
      <p>活跃值反映了用户在我们网的活跃度，同时也决定着用户在我们网的排名。</p>
      <p>（1）提升自己在班级成员排名。班级空间的班级成员将根据成员的活跃值从高到低进行排名展现。活跃值高的用户有机会排在前面。</p>
      <p>（2）提升自己在圈圈活跃成员的排名。圈圈活跃成员将根据成员的活跃值从高到低进行排名展现。活跃值高的用户有机会排在前面。</p>
      <p>（3）提升班级在班级广场的综合排名。班级广场的活跃班级，是根据班级成员的平均活跃值从高到低，筛选前20位进行展现。活跃值不仅影响自己在班级、圈圈活跃成员排名，也影响班级在班级广场的活跃班         级的排名。所以活跃值不仅和自己相关，也和班级排名息息相关。</p>
      <a href="javascript:;" name="d"></a>
     <h3>4.活跃值越高有特权吗？</h3>
     <p>目前活跃值特权还在筹划中，即将推出，活跃值越高，意味着等级越高，享有的特权越多越丰富，敬请期待。</p>
     <a href="javascript:;" name="e"></a>
     <h3>5.活跃值计算规则? </h3>
     <p>家长版活跃值介绍（每日获得最大活跃值90）</p>
     <div>
     <table width="100%" border="0" cellspacing="1" cellpadding="0">
      <tr>
      	<th rowspan="2">获得活跃值项目</th>
        <th colspan="2">增加活跃值</th>
        <th rowspan="2">每日获得最大活跃值</th>
      </tr>
      <tr>
        <th>操作</th>
        <th>加分</th>
      </tr>
      
      <tr>
      	<td>激活账号</td>
        <td>激活账号</td>
        <td>+5</td>
        <td>5</td>
      </tr>
      <tr>
      	<td>登录</td>
        <td>每日登录</td>
        <td>+5</td>
        <td>5</td>
      </tr>
      <tr>
      	<td>签到</td>
        <td>每日签到</td>
        <td>+5</td>
        <td>5</td>
      </tr>
      <tr>
      	<td rowspan="5">个人资料</td>
        <td>上传头像</td>
        <td>+1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>完善性别</td>
        <td>+1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>完善血型</td>
        <td>+1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>填写生日</td>
        <td>+1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>设置邮箱</td>
        <td>+1</td>
        <td>1</td>
      </tr>
      <tr>
      	<td>班级公告</td>
        <td>查看班级公告</td>
        <td>+5</td>
        <td>15</td>
      </tr>
      <tr>
      	<td>班级作业</td>
        <td>查看班级作业</td>
        <td>+5</td>
        <td>5</td>
      </tr>
      <tr>
      	<td>班级成绩</td>
        <td>查看班级成绩</td>
        <td>+5</td>
        <td>5</td>
      </tr>  
      <tr>
      	<td>个人说说</td>
        <td>发表个人说说</td>
        <td>+2</td>
        <td>10</td>
      </tr>
      <tr>
      	<td>个人日志</td>
        <td>发表个人日志</td>
        <td>+2</td>
        <td>10</td>
      </tr>
      <tr>
      	<td>个人相册</td>
        <td>上传个人照片</td>
        <td>+2</td>
        <td>10</td>
      </tr>
      <tr>
      	<td>个人空间评论</td>
        <td>发表评论（说说，相册，日志）</td>
        <td>+1</td>
        <td>5</td>
      </tr>
      <tr>
      	<td>个人空间分享</td>
        <td>分享（说说、相册、日志）</td>
        <td>+1</td>
        <td>5</td>
      </tr>  
      <tr>
      	<td>圈圈话题</td>
        <td>发表圈圈话题</td>
        <td>+5</td>
        <td>10</td>
      </tr>    
      <tr>
      	<td>学习资源</td>
        <td>查看学习资源</td>
        <td>+1</td>
        <td>5</td>
      </tr>
    </table>
    </div>
    
    </div>   
    <div class="clear"></div>
  </div>
  <!--main end-->
<div class="clear"></div> 
</div>
<!--content end-->
{include file="Public/sns_footer.html"}
</body>
</html>



