<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>个人空间首页</title>
<link rel="stylesheet" href="__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="__PUBLIC__/sns/css/PersonIndex/main_first.css" type="text/css" charset="utf-8">

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/wmw_js/jquery-1.5.2.min.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/tip_msg/showtip.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/sendbox/sendbox.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/template/template.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/PersonIndex/vistior.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/PersonIndex/friend.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/Feed/feed.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/Feed/feed_unit.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/PersonIndex/main_first.js"></script>

</head>
<body>
{insert name="sns_header"}

<!--content star-->
<div class="content">
  <!--per_main star-->
  <div class="per_main">
   
   <!--banner star-->    
     <div class="banner">
       <div class="head_pic">
         <dl>
           <dt><a href="javascript:;"><img src="{$user_list.client_headimg_url}" class="photo_width140"></a></dt>
           <dd>{$user_list.client_name}<a href="/Sns/PersonIndex/Active/showActiveInfo" target="_blank" class="value_bj ml10">{$user_list.active_count_day}</a></dd>
           {if $client_account == $vuid}<dd class="align_left"><span class="f_main_green">活跃值：{$user_list.active_count}</span></dd>{/if}
         </dl>
       </div>
       <div class="head_btn" style="display:none;" id="head_pic_id">
       	{if $client_account == $vuid}<a href="/Uc/Userinfos/head_photo" class="gray_btn" >更换头像</a>{/if}
       </div>
    </div>
   <!--banner end--> 
   
   <!--per_first_main star-->
    <div class="per_first_main">
      <!--left star-->
       <div class="first_main_left">
         <p></p>
         <table width="100%" border="0" cellspacing="0" cellpadding="0">
         {if $vuid == $client_account}
          <tr onMouseOver="this.className='li_on'" onMouseOut="this.className=''">
            <td class="td_icon_width"><a href="/Sns/PrivateMsg/PrivateMsg/index"><span class="icon_sx"></span></a></td>
            <td><a href="/Sns/PrivateMsg/PrivateMsg/index" class="f_16">私信</a></td>
            <td>&nbsp;</td>
          </tr>
          {/if}
          <tr onMouseOver="this.className='li_on'" onMouseOut="this.className=''">
            <td><a href=""><span class="icon_say"></span></a></td>
            <td><a href="#" class="f_16">说说</a></td>
            <td>&nbsp;</td>
          </tr>
          <tr onMouseOver="this.className='li_on'" onMouseOut="this.className=''">
            <td><a href="/Sns/Album/Person/albumlist/client_account/{$vuid}"><span class="icon_photo"></span></a></td>
            <td><a href="/Sns/Album/Personalbum/albumlist/client_account/{$vuid}" class="f_16">相册</a></td>
            <td>{if $vuid == $client_account}<a href="/Sns/Album/Personphoto/uplaodPhoto/client_account/{$vuid}" class="f_666" >上传</a>{/if}</td>
          </tr>
          <tr onMouseOver="this.className='li_on'" onMouseOut="this.className=''">
            <td><a href="/Sns/Blog/PersonList/index/client_account/{$vuid}"><span class="icon_rz"></span></a></td>
            <td><a href="/Sns/Blog/PersonList/index/client_account/{$vuid}" class="f_16">日志</a></td>
            <td>{if $vuid == $client_account}<a href="/Sns/Blog/PersonPublish/index" class="f_666" class="f_16">发表</a>{/if}</td>
          </tr>
          <tr onMouseOver="this.className='li_on'" onMouseOut="this.className=''">
            <td><a href="/Sns/Friend/Manage/index"><span class="icon_friend"></span></a></td>
            <td><a href="/Sns/Friend/Manage/index" class="f_16">好友</a></td>
            <td>&nbsp;</td>
          </tr>
        </table>
        
       </div>
      <!--left end-->
      <!--center star-->
       <div class="first_main_center" >
         <!--say_tab star-->
          <div id="send_mood_div" class="say_tab">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3">
	                <span class="icon_say_pic"></span>
	                <span class="f16 f_main_green">说说</span>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                	<textarea class="say_textarea" name="content"></textarea>
                </td>
              </tr>
              <!-- 
              <tr>
       		    <td class="td_pic_width"><p><a href="#"><span class="icon_face"></span>表情</a><a href="#"><span class="icon_pic"></span>图片</a></p></td>
                <td class="td_width"><p class="f12 f_gray">你还可以输入<span class="f_orange">140</span>字</p></td>
                <td class="align_right"><input type="button" value="发表" class="green_btn"></td>
             </tr>
              -->
            </table>
          </div>
         <!--say_tab end-->
         <ul >
           <li>
              <a href="javascript:;" class="main_nav_a1">我的动态</a>
           </li>
         </ul>
         <!--first_info star-->
         <div id="my_feed_list_div" class="first_info" >
         
         </div>
         <!--first_info end-->
       </div>
      <!--center end-->
      <!--right star-->
       <div class="first_main_right">
         <!--my_friend star-->
         <div class="my_friend">
           <h3>{if $client_account == $vuid}<span>我的好友({$user_list.friend_total_count})</span><a href="/Sns/Friend/Manage/index" target="__blank;">更多&gt;&gt;</a>{else}<span>Ta的好友({$user_list.friend_total_count})</span>{/if}</h3>
           {literal}
           <span class="clone_selector" style="display:none;">
           		<a href="/Sns/PersonIndex/Index/index/client_account/{user_friend.client_account}" target="_blank"><img src="{user_friend.client_headimg_url}" class="photo_width40"  title="{user_friend.client_name}" ></a>
           </span>
            {/literal}
           <p id="friend_list_div">
           </p>
           
         </div>
         <!--my_friend end-->
         <!--visitor star-->
         <div class="visitor">
           <h3><span>最近访客</span>{if $client_account == $vuid}<a href="/Sns/Friend/Manage/person_vistior" target="__blank;">更多&gt;&gt;</a>{/if}</h3>
           <!--visitor_main star-->
           <div class="visitor_main" id="vistior_list_div">
             <!--visitor_main_tab star-->
             {literal}
             <div class="visitor_main_tab clone" style="display:none;">
               <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><a href="/Sns/PersonIndex/Index/index/client_account/{user.client_account}" target="_blank;"><img src="{user.client_headimg_url}" class="photo_width40"></a></td>
                    <td>
                      <p>{user.client_name}</p>
                      <p>{user.timeline}</p>
                    </td>
                  </tr>
                </table>
                <div class="tcc_close" style="display:none;" id="show_del_btn">
                  <a href="javascript:;" id="del_btn">删除</a>
                </div>
             </div>
             {/literal}
             <!--visitor_main_tab end-->
           </div>
           <p class="visitor_p">今日访客：<a href="javascript:;" class="f_main_green">{$user_list.total_count_day}</a><span></span>总访客：<a href="javascript:;" class="f_main_green">{$user_list.total_count}</a></p>
           <!--visitor_main end-->
         </div>
         <!--visitor end-->
       </div>
      <!--right end-->
      <div class="clear"></div>
    </div>
   <!--per_first_main end-->   
  </div>  
  <!--per_main end-->
<div class="clear"></div> 
</div>

<!--弹出层 star-->
 <!--活跃值 star-->
  <div class="tcc_value" id="active_id" style="display:none;">
    <p>今天已获<span class="f_red">55</span>活跃值</p>
  </div>
 <!--活跃值 end-->

<!--提示信息弹出层 star-->
  <div class="tcc_msg" id="del_div" style="display:none;">
    <p class="tcc_msg_top"></p>
    <div class="tcc_msg_center">
     <div class="msg_center_main">
      <dl>
       <dt><span class="icon_question"></span></dt>
      </dl>
      <p>
       	确认要删除该访客吗？ 
      </p>
      <div class="clear"></div>
     </div>
     <p class="tcc_btn_right"><input type="button" class="qd_btn"  id="queding_btn"></input><input type="button" value="取消" class="qx_btn" id="cancel_btn"></p>
    </div>
    <p class="tcc_msg_bottom"></p>
  </div>
<!--content end-->
 <input type="hidden" value="{$vuid}" id="vuid"/>
 <input id="user_headimg_url" type="hidden" value="{$user_list.client_headimg_url}"/>
{include file="Public/sns_footer.html"}
</body>
</html>



