<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>个人空间首页-第三视觉</title>
<link rel="stylesheet" href="../../../../Public/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="../../../../Public/sns/css/PersonIndex/main_third.css" type="text/css" charset="utf-8">
</head>
<body>
<!--弹出层 star-->

 <!--评论 star-->
  <div class="tcc_comment">
    <p class="tcc_comment_top"></p>
    <!--tcc_comment_main star-->
    <div class="tcc_comment_main">
      <!--comment_tab star-->
      <div class="comment_tab">
       <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="3"><input type="text" class="comment_text"></td>
          </tr>
          <tr>
            <td><a href="#" class="tcc_icon_face"></a></td>
            <td><p class="f12 f_gray">您还可以输入<span class="f_red">140</span>字</p></td>
            <td><input type="button" value="确定" class="green_btn"></td>
          </tr>
       </table>
      </div>
      <!--comment_tab end-->
      
      <div class="comment_main_width">
      
          <!--一级评论 star-->
          <div class="mb10">
               <dl>
                 <dt><img src="../../../../Public/sns/images/ClassIndex/tcc_pic01.jpg"></dt>
               </dl> 
               <!--tcc_single star-->
               <div class="tcc_single">
                 <div class="tcc_single_tab">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                   <tr>
                    <td><a href="#" class="fc_288c00">李艳琼:</a></td>
                    <td><p>我们需要和孩子一起成长，关注心灵健康。（5分钟前）</p></td>
                    <td><a href="#" class="fc_288c00">删除</a></td>
                    <td><a href="#" class="fc_288c00 ml10">回复</a></td>
                   </tr>
                 </table>
                </div>
                <!--tcc_reply star-->
                <div class="tcc_reply">
                  <p class="tcc_reply_top"></p>
                  <!--tcc_reply_main star-->
                  <div class="tcc_reply_main">
                    <div class="reply_tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td colspan="3"><input type="text" class="reply_text"></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="tcc_icon_face"></a></td>
                        <td><p class="f12 f_gray">您还可以输入<span class="f_red">140</span>字</p></td>
                        <td><input type="button" value="确定" class="green_btn"></td>
                      </tr>
                    </table>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <!--tcc_reply_main end-->
                </div>
                <!--tcc_reply end-->
                
                <div>
                <!--agin_reply_main star-->
                <div class="agin_reply_main">
                  <dl>
                     <dt><img src="../../../../Public/sns/images/ClassIndex/tcc_pic01.jpg"></dt>
                  </dl>
                    <div class="agin_reply">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><a href="#" class="fc_288c00">李艳琼:</a></td>
                          <td><p>我们需要和孩子一起成长，关注心灵健康。</p></td>
                          <td><a href="#" class="fc_288c00">删除</a></td>
                        </tr>
                      </table>
                  </div>
                    <div class="clear"></div>  
                  </div>
                    <!--agin_reply_main end-->
                    
                 </div>
                   
                   <div>
                     <p><input type="text" value="我也说一句" class="er_comment_text"></p>
                   </div>
                   
                   <div>
                     <p class="click_see">后面还有10条评论回复<a href="#" class="f12 f_red ml10">点击查看&gt;&gt;</a></p>
                   </div>
                   
            </div>
                   <!--tcc_single end-->
          <div class="clear"></div> 	
          </div>
          <!--一级评论  end-->
          
          <!--一级评论 star-->
          <div>
               <dl>
                 <dt><img src="../../../../Public/sns/images/ClassIndex/tcc_pic01.jpg"></dt>
               </dl> 
               <!--tcc_single star-->
               <div class="tcc_single">
                 <div class="tcc_single_tab">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                   <tr>
                    <td><a href="#" class="fc_288c00">李艳琼:</a></td>
                    <td><p>我们需要和孩子一起成长，关注心灵健康。（5分钟前）</p></td>
                    <td><a href="#" class="fc_288c00">删除</a></td>
                    <td><a href="#" class="fc_288c00 ml10">回复</a></td>
                   </tr>
                 </table>
                </div>
              </div>
              <!--tcc_single end-->
          <div class="clear"></div> 	
          </div>
          <!--一级评论  end-->
         
      </div>
       
     
       <div class="clear"></div>
    </div>
    <!--tcc_comment_main end-->
  </div>
 <!--评论 end--> 
 <!--分享 star-->
  <div class="tcc_share">
    <div class="tcc_share_main">
      <h1>分享<a href="#" class="icon_close"></a></h1>
      <div class="share_comment">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th colspan="4"><textarea class="share_textarea"></textarea></th>
          </tr>
          <tr>
            <td class="td_share_class"><input type="checkbox" name="" class="mr10">分享到班级</td>
            <td class="td_share_class"><input type="checkbox" name="" class="mr10">分享到个人空间</td>
            <td class="td_nr_width"><p class="f12 f_gray">您还可以输入<span class="f_red">140</span>字</p></td>
            <td class="td_btn_width"><input type="button" value="确定" class="green_btn"></td>
          </tr>
        </table>
      </div>
      <div class="share_main">
        <h2>张鹏：【司马光为什么要砸缸】</h2>
        <p>王献之小时候，问父亲王羲之书法的秘诀。王羲之说哪里有什么秘诀，惟在一个勤字。你去把院子里的十八口缸水写完，书法就成了。王献之日夜苦练，遂成一代大家。司马光的父亲司马池很喜欢这故事，也在家里准备了十八缸水让司马光练字。过了一会儿，管家来报：老爷，少爷可真聪明！</p>
        <p class="f12 f_gray">来自&nbsp;张鹏&nbsp;-&nbsp;2012.12.12 13:37</p>
      </div>
    </div>
  </div>
 <!--分享 end-->
 
<!--弹出层 end-->


<!--content star-->
<div class="content">
  <!--per_main star-->
  <div class="per_main">
   
   <!--banner star-->    
    <div class="banner">
       <div class="head_pic">
         <dl>
           <dt><a href="#"><img src="../../../../Public/sns/images/PersonIndex/main_first/per_head_pic.jpg"></a></dt>
           <dd>皮卡丘</dd>
           <dd class="align_left"><span>个人资料</span><span class="f_main_green pl10">活跃值：100</span></dd>
           <dd><a href="#" class="add_friend mr4">加好友</a><a href="#" class="send_info">私信</a></dd>
           
           <a href="#" class="alredy_friend">已是好友</a>/* 已是好友 按钮  替换 加好友按钮*/
           <a href="#" class="yi_send">已发送</a>/* 已发送 按钮  替换 加好友按钮*/
           
         </dl>
       </div>
       <div class="head_btn">
         <input type="button" value="更换头像" class="gray_btn">
       </div>
    </div>
   <!--banner end--> 
   
   <!--per_first_main star-->
    <div class="per_first_main">
      <!--left star-->
       <div class="first_main_left">
         <p></p>
         <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr onMouseOver="this.className='li_on'" onMouseOut="this.className=''">
            <td class="td_icon_width"><span class="icon_say"></span></td>
            <td><a href="#">说说</a></td>
            <td>&nbsp;</td>
          </tr>
          <tr onMouseOver="this.className='li_on'" onMouseOut="this.className=''">
            <td><span class="icon_photo"></span></td>
            <td><a href="#">相册</a></td>
            <td></td>
          </tr>
          <tr onMouseOver="this.className='li_on'" onMouseOut="this.className=''">
            <td><span class="icon_rz"></span></td>
            <td><a href="#">日志</a></td>
            <td></td>
          </tr>
          <tr onMouseOver="this.className='li_on'" onMouseOut="this.className=''">
            <td><span class="icon_friend"></span></td>
            <td><a href="#">好友</a></td>
            <td>&nbsp;</td>
          </tr>
        </table>

       </div>
      <!--left end-->
      <!--center star-->
       <div class="first_main_center">
         <ul>
           <li><a href="#" class="main_nav_a1 f16">好友动态</a></li>
         </ul>
         <!--first_info star-->
         <div class="first_info">
         <!--pre_info star-->
          <div class="pre_info">
            <dl>
              <dt><img src="../../../../Public/sns/images/PersonIndex/main_first/s_60_img01.jpg"></dt>
              <dd>张小</dd>
            </dl>
            <div class="pre_info_right">
              <p class="into_right_top">
                <span class="fc_288c00">张小</span>
              </p>
              <div class="into_right_center">
                <p>考试开始了,大家准备的怎么样了,?好好学习,天天向上</p>
              </div>
              <p class="into_right_bottom"></p>
              <p class="info_time">发布时间：2012.12.05<span class="pl10">13:21</span><a href="#" class="fc_4f9f32 f12">分享(5)</a><a href="#" class="fc_4f9f32 f12">评论(12)</a></p>
            </div>
            <div class="clear"></div>
          </div>
         <!--pre_info end-->
         <!--pre_info star-->
          <div class="pre_info">
            <dl>
              <dt><img src="../../../../Public/sns/images/PersonIndex/main_first/s_60_img01.jpg"></dt>
              <dd>张小</dd>
            </dl>
            <div class="pre_info_right">
              <p class="into_right_top">
                <span class="fc_288c00">张小</span>
              </p>
              <div class="into_right_center">
                <p><img src="../../../../Public/sns/images/PersonIndex/main_first/pic01.jpg"></p>
              </div>
              <p class="into_right_bottom"></p>
              <p class="info_time">发布时间：2012.12.05<span class="pl10">13:21</span><a href="#" class="fc_4f9f32 f12">分享(5)</a><a href="#" class="fc_4f9f32 f12">评论(12)</a></p>
            </div>
            <div class="clear"></div>
          </div>
         <!--pre_info end-->
         <!--pre_info star-->
          <div class="pre_info">
            <dl>
              <dt><img src="../../../../Public/sns/images/PersonIndex/main_first/s_60_img01.jpg"></dt>
              <dd>张小</dd>
            </dl>
            <div class="pre_info_right">
              <p class="into_right_top">
                <span class="fc_288c00">张晓</span>
              </p>
              <div class="into_right_center">
                <p><img src="../../../../Public/sns/images/PersonIndex/main_first/pic01.jpg"></p>
                <p class="pt8">相信每个妈妈在没生孩子的时候都是一个漂亮的公主，在结婚后这种时尚的嗅觉，将和丈夫、9月29日...<a href="#" class="fc_4f9f32">(阅读全文)</a></p>
              </div>
              <p class="into_right_bottom"></p>
              <p class="info_time">发布时间：2012.12.05<span class="pl10">13:21</span><a href="#" class="fc_4f9f32 f12">分享(5)</a><a href="#" class="fc_4f9f32 f12">评论(12)</a></p>
            </div>
            <div class="clear"></div>
          </div>
         <!--pre_info end-->
         </div>
         <!--first_info end-->
         <!--more_active star-->
          <div class="more_active">
            <a href="#">查看更多动态</a>
          </div>
         <!--more_active end-->
       </div>
      <!--center end-->
      <!--right star-->
       <div class="first_main_right">
         <!--my_friend star-->
         <div class="my_friend">
           <h3><span>他的好友(120)</span><a href="#">更多&gt;&gt;</a></h3>
           <p>
             <a href="#"><img src="../../../../Public/sns/images/PersonIndex/main_first/f_pic01.jpg"></a><a href="#"><img src="../../../../Public/sns/images/PersonIndex/main_first/f_pic02.jpg"></a><a href="#"><img src="../../../../Public/sns/images/PersonIndex/main_first/f_pic03.jpg"></a><a href="#"><img src="../../../../Public/sns/images/PersonIndex/main_first/f_pic04.jpg"></a><a href="#"><img src="../../../../Public/sns/images/PersonIndex/main_first/f_pic02.jpg"></a><a href="#"><img src="../../../../Public/sns/images/PersonIndex/main_first/f_pic03.jpg"></a><a href="#"><img src="../../../../Public/sns/images/PersonIndex/main_first/f_pic01.jpg"></a>
           </p>
         </div>
         <!--my_friend end-->
         <!--visitor star-->
         <div class="visitor">
           <h3><span>最近访客</span><a href="#">更多&gt;&gt;</a></h3>
           <!--visitor_main star-->
           <div class="visitor_main">
             <!--visitor_main_tab star-->
             <div class="visitor_main_tab">
               <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><a href="#"><img src="../../../../Public/sns/images/PersonIndex/main_first/f_pic01.jpg"></a></td>
                    <td>
                      <p>张晓</p>
                      <p>2012.12.20&nbsp;14:26</p>
                    </td>
                  </tr>
                </table>
                <div class="tcc_close">
                  <a href="#" class="red_close"></a>
                </div>
             </div>
             <!--visitor_main_tab end-->
             <!--visitor_main_tab star-->
             <div class="visitor_main_tab">
               <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><a href="#"><img src="../../../../Public/sns/images/PersonIndex/main_first/f_pic02.jpg"></a></td>
                    <td>
                      <p>张晓</p>
                      <p>2012.12.20&nbsp;14:26</p>
                    </td>
                  </tr>
                </table>
             </div>
             <!--visitor_main_tab end-->
             <!--visitor_main_tab star-->
             <div class="visitor_main_tab">
               <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><a href="#"><img src="../../../../Public/sns/images/PersonIndex/main_first/f_pic03.jpg"></a></td>
                    <td>
                      <p>张晓</p>
                      <p>2012.12.20&nbsp;14:26</p>
                    </td>
                  </tr>
                </table>
             </div>
             <!--visitor_main_tab end-->
           </div>
           <!--visitor_main end-->
           <p class="visitor_p">今日访客：<a href="#" class="f_main_green">0</a><span></span>总访客：<a href="#" class="f_main_green">205</a></p>
         </div>
         <!--visitor end-->
       </div>
      <!--right end-->
      <div class="clear"></div>
    </div>
   <!--per_first_main end-->   
  </div>  
  <!--per_main end-->
<div class="clear"></div> 
</div>
<!--content end-->
</body>
</html>



