<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>个人资料</title>
<link rel="stylesheet" href="../../../../Public/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="../../../../Public/sns/css/PersonIndex/person_info.css" type="text/css" charset="utf-8">
</head>
<body>
<!--弹出层 star-->
<div class="urse_tcc">
   <ul>
     <li><a href="#">账户设置</a></li>
     <li><a href="#">用户信息</a></li>
     <li><a href="#">模板风格</a></li>
     <li><a href="#">安全退出</a></li>
   </ul>
 </div>
<!--弹出层 end-->

<!--per_tip star-->
  <div class="per_tip">
   <div class="pertip_main">
    <dl>
      <dt><a href="#"><img src="../../../../Public/sns/images/Common/sns_images/per_img.jpg"></a></dt>
    </dl>
    <a href="#"><span>皮卡丘</span><span class="icon_white_sjx"></span></a>
    <div class="clear"></div>
   </div> 
  </div>
<!--per_tip end--> 
<!--content star-->
<div class="content pt10">
  <!--per_main star-->
  <div class="per_main">
    <div class="person_tab">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td class="person_tab_head"><a href="#"><img src="../../../../Public/sns/images/PersonIndex/person_info/per_head_pic.jpg"></a></td>
        <td>
         <p>张晓</p>
         <div class="per_value">
           <p class="value_left"></p>
           <div class="value_center">
             <p>活跃值：<span class="f_main_green">100</span></p><a href="#" class="value_bj ml10">55</a><p class="f_main_green">活跃值规则</p>
           </div>
           <p class="value_right"></p>
         </div>
        </td>
       </tr>
      </table>
    </div>
    <h3>个人信息</h3>
    <div class="info_tab">
     <table width="50%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>姓名：</th>
        <td>侯高俊杰</td>
      </tr>
      <tr>
        <th>性别：</th>
        <td>男</td>
      </tr>
      <tr>
        <th>生日：</th>
        <td>1998.04.26</td>
      </tr>
      <tr>
        <th>电话：</th>
        <td>15866686868</td>
      </tr>
      <tr>
        <th>Email:</th>
        <td>569852136@qq.com</td>
      </tr>
      <tr>
        <th>血型：</th>
        <td>O型</td>
      </tr>
      <tr>
        <th>生肖：</th>
        <td>牛</td>
      </tr>
      <tr>
        <th>星座：</th>
        <td>金牛座</td>
      </tr>
     </table>
    </div>
  </div>  
  <!--per_main end-->
<div class="clear"></div> 
</div>
<!--content end-->
</body>
</html>



