<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>班级相册-瀑布流</title>
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Album/class_list_photo_p.css" type="text/css" charset="utf-8">

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.min.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/tip_msg/showtip.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/template/template.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/sendbox/sendbox.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/Album/class_photo_list_p.js"></script>


<!--<script type="text/javascript">
{literal}
var isWidescreen=screen.width>=1280; 
if(isWidescreen){document.write("<style type='text/css'>.demo{width:1194px;}</style>");}
{/literal}
</script>

--></head>
<body>
<!--弹出层 star-->
 <!--评论照片 star-->
{include file="Sns/Album/Subtemplate/comment_photo.inc.html"}
 <!--评论照片 end-->
 <!--弹出层 end-->

<!--tip star-->
{insert name="sns_header"}
<!--tip star-->
{insert name="sns_class_header" class_code = $class_code}
<!--tip end--> 
  <!--<div class="tip">
   <div class="tip_main">
    <p class="f13 f_green">丰台区芳群园第一小学</p><p><a href="#" class="f13 f_green">一年二班<span class="icon_01"></span></a></p><span class="icon_02"></span><p class="f13 f_green">班主任：李老师</p>
    <div class="clear"></div>
   </div> 
  </div>-->
<!--tip end--> 
<!--content star-->
<div class="demo content">
  <!--main star-->
   <div class="main">
     <!--nav star-->
    {insert name="sns_nav" class_code = $class_code}
    <!--nav end-->
    <h4><a href="/Sns/Album/Classalbum/albumlist/class_code/{$class_code}"  style="text-decoration:none;" class="f14" title=""><span class="btn_left"></span><span class="btn_right">返回相册首页</span></a></h4>
    <div class="clear"></div>
    <!--publish_main star-->
    <div class="publish_main">
      <h3>班级相册>系统相册</h3>
      <p class="photo_sub">
         <a href="/Sns/Album/Classphoto/uplaodPhoto/class_code/{$class_code}/album_id/{$album_id}" class="f14" title=""><span class="btn_left"></span><span class="btn_right">上传照片</span></a><a href="/Sns/Album/Classphoto/photolist/class_code/{$class_code}/album_id/{$album_id}/client_account/{$client_account}" class="ppl_photo" title="">普通模式</a>
      </p>
      <div class="clear"></div>
      {literal}
      <div style="display:none;" class="clone_selector list_photo_single">
      <dl>
       <dt><a href="/Sns/Album/Classphoto/photo/album_id/{album_id}/photo_id/{photo_id}/class_code/{class_code}"><img src="{middle_img}"></a></dt>
       	<!--float_main star-->
            <div class="float_main" style="display:none;">
              <div class="float_main_p">
               <span class="pr30"><a class="comments" href="javascript:;">评论(<span class=pl_count>{comments}</span>)</a></span>
              </div>
            </div>
            <!--float_main end-->
       <dd>
	       <span class="dd_width"><a href="javascript:;">{name}</a></span>
       </dd>
       
      </dl>
      </div>
      {/literal}
      <div id="container">
      <div class="insert_pos_div"></div>
      </div>
      <div id="more">
      	<a href="/Sns/Album/Classphoto/getPhotosByAlbumId/class_code/{$class_code}/album_id/{$album_id}/client_account/{$client_account}/page/2"></a>
      </div>
      <div class="clear"></div>
    </div>
    <!--publish_main end-->
    <div class="clear"></div>
    <div class="main_bottom"></div>
  </div>
  <!--main end-->
  <div class="clear"></div> 
  </div>
  <div id="gotopbtn" style="display:none;" class="to_top"><a title="返回顶部" href="javascript:void(0);"></a></div>
<!--content end-->
<input id="is_edit" type="hidden" value="{$is_edit}"/>
<input id="album_id" type="hidden" value="{$album_id}">
<input id="class_code" type="hidden" value="{$class_code}">
<input id="client_account" type="hidden" value="{$client_account}">
<input id="login_account" type="hidden" value="{$login_account}"/>
<input id="img_server" type="hidden" value="{$smarty.const.IMG_SERVER}__PUBLIC__"/>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/wmw_js/waterfall_flow/jquery.masonry.min.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/wmw_js/waterfall_flow/jquery.infinitescroll.min.js"></script>
<!-- 尾部start -->
{include file="Public/sns_footer.html"}
<!-- 尾部end -->
</body>
</html>



