<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>查看单张照片</title>
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Album/person_photo_show.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/galleria/themes/classic/galleria.classic.css" type="text/css" charset="utf-8">

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/tip_msg/showtip.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/sendbox/sendbox.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/template/template.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/galleria/galleria-1.2.9.min.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/galleria/galleria.wmw.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/Album/photo_show.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/Album/person_photo_show.js"></script>
</head>
<body>
<!--弹出层 star-->
<!-- 相片详情弹出层  star-->
     <!--publish_main_right star-->
      <div class="publish_main_right" id="xpxq_div" style="display:none;">
        <h3 class="f_green">{$album.album_name}</h3>
        <div class="photo_info">
	        <p><span>创建人：</span><font>{$album.client_name}</font></p>
	        <p><span>相片名称：</span><font id="photo_name"></font></p>
	        <p><span>上传时间：</span><font id="add_date"></font></p>
        </div>
        <div class="photo_name" >
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2">
            <div class="photo_info" {if $is_edit}title="点击"{/if}>
            <p{if $is_edit} id="description"{/if} class="description_no"><a href="javascript:;">点此输入照片描述</a></p>
            </div>
            </td>
         </tr>
          <tr class="description" style="display:none;">
            <td colspan="2"><input type="text" class="text" maxlength="20"></td>
          </tr>
          <tr class="description" style="display:none;">
            <th><font id="span_count">20</font>/20</th>
            <td><input type="button" class="green_btn" value="确定" /><input type="button" class="gray_btn" value="取消" /></td>
          </tr>
        </table>

        </div>
        <div class="clear"></div>
        
        <div id="photo_edit">
        {if $is_edit}
        <span><a href="javascript:;" id="set_img_evt">设为封面</a></span>
        <span><a href="javascript:;" id="move_evt">移动到</a></span>
        <span><a href="javascript:;" id="del_evt">删除照片</a></span>
        {/if}
        </div>
        
       </div>
      <!--publish_main_right end--> 
<!-- 相片详情弹出层 end -->


 <!--提示信息弹出层-->
  <div class="tcc_msg"  style="display:none;">
    <p class="tcc_msg_top"></p>
    <div class="tcc_msg_center">
     <div class="msg_center_main">
      <dl>
       <dt><!--<span class="icon_question"></span></dt>-->
      </dl>
      <p class="f12">确认删除该相片？<br /><span>其它地方使用此相册的相片也将删除！</span></p>
     <div class="clear"></div>
     </div>
     <p class="msg_main_btn"><input type="button" class="qd_btn"><input type="button" class="qx_btn" value="取消"></p>
    </div>
    <p class="tcc_msg_bottom"></p>
  </div>
 <!--提示信息弹出层-->
 
  <!--移动照片 star-->
 <div id="move_photo_div" class="move_photo" style="display:none;">
   <div>相册列表</div>
   <p><a></a></p>
 </div>
  <!--移动照片 end-->
<!--弹出层 end-->
 
<!-- 头部start -->
{insert name="sns_header" uid = $client_account}
<!-- 头部end -->

<!--per_tip star-->
{insert name="sns_person_second_header" uid = $client_account}
<!--content star-->
<div class="content">
  <!--main star-->
   <div class="main main_photo_show">
    <div class="efpClew"><a href="#" title="关闭"></a></div>
    <h4>
		 <a href="/Sns/Album/Personphoto/photolist/album_id/{$album_id}/client_account/{$client_account}"  style="text-decoration:none;" class="" title=""><span >返回相册</span></a>
		 <a href="#" class="photo_info_tail  xpxq_a"><span >相片详情</span><span id="icon_img" class="icon_down"></span></a>
		 <a href="#" class="photo_info_tail " id="fullscreen_btn"><span>全屏浏览</span></a> 
    </h4>
    
    <div class="clear"></div>
    <!--publish_main star-->
    <div class="publish_main">
     <!--publish_main_left star-->
	     
	  <!--相片展示 start -->
	  <div id="galleria" style="display:none;margin:0 auto;"></div>
		  <!--相片展示 end -->

		  <div class="clear"></div> 
	      <!--评论 star--> 
	      <div style="border-bottom:#CCCCCC solid 1px; margin:10px 0;"></div>
	      <div style="margin-left:50px;">
	      <p><strong>评论:</strong></p>
	       <!--list_comment star-->
	       <div class="list_comment">
	          <textarea id="photo_comments" class="list_textarea"></textarea>
	       </div>
	       <!--list_comment end-->
	       <!--list_comment_people star-->
	       <div id="comment_list_div"></div> 
	       <!--list_comment_people end-->
	       </div>
	       <!--more_active star-->
	         <div class="more_active">
	           <a href="javascript:;" id="morePage">查看更多</a>
	         </div>
	    </div>
	      <div class="clear"></div>  
    <!--publish_main end-->
    <div class="clear"></div>
  </div>
  <!--main end-->
  <div class="clear"></div> 
  </div>
<!--content end-->
<input id="is_edit" type="hidden" value="{$is_edit}"/>
<input id="album_id" type="hidden" value="{$album_id}">
<input id="photo_id" type="hidden" value="{$photo_id}">
<input id="client_account" type="hidden" value="{$client_account}">
<input id="login_account" type="hidden" value="{$login_account}"/>
<input id="photo_num" type="hidden" value="{$album.photo_num}"/>
{include file="Sns/Album/Subtemplate/show_photo_comment.inc.html"}
<!-- 尾部start -->
{include file="Public/sns_footer.html"}
<!-- 尾部end -->
</body>
</html>



