.main h4{background:url(../../images/ClassExam/publish/h4_bj.jpg) 0 0 no-repeat; height:44px; margin:10px;}

.main ul a{display:inline-block; width:112px; height:36px; text-align:center; line-height:36px; margin-right:4px;}
.main_nav_a1{ background:url(../../images/ClassExam/publish/main_nav_a1.jpg) 0 0 no-repeat; color:#fff; font:16px "微软雅黑";}
.main_nav_a2{background:url(../../images/ClassExam/publish/main_nav_a2.jpg) 0 0 no-repeat; color:#444; font:16px "微软雅黑";}

.publish_main{border-left:1px #6db500 solid;border-right:1px #6db500 solid;border-top:1px #6db500 solid; font:14px "微软雅黑"; color:#464646; background:#fff; padding:30px 30px 10px;}
	.release_guide{background:#deeec1; padding:10px; height:30px; line-height:30px;}
	    .release_guide .top_title{float:left; padding-right:40px;}
	    .release_guide p span{float:left;} 
	    .num1{background:url(../../images/ClassExam/publish/num_1.gif) 0 0 no-repeat; width:28px; height:28px; display:inline-block; float:left; margin-right:10px;}
		.num2{background:url(../../images/ClassExam/publish/num_2.gif) 0 0 no-repeat;}
		.num3{background:url(../../images/ClassExam/publish/num_3.gif) 0 0 no-repeat;}
		.num4{background:url(../../images/ClassExam/publish/num_4.gif) 0 0 no-repeat;}
		.icon_jt{background:url(../../images/ClassExam/publish/icon_arrow.gif) 0 0 no-repeat; width:30px; height:21px; display:inline-block; float:left; margin:6px 10px 0px 20px;}
		
	.main_title{color:#3c3c3c; font:bold 14px "微软雅黑"; margin:10px 0px;}	
	
	.fill_info{background:#deeec1; padding:10px; margin-bottom:10px;}
		.fill_info p{border-bottom:1px #abcd90 dashed; margin-bottom:10px; line-height:22px;}
		.fill_info table td{height:30px;}
		.fill_info table th{font-weight:normal; text-align:right;}
		    .text120{width:120px; height:20px; line-height:20px;}
		
		.exam_list{margin:10px 0px 0px 0px; height:31px; line-height:31px;}
			.pic01{background:url(../../images/ClassExam/publish/pic01.jpg) 0 0 no-repeat; width:110px; height:31px; color:#fff; display:block; line-height:31px; padding-left:20px; float:left;}
			.exam_list p{float:left; padding:0px 0px 0px 20px;}
			    .text_browse{height:20px; border:1px #ccc solid; background:#f2f2f2; margin:0px 10px; cursor:pointer;}
			    .word4_btn{background:#f2f2f2; border:none; color:#464646; border:1px #ccc solid; width:78px; height:22px; line-height:22px; cursor:pointer; margin-right:10px;}
				.align_right{text-align:right; width:220px;}
				.main_width{width:500px; float:left;}
		
		.list_main table{margin:0px; padding:0px;}
			.list_main table th{background:#e3f2c6; height:34px; border:1px #b6ce89 solid; border-left:none;}
			.list_main table td{height:28px; text-align:center;border-right:1px #b6ce89 solid; border-bottom:1px #b6ce89 solid;}
				.list_main table .boder_left{border-left:1px #b6ce89 solid;}
	 			.list_main table tr:hover{background:#eef7dd;}
				.list_main table td a{color:#464646;}
			    
				.list_main table .align_left{text-align:left; padding-left:10px; width:500px;}
			    .text_comment{width:400px; padding:4px; float:left; height:14px; border:none;}
				.text100{width:100px;border:1px #dcdcdc solid; padding:4px;}
				.icon_write{background:url(../../images/ClassExam/publish/icon_write.gif) 0 0 no-repeat; width:16px; height:16px; display:inline-block; margin:4px 10px 0px;}
				.icon_hide{background:url(../../images/ClassExam/publish/icon_hide.gif) 0 0 no-repeat; width:15px; height:16px; display:inline-block;}
			.list_main p{font:12px "宋体"; text-align:right; padding:10px 0px 0px 0px;}
			.list_main .align_left{text-align:left;}
			
			.list_main_btn{ width:350px;text-align:center; height:40px; margin:0 auto;}
				.list_main_btn dl{float:left; margin:0px 30px;}
				
				
		
			


/*弹出层*/
/*成绩预览*/
.preview_release{width:960px; font:14px "宋体"; background:#fff;}
	.preview_release_main{border:1px #6db500 solid;}
	.fill_info_tcc table th{text-align:left; height:30px;}
	.mar0{margin:0px 0px 10px;}
	.tcclist_main_btn{width:500px; margin-top:20px;}
	.tcclist_main_btn dl dd{font:12px "宋体"; padding-top:6px;}

/*编辑评语*/
.edit_comment{width:500px;border:1px #6db500 solid; background:#fff;}
	.tcc_title{font:14px "微软雅黑"; background:#f8f8f8; border-bottom:1px #e9e9e9 solid; padding:0px 10px; height:33px; line-height:33px; width:480px; position:relative;}
	  .close_icon{background:url(../../images/ClassExam/publish/icon_close.gif) 0 0 no-repeat; width:10px; height:9px; display:inline-block; position:absolute; right:10px; top:12px;}
	.textarea_main{padding:10px;}
		.textarea_main textarea{width:476px; height:60px; border:1px #eaeaea solid;}
	.msg_btn{padding:0px 10px 10px;}	
		.msg_btn span{float:left;}
		.msg_btn p{text-align:right;}
		.green_btn{background:url(../../images/ClassExam/publish/green_btn.gif) 0 0 no-repeat; width:57px; height:24px; color:#fff; border:none; cursor:pointer;}
		.qx_btn{background:url(../../images/ClassExam/publish/qx_btn.gif) 0 0 no-repeat; width:57px; height:24px; line-height:24px; border:none; cursor:pointer; text-align:center; color:#73797c; margin-left:10px;}

/*读取草稿*/
.tcc_title span{color:#666; font:12px "宋体"; padding-left:10px;}
.read_darft_main{padding:20px 0px 10px; height:140px; overflow:auto; font:14px "微软雅黑"; color:#464646;}
	.read_darft_main p{padding:0px 0px 10px 10px;}
	.read_darft_main table{border:1px #e9e9e9 solid; width:482px; text-align:center;}
	   .read_darft_main table td{height:30px; text-align:center;font:12px "宋体"; color:#464646;border-bottom:1px #ccc dashed;}
	   .read_darft_main table th{background:#f8f8f8; height:30px; text-align:center;}
	   .read_darft_main table td a{color:#464646;}
	   .read_darft_main table td a:hover{color:#3a8a00;}
	   .read_darft_main table tr:hover{background-color:#eef7dd;}
	   
/*评语库*/
.comment_library{width:770px; background:#fff;}
	.comment_library h1{width:750px;}
	.library_main{padding:10px; width:750px;}
		.library_left{float:left; font:13px "宋体"; width:78px;}
		    .library_left ul li a{background:#75b333;width:78px; height:35px; display:inline-block; text-align:center; color:#fff; line-height:35px; margin-bottom:4px;}
			.library_left ul li .library_a{border:1px #75b333 solid; border-right:none;background:#fff; color:#3a8a00;}
		
		.library_right{float:left;border:1px #75b333 solid; border-left:none; width:666px;}
			.library_right_top ul{background:url(../../images/ClassExam/publish/tcc_ul_line.jpg) 0  bottom no-repeat; width:364px; height:28px; padding:7px 0px 0px 300px;}
			   .library_right_top ul li{float:left;}
			   .library_right_top ul li a{background:url(../../images/ClassExam/publish/tcc_a_bj.gif) 0 0 no-repeat; width:97px; height:28px; display:inline-block; color:#fff; margin-right:10px; font:14px "宋体"; text-align:center; line-height:28px;}
			   
			   .library_right_top ul li .a_link{background:url(../../images/ClassExam/publish/tcc_a_hover.gif) 0 0 no-repeat; width:97px; height:28px; color:#464646;}

            .library_right_commmet{width:660px; height:400px;border-left:1px #75b333 solid; font:12px "宋体"; overflow:auto;}
			   .library_right_commmet ul{ padding:10px 10px 0px 20px;}
			   .library_right_commmet ul li{background:url(../../images/ClassExam/publish/icon_square.gif) left center no-repeat;height:32px; line-height:32px; border-bottom:1px #e8e7e7 dashed;}
			   .library_right_commmet ul li a{margin-left:10px; color:#464646; display:inline-block;}
			   
			   .library_right_commmet ul li .width_logn{width:520px; display:inline-block; overflow:hidden; float:left;}
			   .library_right_commmet ul li a:hover{color:#3a8a00;}
			   
/*我收藏的评语*/
.comment_p{padding:8px 20px; background:#f7f7f7; font:14px "微软雅黑"; height:16px; width:600px;}
	.comment_p p{float:left; width:500px;}		
	.comment_p span{float:right; display:block;}	   


/*保存成功*/
.success{background:url(../../images/ClassExam/publish/success_pic.jpg) 0 0 no-repeat; width:146px; height:52px;}
	.success p{font:18px "微软雅黑"; padding:14px 0px 0px 50px; color:#3a8a00;}
















































