@charset "utf-8";
/* CSS Document */
.main h4{background:url(../../images/Blog/class_type/h4_bj.jpg) 0 0 no-repeat; height:44px; margin:10px; width:920px;}
	.main h4 a{float:right; margin-top:10px;}

.publish_main{background:#fff;border:1px #6db500 solid; border-bottom:none; font:14px "微软雅黑";color:#464646;padding:10px 10px;}
	.publish_title{height:40px;}
		.publish_title h3{font:14px "微软雅黑";}
		.publish_title h3 span{float:left; line-height:25px;}
		.pl_r10{padding:0px 10px;}
		.publish_title h3 a{margin-right:30px; float:left;}
		.ml30{margin-left:30px; float:left;}
	
	.text_title{font:bold 14px "微软雅黑"; border-bottom:1px #66b62c solid; height:30px; line-height:30px;}
	
	.blog_main{width:938px; padding:10px 0px;}
		.blog_main_left{width:718px; float:left;}
			.blog_main_left table{border:1px #91d361 solid; border-bottom:none;}
				.blog_main_left table tr:hover{background:#eef7dd; border-bottom:1px #91d361 solid;}
				
				.blog_main_left table th{text-align:left;border-bottom:1px #91d361 dashed; height:30px; padding-left:10px;}
					.th_width{width:580px;}
						.text_blog{width:200px; height:20px; line-height:20px; float:left; margin-right:10px;}
						.green_btn{background:url(../../images/Blog/class_type/green_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer; color:#fff;}
			
				.blog_main_left table td{height:30px; padding-left:10px; border-bottom:1px #91d361 solid;}
					.blog_main_left table td a{color:#3a8a00; display:inline-block;}
					.blog_main_left table td .f464646{color:#464646;}
					.blog_main_left table td .f464646:hover{color:#3a8a00;}
						.mr10{margin-right:10px;}
						.ml10{margin-left:10px;}
				.add_fied{padding:10px;}	
					.publish_btn{width:70px; height:24px; border:1px #4ca00e solid; background:#56ac18; color:#fff; cursor:pointer;}
				.urse_msg{padding:10px; line-height:22px; font:12px "微软雅黑"; color:#666;}		
				
		.blog_main_right{width:200px; float:left; padding:0px 10px;}
			.blog_main_right h3{font:bold 14px "微软雅黑"; width:200px; height:30px;}
				.blog_main_right h3 a{color:#458715;}
					.blog_main_right h3 span{width:160px; display:inline-block;}
				
				.blog_main_right p a{color:#464646; display:inline-block; padding:4px 0px}
					.blog_main_right p a span{width:160px; display:inline-block; cursor:pointer;}
					.blog_main_right p a:hover{background:#deeec1; text-decoration:none; color:#3a8a00;}
				
				.blog_main_right h5{ height:20px;}
					.blog_main_right h5 a{font:normal 14px "微软雅黑";color:#464646; width:102px; display:inline-block; background:url(../../images/Blog/class_type/icon_sjx_right.gif) right center no-repeat;} 
					.blog_main_right h5 a:hover{border:1px #6db500 solid; border-bottom:none; background:url(../../images/Blog/class_type/icon_sjx.gif) right center no-repeat; text-decoration:none;}


/*弹出层*/


	
/*提示信息*/	   
.tcc_msg{width:310px; color:#666; background:#fff;}
	.tcc_msg_top{background:url(../../images/Blog/class_type/tcc_msg_top.gif) 0 0 no-repeat; height:5px; overflow:hidden;}
	.tcc_msg_center{background:url(../../images/Blog/class_type/tcc_msg_center.gif) 0 0 repeat-y; padding:20px;}
	    .msg_center_main{width:270px;}
	    	.msg_center_main dl{float:left; margin-right:8px; width:8px;}
			.msg_center_main p{float:left;font:normal 12px "宋体"; line-height:20px; width:250px;}
		
			.icon_question{background:url(../../images/Blog/class_type/icon_question.gif) 0 0 no-repeat; width:8px; height:14px; display:inline-block;}
		
		.msg_center_btn{text-align:right; padding-top:10px;}
			.qd_btn{background:url(../../images/Blog/class_type/qd_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer;}
			.qx_btn{background:url(../../images/Blog/class_type/qx_btn.gif) 0 0 no-repeat; width:57px; height:24px; line-height:24px; border:none; cursor:pointer; text-align:center; color:#73797c; margin-left:10px;}
	.tcc_msg_bottom{background:url(../../images/Blog/class_type/tcc_msg_bottom.gif) 0 0 no-repeat; height:5px; overflow:hidden;}		

/*日志分类*/
.blog_branch{background:#fff; width:170px; border:1px #6db500 solid;}
	.blog_branch p{font:14px "微软雅黑"; padding:10px 4px;}
		.blog_branch p a{color:#464646; display:block; width:160px; padding:4px 0px;}
		.blog_branch p a span{width:126px; display:inline-block; cursor:pointer;}
		.blog_branch p a:hover{background:#deeec1; text-decoration:none;}



















