@charset "utf-8";
/* CSS Document */
.main h4{background:url(../../images/Blog/class_list/h4_bj.jpg) 0 0 no-repeat; height:44px; margin:10px;}

.publish_main{background:#fff;border:1px #6db500 solid; border-bottom:none; font:14px "微软雅黑";color:#464646;padding:10px 10px 0px;}
	.publish_title{height:40px;}
		.publish_title h3{font:14px "微软雅黑";}
		.publish_title h3 span{float:left; line-height:25px;}
		.pl_r10{padding:0px 10px;}
		.publish_title h3 a{margin-right:30px; float:left;}
		.ml30{margin-left:30px; float:left;}
		
	.blog_main{width:938px;}
		.blog_main_left{width:718px; float:left;}
			.single_blog{background:#fff7e0; padding:10px; margin-bottom:20px;}
				.single_blog h3{font:bold 14px "微软雅黑"; padding-bottom:6px;}
	     		.single_blog_p{text-indent:30px; line-height:24px;}
				.single_blog p a{color:#3a8a00;}
				
				.single_blog ul{height:25px; padding-top:15px;}
					.single_blog ul li{float:left; width:620px; color:#8c8c8c; font:12px "微软雅黑";}
					.single_blog ul .li_wdith{width:60px;}
					.single_blog ul li a{color:#8c8c8c;}
			        .single_blog ul li a:hover{color:#3a8a00;}
					.pr20{padding-right:20px;}
		 	
			.see_homework{text-align:center; margin-top:20px;}	
	   			 .see_homework span{ background:url(../../images/Blog/class_list/see_icon_bj.gif) 0 0 no-repeat; width:242px; height:31px; display:inline-block; line-height:31px;}	
	  			 .see_homework span a{color:#288c00;}
					
					
					
		.blog_main_right{width:200px; float:left; padding:0px 10px;}
			.blog_main_right h3{font:bold 14px "微软雅黑"; width:200px; height:30px;}
				.blog_main_right h3 a{color:#458715;}
					.blog_main_right h3 span{width:160px; display:inline-block;}
				
				.blog_main_right p a{color:#464646; display:inline-block; padding:4px 0px}
					.blog_main_right p a span{width:160px; display:inline-block; cursor:pointer;}
					.blog_main_right p a:hover{background:#deeec1; text-decoration:none; color:#3a8a00;}
				
				.blog_main_right h5{ height:20px;}
					.blog_main_right h5 a{font:normal 14px "微软雅黑";color:#464646; width:102px; display:inline-block; background:url(../../images/Blog/class_list/icon_sjx_right.gif) right center no-repeat;} 
					.blog_main_right h5 a:hover{border:1px #6db500 solid; border-bottom:none; background:url(../../images/Blog/class_list/icon_sjx.gif) right center no-repeat; text-decoration:none;}


/*弹出层*/

/*提示信息*/	   
.tcc_msg{background:#fff; width:310px; color:#666;}
	.tcc_msg_top{background:url(../../images/Blog/class_list/tcc_msg_top.gif) 0 0 no-repeat; height:5px; overflow:hidden;}
	.tcc_msg_center{background:url(../../images/Blog/class_list/tcc_msg_center.gif) 0 0 repeat-y; padding:20px;}
		.tcc_msg_center span{font:12px "宋体";}
		.tcc_msg_center p{text-align:right; padding-top:10px;}
		.icon_question{background:url(../../images/Blog/class_list/icon_question.gif) 0 0 no-repeat; width:8px; height:14px; display:inline-block;}
		.qd_btn{background:url(../../images/Blog/class_list/qd_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer;}
		.qx_btn{background:url(../../images/Blog/class_list/qx_btn.gif) 0 0 no-repeat; width:57px; height:24px; line-height:24px; border:none; cursor:pointer; text-align:center; color:#73797c; margin-left:10px;}
	.tcc_msg_bottom{background:url(../../images/Blog/class_list/tcc_msg_bottom.gif) 0 0 no-repeat; height:5px; overflow:hidden;}

/*日志分类*/
.blog_branch{background:#fff; width:170px; border:1px #6db500 solid; border-top:none;}
	.blog_branch p{font:14px "微软雅黑"; padding:10px 4px;}
		.blog_branch p a{color:#464646; display:block; width:160px; padding:4px 0px;}
		.blog_branch p a span{width:126px; display:inline-block; cursor:pointer;}
		.blog_branch p a:hover{background:#deeec1; text-decoration:none;}





















