@charset "utf-8";
/* CSS Document */
.main h4{background:url(../../images/Blog/class_show/h4_bj.jpg) 0 0 no-repeat; height:44px; margin:10px; width:920px;}
	.main h4 a{float:right; margin-top:10px;}

.publish_main{background:#fff;border:1px #6db500 solid; border-bottom:none; font:14px "微软雅黑"; color:#464646; padding:20px;}
	.list_main_top{height:90px; }
		.list_main_top dl{float:left; width:82px; text-align:center;}
			.list_main_top dl dt img{width:82px; height:56px;}
		.list_main_top_right{float:left;width:100%;}
			.list_main_top h3{font:bold 16px/35px"微软雅黑";}
			.list_main_top p{padding:0px 10px; display:inline-block; float:left;}
			.list_main_top p a{color:#3a8a00;}
			.pr10{padding-right:10px;}
			.pl_r10{padding:0px 10px;}
			.pl10{padding-left:10px;}
			.pl_r20{padding:0px 10px 0px 50px;}
	
	.blog_main_bjt{padding:10px; margin:10px 0px;}		
		.main_text{text-indent:30px; margin:10px 0px;}
	
	.publish_main ul{text-align:right; padding:0px 20px 4px 0px; border-bottom:1px #ccc solid; margin-bottom:6px;} 
		.publish_main ul li a{color:#3a8a00;}
		
	.list_comment{width:600px;}
			.list_textarea{width:550px; height:60px;}
			.list_comment p{height:25px; width:600px; padding-top:10px;}
		    	.icon_face{background:url(../../images/Blog/class_show/icon_face.gif) left center no-repeat; display:inline-block; float:left; width:40px; padding-left:20px; color:#3a8a00;}
				.green_btn{background:url(../../images/Blog/class_show/green_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; color:#fff; cursor:pointer; float:left;}
				.list_comment p span{float:left; width:472px; display:inline-block; text-align:right; padding:4px 10px 0px 0px;}
	.list_comment_people{padding:10px 0px 0px; width:898px;}
		.list_comment_people dl{float:left; width:50px;}
		.list_comment_people dl dt img{width:40px; height:40px;}
		
		.say_text{width:394px; height:20px; padding:0px 2px 0px; line-height:20px;}
		
		.list_comment_main{float:left; width:788px;}
			.list_comment_main p a{color:#3a8a00;}
			.list_comment_main p span{font:12px "微软雅黑"; color:#8c8c8c;}
			.mr10{margin-right:10px;}
			.ml10{margin-left:10px; display:inline-block;}
			
			.list_people{margin:10px 0px 0px 0px;}
				.list_people dl{float:left; width:50px; padding-top:4px;}
					.list_people dl dt img{width:36px; height:36px;}
				.people_comment{float:left;}
				
	.more_active{width:898px; text-align:center; margin-top:10px; border:1px #ccc dashed; padding:10px 0px;}	
		.more_active a{background:url(../../images/Blog/class_show/icon_more.jpg) right center no-repeat; display:inline-block; padding-right:10px; color:#5f9400; font:14px "宋体";}		
	

/*弹出层*/

/*提示信息*/	   
.tcc_msg{background:#fff; width:310px; color:#666;}
	.tcc_msg_top{background:url(../../images/Blog/class_show/tcc_msg_top.gif) 0 0 no-repeat; height:5px; overflow:hidden;}
	.tcc_msg_center{background:url(../../images/Blog/class_show/tcc_msg_center.gif) 0 0 repeat-y; padding:20px;}
		.tcc_msg_center span{font:12px "宋体";}
		.tcc_msg_center p{text-align:right; padding-top:10px;}
		.icon_question{background:url(../../images/Blog/class_show/icon_question.gif) 0 0 no-repeat; width:8px; height:14px; display:inline-block;}
		.qd_btn{background:url(../../images/Blog/class_show/qd_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer;}
		.qx_btn{background:url(../../images/Blog/class_show/qx_btn.gif) 0 0 no-repeat; width:57px; height:24px; line-height:24px; border:none; cursor:pointer; text-align:center; color:#73797c; margin-left:10px;}
	.tcc_msg_bottom{background:url(../../images/Blog/class_show/tcc_msg_bottom.gif) 0 0 no-repeat; height:5px; overflow:hidden;}



.hide_comment{background:#fff; font:14px "宋体";}
	.hide_textarea{width:400px; height:40px; margin-bottom:6px;}
	.icon_face{background:url(../../images/Blog/class_show/icon_face.gif) left center no-repeat; display:inline-block; float:left; width:40px; padding-left:20px; color:#3a8a00;}
	.hide_comment p span{width:280px; display:inline-block; float:left;}
















