<!--
<link href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" rel="stylesheet" type="text/css" />
<link href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/layer_dynamic_02.css" rel="stylesheet" type="text/css" />
-->
<div id="feed_div" class="layer_dynamic" style="display:none;">
    <!--全部动态 star-->
    <div id="feed_list_div" class="dynamic">
        
    </div>
    <!--动态 end-->

	<!--加载更多 star-->
	<div id="load_more_div" class="loadmore">
    	<a id="load_more_feed_a" href="javascript:;">查看更多动态</a>
    </div>
</div>
{include file="Sns/Feed/feed_unit.html"}
{include file="Sns/Feed/comment_1st_unit.html"}
{include file="Sns/Feed/comment_2nd_unit.html"}

{include file="Sns/Feed/feed_delete.html"}