<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>我的好友</title>
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Friend/my_friend.css" type="text/css" charset="utf-8">

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/template/template.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/sendbox/sendbox.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/plugins/iframeTools.source.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/tip_msg/showtip.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/Friend/my_friend.js"></script>


</head>
<body>
{insert name="sns_header"}

<!--per_tip star-->
  {include file="Public/sns_person_space_header.html"}
<!--per_tip end--> 

<!--content star-->
<div class="content">
  <!--main star-->
  <div class="main">
    <ul class="mian_title">
     <li><a href="/Sns/Friend/Manage/index" class="main_nav_a1 f16" title="">我的好友</a><a href="/Sns/Friend/Manage/search_friend" class="main_nav_a2 f16" title="">查找好友</a></li>
    </ul>
    <!--per_main star-->
    <div class="per_main">
      <!--permain_left star-->
      <div id="friend_group_list_div" class="permain_left">
        <p id="search_p">
          <input id="search_name" type="text" class="seardh_text" value="搜索姓名">
          <input id="search_btn" type="button" value="搜索" class="green_btn">
        </p>
        <p class="nr_title"><strong>好友分组</strong></p>
        <p ><a href="/Sns/Friend/Manage/index" style="padding-left:10px;color:#464646;">全部好友(<font id="friend_total_count"></font>)</a></p>
        {literal}
        <ul id="friend_group_list_ul" style="display:none;">
        {each friend_group_list as friend_group index}
          <li id="group_{friend_group.group_id}" class="group_list_selector">
	          <span style="width:100px;">
	          	<a class="group_name_selector_a" href="javascript:;">{friend_group.group_name}({friend_group.count})</a>
	          </span>
	          {if friend_group.group_id !=0}
	          <font id="edit_del_btn" style="display:none;">
	          <a class="group_edit_selector_a" href="javascript:;">编辑</a>
	          <a class="group_delete_selector_a" href="javascript:;">删除</a>
	          </font>
	          {/if}
	          <input class="group_name_selector" type="hidden" value="{friend_group.group_name_bak}"/>
          </li>
        {/each}
        </ul>
        {/literal}
        <p><input id="add_group_btn" type="button" value="添加分组" class="add_groups"></p>
      </div>
      <!--permain_left end-->
      <!--permain_right star--> 
      <div id="friend_list_div" class="permain_right">
        <div class="per_right_tab clone unit_selector" style="display:none;">
          {literal}
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="photo_width">{if user.friend_account}<a href="/Sns/PersonIndex/Index/index/client_account/{user.friend_account}">{else}<a href="/Sns/PersonIndex/Index/index/client_account/{user.client_account}">{/if}<img src="{user.client_headimg_url}"></a></td>
            <td>
              <p id="client_name_p">{user.client_name}</p>
              <p>{if user.client_sex == 1}男{else}女{/if}</p>
              <p>
              
              	<a href="javascript:;" class="mail_btn mr10 send_private_smg_selector">发私信</a>
              	<a href="/Sns/Friend/Manage/getFriendByAccountFriend/friend_account/{user.friend_account}" target="__blank;" style="text-decoration:none">
              		<input type="button" value="他的好友" class="yj_green_btn">
              	</a>
              </p>
            </td>
            <td>
	            <a href="javascript:;" class="pull_down change_friend_group_selector" style="display:inline-block;overflow:hidden;width:100%;">
	            	<span>修改分组</span>
	            	<span class="green_sjx"></span>
	            </a>
            </td>
            <td>
               <a href="javascript:;" class="a_close delete_friend_relation_selector"></a>
            </td>
          </tr>
        </table>
        <input type="hidden" class="group_id_selector" value="{user.friend_group}"/>
        <input type="hidden" class="friend_account_selector" value="{user.friend_account}"/>
        <input type="hidden" class="relation_id_selector" value="{user.relation_id}"/>
        {/literal}
        </div>
        
      </div>
     
      <!--permain_right end-->
      <div class="clear"></div>
          <!--more_active star-->
         <div class="more_active" >
           <a href="javascript:;" id='load_more_a'>加载更多</a>
         </div>
       <!--more_active end-->
    </div>
    <!--per_main end-->
  </div>  
  <!--main end-->
<div class="clear"></div> 
</div>
<!--content end-->


<!--弹出层 star-->
 <!--提示信息弹出层-->
  <div id="delete_friend_group_div" class="tcc_msg">
    <p class="tcc_msg_top"></p>
    <div class="tcc_msg_center">
      <div class="msg_center_main">
      <dl>
       <dt><span class="icon_question"></span></dt>
      </dl>
      <p class="f12">确定删除该分组吗？<br /><span>提示：删除分组，该分组下的好友不会被删除</span></p>
      <div class="clear"></div>
      </div>
      
      <p class="msg_center_btn">
      	<input id="sure_btn" type="button" class="qd_btn">
      	<input id="cancel_btn" type="button" class="qx_btn" value="取消">
      </p>
    </div>
    <p class="tcc_msg_bottom"></p>
    <input type="hidden" id="group_id"/>
  </div>
 <!--提示信息弹出层-->

 <!--添加分组 star-->
 <div id="add_friend_group_div" class="edit_comment">
   <h1 class="tcc_title">添加分组<a href="#" class="close_icon"></a></h1>
   <p class="textarea_main">
    	请输入分组名称<input type="text" name="group_name" class="tcc_text ml10" maxlength="10">
   </p>
   <div class="msg_btn">
     <span class="f12 f_orange"></span>
     <p>
	     <input id="sure_btn" type="button" value="确定"  class="green_btn">
	     <input id="cancel_btn" type="button" value="取消" class="qx_btn">
     </p>
   </div>
   <input type="hidden" name="group_type" value="1"/>
 </div>
 <!--添加分组 end-->
 
<!--编辑分组 star-->
 <div id="edit_friend_group_div" class="edit_comment">
   <h1 class="tcc_title">编辑分组<a href="#" class="close_icon"></a></h1>
   <p class="textarea_main">
    	分组名称<input type="text" name="group_name" class="tcc_text ml10" maxlength="10">
   </p>
   <div class="msg_btn">
     <span class="f12 f_orange"></span>
     <p>
	     <input id="sure_btn" type="button" value="确定"  class="green_btn">
	     <input id="cancel_btn" type="button" value="取消" class="qx_btn">
     </p>
   </div>
   <input type="hidden" name="group_id"/>
 </div>
 <!--添加分组 end-->
 
 <!--提示信息弹出层-->
 <!--提示信息弹出层-->
 
 <!--下拉菜单 star-->
 <div id="friend_group_menu_div" class="move_photo">
   {literal}
   <p id="friend_group_menu_p" style="display:none;">
   	{each friend_group_list as friend_group index}
    <a id="group_{friend_group.group_id}" href="javascript:;">{friend_group.group_name}</a>
    {/each}
   </p>
   {/literal}
   <input id="relation_id" type="hidden"/>
 </div>
 <!--下拉菜单 end-->
 
 <!--提示信息弹出层-->
  <div id="delete_friend_relation_div" class="tcc_msg">
    <p class="tcc_msg_top"></p>
    <div class="tcc_msg_center">
      <div class="msg_center_main">
      <dl>
       <dt><span class="icon_question"></span></dt>
      </dl>
      <p class="f12"><span>确定要和该好友<span id="client_name"></span>解除关系吗？</span></p>
      <div class="clear"></div>
      </div>
      
      <p class="msg_center_btn">
      	<input id="sure_btn" type="button" class="qd_btn">
      	<input id="cancel_btn" type="button" class="qx_btn" value="取消">
      </p>
    </div>
    <p class="tcc_msg_bottom"></p>
    <input type="hidden" id="friend_account" />
  </div>
 <!--提示信息弹出层-->
 
 <!--添加分组 star-->
 <div id="send_private_msg_div" class="send_mail">
   <h1 class="send_title">发私信<a href="#" class="close_icon"></a></h1>
   <div class="send_tab">
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>发给：</th>
        <td><input id="client_name" type="text" class="send_text" readonly="readonly"></td>
      </tr>
      <tr>
        <th class="align_top">内容：</th>
        <td>
        	<textarea name="content" id="content" class="send_textarea"></textarea>
        </td>
      </tr>
      
      {if false}
      <tr>
        <th></th>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pic_tab">
              <tr>
                <td><p><a href="#"><span class="icon_face"></span>表情</a><a href="#"><span class="icon_pic"></span>图片</a></p></td>
                <td><p class="f12 f_gray">你还可以输入<span class="f_orange">140</span>字</p></td>
                <td><input type="button" value="发表" class="green_btn"></td>
              </tr>
           </table>
        </td>
      </tr>
      {/if}
    </table>
   </div>
   <input type="hidden" id="friend_account"/>
 </div>
 <!--添加分组 end-->
 
<!--弹出层 end-->

<!--per_tip star-->
{include file="Public/sns_footer.html"}
</body>
</html>