<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>查找好友</title>
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Friend/search_friend.css" type="text/css" charset="utf-8">


<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/tool_js/template/template.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/plugins/iframeTools.source.js"></script>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/Friend/search_friend.js"></script>
</head>
<body>
{insert name="sns_header"}
<!--per_tip star-->
{include file="Public/sns_person_space_header.html"}
<!--per_tip end--> 
<!--content star-->
<div class="content">
  <!--main star-->
  <div class="main">
    <ul class="mian_title">
     <li><a href="/Sns/Friend/Manage/index" class="main_nav_a2 f16" title="">我的好友</a><a href="/Sns/Friend/Manage/search_friend" class="main_nav_a1 f16" title="">查找好友</a></li>
    </ul>
    <!--per_main star-->
    <div class="per_main">
      <div class="search_tab">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>姓名：</th>
            <td id="search_name_id">
            <input type="text" class="text_wbk" id="search_name" value="搜索姓名">
            </td>
          </tr>
          <tr>
            <th>账号：</th>
            <td id="search_account_id">
            <input type="text" class="text_wbk"  value="搜索帐号" id="search_account">
            </td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td id="search_p"><input type="button" value="搜索" class="green_btn" id="search_btn"></td>
          </tr>
        </table>
      </div>
      <h3>搜索结果</h3>
      <!--search_main star-->
      <div  class="search_main" >
        <!--search_main_single star-->
        <div id="friend_list_div">
        {literal}
        <div class="search_main_single clone" style="display:none;">
          <dl>
            <dt><img src="{user.client_headimg_url}" class="photo_width60"></dt>
          </dl>
          <div class="search_single_right">
            <p >{user.client_name}</p>
            <p class="pt10">{if user.is_friend == 1}<a href="#" class="add_friend mr10">已是好友</a>{else if user.is_friend == 2}<a href="#" class="add_friend mr10">已发送</a>{else}<a href="javascript:;" id="add_friend" class="add_friend mr10">加好友</a>{/if}</p>
          </div>
          <div class="clear"></div>
        </div>
        {/literal}
        </div>
        <!--search_main_single end-->
        <div class="clear"></div>
      </div>
      <!--more_active star-->
         <div class="more_active">
           <a href="javascript:;" id="load_more_a">加载更多</a>
         </div>
       <!--more_active end-->
      <!--search_main end-->
      <div class="clear"></div>
    </div>
    <!--per_main end-->
  </div>
  <!--main end-->
<div class="clear"></div> 
</div>
<!--content end-->

<!--弹出层 star-->
 <!--添加好友 star-->
  <div class="edit_comment" id="add_friend_div">
   <h1 class="tcc_title">添加<span id="friend_name_span"></span>好友<a href="#" class="close_icon"></a></h1>
   <div class="edit_comment_tab" id="add_content_div">
     <h2>附加信息</h2>
     <textarea class="textarea" id="content" maxlength="140"></textarea>
     <p class="pcountTxt">你还能输入<span class="f_orange">140</span>字。</p>
    </div>
   <div class="msg_btn">
     <p><input type="button" value="确定" id="queding_btn" class="green_btn"><input type="button" value="取消" id="quxiao_btn" class="qx_btn"></p>
   </div>
 </div>
 <!--添加好友 end-->
 
<!--弹出层 end-->
{include file="Public/sns_footer.html"}
</body>
</html>



