<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>已有账号导入</title>
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/ClassAdmin/student_import_account.css" type="text/css" charset="utf-8">

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/wmw_js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog4.1.6/plugins/iframeTools.source.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/ClassAdmin/student_import_account.js"></script>

</head>
<body>
<!--tip star-->
 {insert name="sns_header"}
<!--tip end--> 
 {insert name="sns_class_header" class_code = $class_code}
<!--content star-->
<div class="content">
  <!--main star-->
   <div id="main_div" class="main">
    <!--nav star-->
  	{insert name="sns_nav" class_code = $class_code}
    <!--nav end-->
    <h4>
	  <a href="/Sns/ClassAdmin/StudentList/index/class_code/{$class_code}" class="f14" title="">
	    <span class="btn_left"></span>
	    <span class="btn_right">返回学生信息维护</span>
	  </a>
    </h4>
    <div class="clear"></div>
    <!--publish_main star-->
     <div class="publish_main">
       <p class="blog_title">
         	学生信息维护&gt;已有账号导入
       </p>
       <div class="list_admin_left">
         <h3>已有账号导入</h3>
         <div class="admin_left_main">
         	<textarea id="student_accounts">
         	
         	</textarea>
           <div class="clear"></div>
         </div>
       </div>
       <div class="list_admin_center">
         <a id="sure_btn_a" href="javascript:;" class="f14" title="">
         	<span class="btn_left"></span><span class="btn_right">添加预览</span>
         </a>
       </div>
       <!--list_admin_right star-->
       <div class="list_admin_right">
         <h3>提示：请仔细核对您输入的学生账号和数量</h3>
         <div class="admin_right_main">
           <div class="admin_right_tab">
           <table id="student_list_tab" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th class="border_left">序号</th>
                <th>学生账号</th>
              </tr>
              <tr class="clone" style="display:none;">
                <td class="border_left"></td>
                <td></td>
              </tr>
            </table>
            </div>
            <p><a id="submit_btn_a" href="javascript:;" class="f14" title=""><span class="btn_left"></span><span class="btn_right">导入账号</span></a></p>
         </div>
       </div>
       <!--list_admin_right end-->
       <div class="clear"></div>
     </div>
    <!--publish_main end-->
    <div class="clear"></div>
    <div class="main_bottom"></div>
  </div>
  <!--main end-->
  <div class="clear"></div> 
  </div>
<!--content end-->

 <!--弹出层 star-->
 <!--提示稍后信息 star-->
 <div id="waiting_div" class="msg_hold_on" style="display:none;">
   <p>正在导入账号，请稍后...</p>
 </div>
 <!--提示稍后信息 end-->

  <!--提示信息弹出层 star-->
  <div id="prompt_div" class="tcc_msg" style="display:none;">
    <p class="tcc_msg_top"></p>
    <div class="tcc_msg_center">
     <div class="msg_center_main">
      <dl>
       <dt><span class="icon_warn"></span></dt>
      </dl>
      <p>
		请您输入正确的账号!<br />
      	 账号为纯数字，不能为汉字、字母、下划线和空格！ 
      </p>
      <div class="clear"></div>
     </div>
    </div>
    <p class="tcc_msg_bottom"></p>
  </div>
  <!--提示信息弹出层 end-->
  <!--弹出层 end-->
  <input id="class_code" type="hidden" value="{$class_code}"/>
</body>
</html>