<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>信息提示页</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/nav_css.css"  />


</head>

<body>
<div class="total">
  <div id="roundedbox">
    <div id="roundedbox_t">
      <h3 class="roundedbox_title">WMW提醒</h3>
    </div>
    <div id="roundedbox_m"> 
      <div id="roundedbox_changepassword">
        <form id="login_con" method="post">
         <p>
           {$tip}<a class="roundedbox_tips" href="{$url}">{$tip1}</a>
         </p>
         
        </form>
      </div>
      <div class="clear"></div>
    </div>
    <div id="roundedbox_b"></div>
  </div>
</div>




</body>
</html>
