<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.js"></script>

{literal}
<script type="text/javascript">
function deldepartment(dpt_id){
	var url = "/Amscontrol/Oadepartment/deldepartment/dpt_id/"+dpt_id; 
	$.ajax({
	    type: "get",//使用get方法访问后台
	    dataType: "json",//返回json格式的数据
	    url:url,//要访问的后台地址
	    success: function(msg){//msg为返回的数据，在这里做数据绑定
			if(msg.errorcode == -1){
				//alert("共有子部门"+msg.data.count+"分别是："+msg.data.name);
				alert("本部门下有子部门，必须删除子部门才能将该部门删除！");
			}else if(msg.errorcode == -2){
				alert(msg.message);
			}else if(msg.errorcode == 1){
				alert(msg.message);
			}
		},
	});
}

</script>
{/literal}
</head>
<body>
<a href="javascript:deldepartment(2);">删除部门</a>
<a href="/Amscontrol/Oadepartment/departmentMemberssort/dpt_id/1">人员排序</a>

</body>
</html>