<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<form method="post" action="/Amscontrol/Oadepartment/modifyDepartment" enctype="multipart/form-data">
部门序号:<input type="text" name="sort_id" value="{$dptinfos.sort_id}"/><br/>
部门名称:<input type="text" name="dpt_name" value="{$dptinfos.dpt_name}"/><br/>
部门电话:<input type="text" name="dpt_phone" value="{$dptinfos.dpt_phone}"/><br/>
部门上级部门:<input type="text" name="up_id" value="{$dptinfos.up_id}"/><br/>
部门职能:<input type="text" name="dpt_description" value="{$dptinfos.dpt_description}"/><br/>
<img src="{$dptinfos.photo_path}"/>
部门照片:<input type="file" name="dpt_photo"/><br/>
<input type="hidden" value="{$dptinfos.dpt_photo}" name="pic_name"/>
<input type="submit" value="提交"/>
</form>
</body>
</html>