<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>学校管理</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/css/common.css"  />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/css/xxgl.css"  />

</head>

<body id="bodcont" scroll="no">
<div style="padding:20px 0px 0px 28px;"><span><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/images/iconr.gif" /></span>您好：<font color="#FF0000">{$username}</font> ，欢迎使用AMS账号管理系统！ 您现在的位置：<a href="#" class="amswz">部门管理</a>  >>  <a href="#" class="amswz">{$action_name}</a></div>
<iframe name="leftFram" frameborder="0" width="204" src="/Amscontrol/Oadepartment/showDepartmentMenuTree/school_id/{$school_id}/open_url_base64/{$open_url_base64}" id="hoho" style="display:block; float:left; margin-top:24px; overflow-x:hidden" scrolling="yes"></iframe>
<iframe name="showDptFrame" frameborder="0" scrolling="auto" id="hoho2" style="display:block; float:right;overflow-x:hidden;"></iframe>

{literal}
<script type="text/javascript"> 
	<!-- 
	var winWidth = 0; 
	var winHeight = 0; 
	function findDimensions() //函数：获取尺寸 
	{ 
	//获取窗口宽度 
	if (window.innerWidth) 
	winWidth = window.innerWidth; 
	else if ((document.body) && (document.body.clientWidth)) 
	winWidth = document.body.clientWidth; 
	//获取窗口高度 
	if (window.innerHeight) 
	winHeight = window.innerHeight; 
	else if ((document.body) && (document.body.clientHeight)) 
	winHeight = document.body.clientHeight; 
	//通过深入Document内部对body进行检测，获取窗口大小 
	if (document.documentElement && document.documentElement.clientHeight && document.documentElement.clientWidth) 
	{
	winHeight = document.documentElement.clientHeight; 
	winWidth = document.documentElement.clientWidth; 
	} 
	//结果输出至两个文本框 
	document.getElementById("bodcont").style.height= winHeight;
	document.getElementById("hoho").height=winHeight-112;
	document.getElementById("hoho2").width=winWidth-204;
	document.getElementById("hoho2").height=winHeight-112;
	
	} 
	findDimensions(); 
	//调用函数，获取数值 
	window.onresize=findDimensions; 
	//--> 
</script> 
{/literal}

</body>
</html>
