<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>相关设置</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/css/common.css" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/css/xxgl.css"  />

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/Share_mini.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/js/page/kcsz.js"></script>

{literal}
<script type="text/javascript">
$(document).ready( function() {
	//删除缓存
	var src = $('#logo_img').attr('src');
	src += "?" + Math.random();
	$('#logo_img').attr('src', src);

	$("#upload_button").bind('click', function(){
		var school_logo = $("#school_logo").val(); 
		if(school_logo == ""){
			alert("请选择要上传的图片");
			return false;
		} else {
			var fileSize = getFileSize("school_logo"); 
			if(fileSize > 20480) {
				alert("请选择小于2M的图片");
				return false;
			}
		}
		return true; 
	});
	 
});

function checkFileSize(input_id){
	filePath = $("#"+input_id).val(); 
	var image = null;
	image=new Image();	
	image.src = filePath; 
	if(image.fileSize > 0) {//todo
		return image.fileSize; 
	} else {
		return true;
	}
	//return image.fileSize; 
}
</script>
{/literal}

</head>

<body style="padding-top:30px; _width:98%">
<table width="92%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td height="20" valign="middle" style="background:url({$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/images/iconr.gif) no-repeat 8px center; padding-left:28px;">您好：<font color="#FF0000">{$username}</font> ，欢迎使用AMS账号管理系统！ 您现在的位置：<a href="#" class="amswz">集中办公平台设置</a></td>
  </tr>
</table>
<form  action='/Amscontrol/Oarole/uploadSchoolLogo' method='post' enctype='multipart/form-data'>
<table width="92%" border="0" cellspacing="0" cellpadding="0" class="padleft">
  <tr>
    <td height="27" class="bt STYLE1">上传学校logo</td>
  </tr>
  <tr>
    <td height="10">&nbsp;</td>
  </tr>
  <!-- 添加id和方法_2011-08-09_02_star -->
    <tr>
    <td height="25" bgcolor="#fbf6f7" style="padding:10px;">
    	<a href="/Amscontrol/Oarole/roleList" class="amsqd">角色与权限管理</a> 
        <a href="/Amscontrol/Oarole/schoolLogo" class="amsqd">相关设置</a>
    </td>
  </tr>
  <tr><td> 
  {if $logo_path != ""}
  	<img src="{$logo_path}" id="logo_img"/>
  {else}
  	暂无学校logo
  {/if}
  </td></tr>
  <tr bgcolor="#fbf6f7" >
  	 <td style="padding:20px;"> 修改学校logo：&nbsp;&nbsp;&nbsp;
  	 <input type="file" name="school_logo" id="school_logo" onchange="checkFileSize('school_logo')" ></input>
  	 <input  type="submit" id="upload_button" style="padding:1px 8px;"  value="上传"  /></td>
  </tr>
</table>
</form>
</body>
</html>
