<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>ams头部</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/css/common.css" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/css/xxgl.css"  />

{literal}
<style>
	body{ background:url({/literal}{$smarty.const.IMG_SERVER}{literal}__PUBLIC__/amsmanage/images/topbg.gif) repeat-x top;}
</style>
{/literal}
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="head">
  <tr>
    <td width="51%" height="104" valign="bottom" style="background:url({$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/images/logo.gif) no-repeat left;"><!--<ul>
        	<li class="hover"><a href="#" class="m1">我的控制台</a></li>
        	<li><a href="#"  class="m3">文章管理</a></li>
        	<li><a href="#"  class="m4">频道管理</a></li>
        	<li><a href="#"  class="m5">主&nbsp;&nbsp;页</a></li>
        </ul>-->
    </td>
    <td width="49%" align="right"><table width="120" border="0" cellspacing="0" cellpadding="0" class="mtotle">
      <tr>
        <td>&nbsp;</td>
        <td><a href="#" class="t3">帮助</a></td>
        <td><a href="/Adminlogin/Login/loginout/app_name/ams" target="_top" class="t2">退出</a></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
