<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>个人信息修改</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/css/common.css" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/css/xxgl.css"  />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/js/dialogtree/css/weebox/weebox.css" />

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/js/page/user.js"></script>

{literal}
<style>
	.selected {
	    color: green;
	}
	pre {
		background-color:#F0E68C;
		font-size: 12px;
	}
</style>
{/literal}

</head>

<body style="padding-top:30px; _width:98%">

<table width="92%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td height="20" valign="middle" style="background:url({$smarty.const.IMG_SERVER}__PUBLIC__/amsmanage/images/iconr.gif) no-repeat 8px center; padding-left:28px;">您好：<font color="#FF0000">{$username}</font> ，欢迎使用AMS账号管理系统！ 您现在的位置：<a href="#" class="amswz">个人信息</a></td>
  </tr>
</table>
<form id="userinfo" action="/Amscontrol/Amsaccountmanage/modifyAmsUserInfo" method="post">

<table width="92%" border="0" cellpadding="0" cellspacing="1" class="padleft">
  <tr>
    <td height="27" colspan="2" class="bt STYLE1">个人信息管理</td>
  </tr>
  <tr>
    <td height="10" colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td height="30" colspan="2" bgcolor="#CCCCCC"><strong>个人信息修改：</strong></td>
  </tr>
  <tr>
    <td width="72" height="30" bgcolor="#fbf6f7">账号：</td>
    <td bgcolor="#fbf6f7">{$userinfo.ams_account}</td>
  </tr>
  <tr>
    <td width="72" height="30" bgcolor="#fbf6f7">姓名：</td>
    <td bgcolor="#fbf6f7"><input type="text" class="text" name="client_name" id="client_name" value="{$userinfo.ams_name}"/></td>
  </tr>
  <tr>
    <td width="72" height="30" bgcolor="#fbf6f7">邮箱：</td>
    <td bgcolor="#fbf6f7"><input type="text" class="text" name="client_email" id="client_email" value="{$userinfo.ams_email}"/></td>
  </tr>
  <tr>
    <td width="72" height="30" bgcolor="#fbf6f7">原密码：</td>
    <td bgcolor="#fbf6f7"><input type="password" class="text" name="old_client_pwd" id="old_client_pwd"/></td>
  </tr>
  <tr>
    <td width="72" height="30" bgcolor="#fbf6f7">新密码：</td>
    <td bgcolor="#fbf6f7"><input type="password" class="text" name="client_pwd" id="client_pwd"/></td>
  </tr>
  <tr>
    <td width="72" height="30" bgcolor="#fbf6f7">确认密码：</td>
    <td bgcolor="#fbf6f7"><input type="password" class="text" name="re_client_pwd" id="re_client_pwd"/></td>
  </tr>
  <tr>
    <td height="30" bgcolor="#fbf6f7"></td>
    <td bgcolor="#fbf6f7"><input id="amsuser" type="button" value="保存" class="bc"/></td>
  </tr>
</table>
</form>
<input type="hidden" id="school_id" value="{$school_id}"/>
</body>
</html>
