@charset "utf-8";
.stu_extend_main{padding:20px 0px 0px 0px; }

.stu_extend_tab{margin:10px 10px 15px; font:14px Arial, Helvetica, sans-serif; color:#6e6e6e; width:680px;}
  .stu_extend_tab th{text-align:right; width:76px; font:14px Arial, Helvetica, sans-serif;}
  .stu_extend_tab td{height:36px; line-height:36px;}  
  .teach_km {display:block; clear:both;width:600px;word-wrap:break-word;word-break:break-all;}
  
