@charset "utf-8";
.main_right dl{margin:20px 0px 0px 10px;}
  .main_right dl dt{background:url(../images/user_headpic/pic01.jpg) 0 0 no-repeat; width:162px; height:155px;} 
  .main_right dl dd{font:12px Arial, Helvetica, sans-serif; color:#666; padding-top:10px;}
.text_file{width:200px; height:22px; line-height:22px; border:1px #ddd solid;}
	 

	 





















  