<!--top-->
<div class="top_tip_bg">
	<div class="top_tip">
        <img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/wmw_logo.gif" />
        <ul>
            <li><a href="/Oa/Index/index">首页</a></li>
            <li><a href="/Homeclass/School/Campus" target="_blank">校园门户</a></li>
            <li><a href="http://www.zscy.cn" target="_blank">雏鹰争章</a></li>
            <li><a href="http://leyou.wm616.cn" target="_blank">乐优导航</a></li>
        </ul>
        <div class="message_other">
        	<a href="{$uc_server}/Uc/Userinfos/UserBaseInfos" class="grzl">个人资料</a>
            <span>欢迎您！ {$user.client_name} {$user.client_type_name}</span>
            <a href="{$uc_logout_url}" class="exit">退出</a>            
        </div>
    </div>
</div>
<!--top end-->
<!--logo-->
<div class="logo_top"> 
	<img src="{$smarty.const.IMG_SERVER}__PUBLIC__/oa/images/logo.gif"  class="pt_logo"><p class="sch_logo">{$school_name}</p>
</div>
<!--logo end-->
