<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/common.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/tool.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/jquery.form.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/jquery-textarea.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog/plugins/iframeTools.source.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jqy-lib.js"></script>
<div class="top">
	<div class="top_left"><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/new/logo.gif" width="220" height="60" /></div><!--top_left end-->
	<div class="top_right">
		<div class="top_rt">
			<ul>
				<li><i class="t1"></i>帮助中心</li>
				<li><i class="t2"></i><a href='{$uc_index_url}'>用户中心</a></li>
				<li><i class="t3"></i><a href='{$uc_logout_url}'>退出</a></li>
			</ul>
		</div>
		<!--top_rt end-->
		<div class="top_rb">
			<div class="top_rb_menu" id="top_rb_menu">
				<ul>
					<li {if $chanelid=='chanel1'} class="active" {else} class="normal" {/if} ><a href="/Homepage/Homepage/index/class_code/{$tpl_class_code}">首页</a></li>
					<li {if $chanelid=='chanel2'} class="active" {else} class="normal" {/if} ><a href="/Homeuser/Index/spacehome/spaceid/{$UserInfo.client_account}">个人空间</a></li>
					<li {if $chanelid=='chanel3'} class="active" {else} class="normal" {/if} ><a href="/Homefriends/Friendsmanage/index">社交</a></li>
					<li {if $chanelid=='chanel4'} class="active" {else} class="normal" {/if} ><a href="/Homeusernews/News/zxnews" >消息<span id="newscount"></span></a></li>
				</ul>
			</div>
			<!--top_rb_menu end-->

			<div class="top_rb_menur">
				<ul>
					<li id="school"><i class="t4"></i><a href='/Homeclass/School/Campus' target="_blank">校园门户</a></li>
					<li id="class"><i class="t5"></i>
					{if $tab_class_list}<span></span><a href='#'  id='spanbtnclass' onclick="changeClassHmtl();">班级空间</a>
				    {else}<a href='/Homeclass/Classspace/index'>班级空间</a>{/if}</li>
					<li id="chuying"><i class="t6"></i><a target="_blank" href="http://www.zscy.cn">雏鹰争章</a></li>
	               <li id="leyou"><i class="t7"></i><a target="_blank" href="http://leyou.wm616.cn">乐优导航</a></li>
				</ul>
				<div id="classChange" style="display:none;">
				<div class="title">您可以切换到下列班级</div>
					{foreach from=$myclasslist item=class_list}
					<div class='l_school_list'><a href="/Homeclass/Classspace/index/class_code/{$class_list.class_code}">{$class_list.class_name}</a></div>
					{/foreach}
				</div>
			</div><!--top_rb_menur end-->
		</div>
		<!--top_rb end-->
	</div>
	<!--top_right end-->

</div><!--top-->

<div class='top_nav_line'>
		<div class='top_nav_lineL'>当前所在位置：{$tpl_school_Name} - {$tpl_grade_id_name}  -<b>{$tpl_class_name}</b>
		{if $tab_class_list}
		<a href='#' onclick="ajax_classChange(this, '{$UserInfo.client_account}');">切换班级</a>
		{/if}
		</div>

	<div id="ajax_classChange" style="display:none;">
		<div class="title">您可以切换到下列班级</div>
			{foreach from=$myclasslist item=class_list}
			<div class='l_school_list'><a href="/Homepage/Homepage/index/class_code/{$class_list.class_code}">{$class_list.class_name}</a></div>
			{/foreach}
	</div>
</div>


{literal}
<script type="text/javascript">
	$.ajax({
		type:"get",
		url:"/Homeuser/Index/getnewscount",
		success:function(msg){
			$("#newscount").html(msg);
		}
	});
</script>
{/literal}