
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_common.css" type="text/css" />
<link rel="stylesheet" href="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/css/Common/sns_footer.css" type="text/css" />

	<!--footer-->
	<div class="footer_bg">
    	<div class="footer_content">
        	<div class="other_link">
            	<a href="#" class="link01"></a>
                <a href="#" class="link02"></a>
                <a href="#" class="link03"></a>
                <a href="#" class="link04"></a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <dl class="footer_logo"></dl>
            <div class="footer_nav">
            	<ul>
                  <a href="#">首页</a><a>|</a><a href="#">关于我们</a><a>|</a><a href="#">联系我们</a><a>|</a><a href="#">招贤纳士</a><a>|</a><a href="#">学习资源</a><a>|</a><a href="#">少年导航</a><a>|</a><a href="#">雏鹰争章</a><a>|</a><a href="#">校园导图</a>
                </ul>
                <p class="sns_copy_right">
            	   版权所有 Copyright© www.wmw.cn 京ICP备05067399号<br />
                   公司名称 北京中青网脉科技发展有限公司 <br />
                   公司地址 北京市东城区前门东大街五号 邮编：100006
                </p>
            </div>
           
        </div>
    </div>
    <!--footer end-->

