		<div class="personal_space_row_lb">
			<ul>
				<li><i class="personal_space_1"></i><a href='/Homeuser/Index/spacehome/spaceid/{$space_current_user}'>首页</a></li>
				<li><i class="personal_space_5"></i><a href='/Homeuser/Index/spacetalk/spaceid/{$space_current_user}'>新鲜事</a></li>
				<li><i class="personal_space_6"></i><a href='/Homeuser/Index/spacelogindex/spaceid/{$space_current_user}'>日记</a></li>
				<li><i class="personal_space_7"></i><a href='/Homeuser/Index/album/spaceid/{$space_current_user}'>照片</a></li>
				<li><i class="personal_space_4"></i><a href='/Homeuser/Index/guestbook/spaceid/{$space_current_user}'>留言板</a></li>
				<li><i class="personal_space_8"></i><a href='/Homeuser/Index/friend/spaceid/{$space_current_user}'>好友</a></li>
				<li><i class="personal_space_3"></i><a href='/Homeuser/Index/basemessage/spaceid/{$space_current_user}'>资料</a></li>

			</ul>
		</div><!--personal_space_row_lm end-->
