<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
 
<title>正在进入资源平台……</title>

</head>

<body bgcolor="#FFFFFF">
<form name="kdform" method="post" action="http://passport.wmw.cn/passport/login.auth">
<input type="hidden" name="sid" value="3242"/>
<input type="hidden" name="scd" value="passport"/>
<input name="account" type="hidden" id="account" value="womenwanglaoshi" />
正在进入资源平台……
<input name="password" type="hidden" id="password" value="123456" />             
</form>             
</body>

<script type="text/javascript">document.forms[0].submit();</script> 

</html>
