<div id="facelist" style="display:none;">
	<div class="close"><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/close.jpg" alt="close" /></div>
	<div class="facelist" style="background-color:#fff;">
		<ul>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/0.gif" alt="惊讶" title="惊讶" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/1.gif" alt="撇嘴" title="撇嘴" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/2.gif" alt="色" title="色" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/3.gif" alt="发呆" title="发呆" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/4.gif" alt="得意" title="得意" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/5.gif" alt="大哭" title="大哭" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/6.gif" alt="害羞" title="害羞" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/7.gif" alt="闭嘴" title="闭嘴" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/8.gif" alt="睡" title="睡" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/9.gif" alt="流泪" title="流泪" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/10.gif" alt="尴尬" title="尴尬" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/11.gif" alt="发怒" title="发怒" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/12.gif" alt="调皮" title="调皮" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/13.gif" alt="呲牙" title="呲牙" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/14.gif" alt="微笑" title="微笑" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/15.gif" alt="难过" title="难过" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/16.gif" alt="酷" title="酷" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/17.gif" alt="冷汗" title="冷汗" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/18.gif" alt="抓狂" title="抓狂" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/19.gif" alt="吐" title="吐" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/20.gif" alt="偷笑" title="偷笑" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/21.gif" alt="可爱" title="可爱" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/22.gif" alt="白眼" title="白眼" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/23.gif" alt="傲慢" title="傲慢" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/24.gif" alt="饥饿" title="饥饿" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/25.gif" alt="困" title="困" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/26.gif" alt="惊恐" title="惊恐" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/27.gif" alt="流汗" title="流汗" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/28.gif" alt="憨笑" title="憨笑" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/29.gif" alt="大兵" title="大兵" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/30.gif" alt="奋斗" title="奋斗" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/31.gif" alt="咒骂" title="咒骂" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/32.gif" alt="疑问" title="疑问" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/33.gif" alt="嘘" title="嘘" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/34.gif" alt="晕" title="晕" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/35.gif" alt="折磨" title="折磨" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/36.gif" alt="衰" title="衰" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/37.gif" alt="骷髅" title="骷髅" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/38.gif" alt="敲打" title="敲打" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/39.gif" alt="再见" title="再见" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/40.gif" alt="擦汗" title="擦汗" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/41.gif" alt="抠鼻" title="抠鼻" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/42.gif" alt="鼓掌" title="鼓掌" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/43.gif" alt="糗大了" title="糗大了" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/44.gif" alt="坏笑" title="坏笑" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/45.gif" alt="左哼哼" title="左哼哼" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/46.gif" alt="右哼哼" title="右哼哼" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/47.gif" alt="哈欠" title="哈欠" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/48.gif" alt="鄙视" title="鄙视" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/49.gif" alt="委屈" title="委屈" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/50.gif" alt="快哭了" title="快哭了" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/51.gif" alt="阴险" title="阴险" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/52.gif" alt="亲亲" title="亲亲" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/53.gif" alt="吓" title="吓" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/54.gif" alt="可怜" title="可怜" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/55.gif" alt="菜刀" title="菜刀" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/56.gif" alt="西瓜" title="西瓜" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/57.gif" alt="啤酒" title="啤酒" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/58.gif" alt="篮球" title="篮球" /></li>
		<li><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/face/59.gif" alt="乒乓" title="乒乓" /></li>
		</ul>
	</div>
</div>

<div id="append_parent"></div>
<iframe name="uploadFrame" id="uploadFrame" style="visibility:hidden;" width="0" height="0" src="/Homepage/Homepage/stalk_upload_photo"></iframe>

<!--avatar upload loading-->
<div id="avatarLoading" style="display:none;">uploading...</div>
<!--avatar upload loading end-->
<!--comment box-->
<div id="comment" style="display:none;">
	<div class="toolbar"><span><a href="#" title="close" onclick="return hidecomment();">取消</a></span>请输入您想点评的内容吧....</div>
	<textarea id="pl" name="pl"></textarea>
	<div class="insertFace" style='text-align:left;height:25px;line-height:25px;'><span class="ico_face"></span><a class="fun_txt" href="javascript:void(0);" title="表情" onclick="javascript:stalkfacelist();">【表情】</a></div>
	<input type="hidden" id="msgid" value="" />
	<input type="hidden" id="placcount" value="" />
	<input type="hidden" id="sendwhere" value="" />
	<input type="button" class="submit" value="提交" onclick="commentsubmit();" />
</div>

<!--comment box end-->
<div id="classPhotoplunsing_box" style="display:none;">
<form action="/Homeclass/Class/classphotoplhf" method="post" onsubmit="return chkpluncontent();">
	<textarea class="textarea" name="photoplsing" id="photoplsing" maxlength="200"></textarea>
	<input type="hidden" id="plid" name="plid" value="" />
	<input type="hidden" id="backtype" name="backtype" value="" />
	<input type="hidden" id="class_code" name="class_code" value="{$class_code}" />
	<input type="hidden" id="photo_id" name="photo_id" value="{$photo_id}" />
	<input type="hidden" id="xcid" name="xcid" value="{$xcid}" />
	<input type="hidden" id="curhfuser" name="curhfuser" value="" />
	<input type="hidden" id="account" name="account" value="{$account}" />

	<input type="hidden" id="friendaccount" name="friendaccount" value="{$friendaccount}" />
	<input type="submit" class="inputbg2" value="提交回复"/>
</form>
</div>

<!--空间留言回复-->
<div id="spaceGuestbookhf" style="display:none;">
<form>
	<textarea class="textarea" name="photoplsing" id="photoplsing" maxlength="200"></textarea>
	<input type="hidden" id="guestbookid" name="guestbookid" value="" />
	<input type="hidden" id="bookcurhfuser" name="bookcurhfuser" value="" />
	<input type="hidden" id="account" name="account" value="{$spaceid_account}" />
	<input type="button" class="inputbg2" value="提交回复" onclick="javascript:chkGuestBookContent();"/>
</form>
</div>


<!--comment list box-->
<div id="__csubmit" style="display:none;">
	<div class="toolbar"><span></span></div>
	<div class="content"></div>
</div>
<!--comment list box end-->


<!--friend box-->
<div id="friendAdd" style="display:none;">
<div class="title">添加好友</div>
附加信息:
<textarea class="textarea" name='msg' id='msg' onKeyDown="clicktip();" onKeyUp="clicktip();"></textarea>
<br/>
<span id="count" style="float:right;">还能输入<em>30</em>字</span>
<input type="button" id="sub" value="发送" class="input" onclick="addFriendSubmit('{$space_current_user}','{$space_current_type}');" />
</div>
<!--friend box end-->
{literal}
<script type="text/javascript">
function clicktip(){
	var areatext,length,limit,more,sub;
	areatext = $("#msg").val();
	length = $.trim(areatext).length;
	limit = 30-length;
	more = length-30;
	if(more>0){
		$("#count").html("超出<font size=3 color=red>"+more+"</font>字");
		document.getElementById("sub").disabled = true;
		return false;
	}else{
		$("#count").html("还能输入<em>"+limit+"</em>字");
		document.getElementById("sub").disabled = false;
		return true;
	}
}

</script>
{/literal}
<!--friend box-->
<div id="friendAddlist" style="display:none;">
<div class="title">添加好友</div>
附加信息:
<textarea name="Memo" id="msg" rows="3" wrap=PHYSICAL cols="30" onKeyDown="clicktip();" onKeyUp="clicktip();"></textarea>

<br/>
<span id="count" style="float:right;">还能输入<em>30</em>字</span>
<input type="hidden" name="to_account" id="to_account">
<input type="hidden" name="UserType" id="UserType">
<br/>
<input type="button" value="发送" id="sub" class="inputbg2" onclick="addFriendSubmit('','');" />
</div>
<!--friend box end-->