<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div class="flash" style=" margin-left:100px;" align="center">
    	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="800" height="600"> 
			<param name="movie" value="/Public/local/flash/vcastr22.swf?vcastr_file=/Public/local/flash/zuoye_course.flv" /> 
			<param name="quality" value="high" /> 
			<param name="allowFullScreen" value="true" /> 
			<embed 
				src="/Public/local/flash/vcastr22.swf?vcastr_file=/Public/local/flash/zuoye_course.flv" 
				quality="high" 
				pluginspage="http://www.macromedia.com/go/getflashplayer" 
				type="application/x-shockwave-flash" width="800" height="600"> 
			</embed> 
		</object>
    </div>
</body>
</html>
