<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>报错页面</title>
<link href="{$smarty.const.IMG_SERVER}__PUBLIC__/wmw_css/wmw_tips.css" rel="stylesheet" type="text/css" />
</head>

<body class="website_error_bg">

	<div class="w_e_content">
    	<span class="img_logo"></span>抱歉，您访问的页面没有找到。 请点击 <a href="{$home_url}" class="cg_link_blue">返回首页</a>
    </div>




</body>
</html>
