@charset "utf-8";
/* CSS Document */

.bladkground{background:url(../../images/ClassIndex/blackboard_bj.jpg) 0 0 no-repeat; width:900px; height:220px; padding:49px 30px;}
	.black_left{width:540px; float:left; height:220px;}
		.black_left h3{font:normal 26px "微软雅黑"; color:#fff; text-align:center; height:30px; margin-bottom:10px;}
		.black_left p{font:20px "微软雅黑"; color:#fff; padding:0px 40px; line-height:24px; padding-bottom:8px; width:460px;word-wrap:break-word;word-break:break-all;}
		.align_right{text-align:right;}
	
	.black_right{width:220px; float:left; height:220px; color:#fff; margin-left:40px;}
		.black_right h3{font:normal 26px "微软雅黑"; text-align:center; height:40px;}
		.black_right p{height:30px; font:16px "微软雅黑";}
			.black_right .line_bj{background:url(../../images/ClassIndex/black_p_line.jpg) 0 top no-repeat; height:5px; overflow:hidden;}
			.black_right p a{color:#fff; font:16px "微软雅黑"; line-height:20px; display:inline-block; margin-top:4px;}
			.black_right p .tommor_bj{background:#fff; color:#00733c;}
		.black_right table{width:220px; margin-bottom:10px; font:16px "微软雅黑";}	
			.black_right table td{width:20px;vertical-align:top;}	

.active_member{background:url(../../images/ClassIndex/class_people_bj.gif) repeat; width:940px; margin:20px 0px; padding:10px;}
	.active_member_title{height:30px;}
		.active_member_title h3{float:left; font:16px "微软雅黑"; height:30px; width:110px;}
		.active_member_title p{float:left; height:30px; color:#288c00;}
		.p_width{width:590px; cursor:pointer;}
		.icon_dsjx{background:url(../../images/Common/sns_images/triangle_green.gif) 0 0 no-repeat;width:9px;height:5px;display:inline-block;overflow:hidden;margin:0px 4px 2px;_margin-bottom:6px;}
		.icon_upsjx{ background:url(../../images/Common/sns_images/up_sjx_green.gif) 0 0 no-repeat;width:9px;height:5px;display:inline-block;overflow:hidden;margin:0px 4px 2px;_margin-bottom:6px;}
        .active_member_title p.pr10{float:right;padding-right:5px;}
		.active_member_title p a{color:#288c00; font:18px "微软雅黑";}
		.active_member_title p.pr10 a{text-decoration:none; }
	
	.class_people{}
		.class_people_small p{height:60px;}
			.class_people_small p a{float:left; border:2px #eaeaea solid; width:38px; height:38px; margin-right:15px;}
			.class_people_small p a img{width:38px; height:38px;}	
			
		.class_people_big{height:250px; overflow:auto;}
		.class_people_big dl{float:left; margin-right:30px; text-align:center; width:101px;}
			.class_people_big dl dt{border:1px #cdcdcd solid;}
			.class_people_big dl dt img{width:99px; height:99px; display:block;}
			.class_people_big dl dd{color:#545454; font:14px "微软雅黑";}
				.class_people_big dl .side_color{border:1px #309c0d solid;}

.mian_index{width:960px; font:14px "微软雅黑";}

.main_left{width:750px; float:left; overflow:hidden;}
	.main_left ul{border-bottom:2px #419400 solid;}
		.main_nav_a1{background:url(../../images/ClassIndex/main_nav_a1.jpg) 0 0 no-repeat; width:112px; height:36px; display:inline-block; text-align:center; font:16px "微软雅黑";line-height:36px;                      color:#fff;}
		.main_nav_a2{background:url(../../images/ClassIndex/main_nav_a2.jpg) 0 0 no-repeat; width:112px; height:36px; display:inline-block; text-align:center; font:16px "微软雅黑";line-height:36px; color:#464646;}
		.mr6{margin-right:6px;}
	.say_box{width:746px; border:1px #d2d2d2 solid; margin:10px 0px; padding:1px;}
		.say_text{width:730px; border:none; background:#fff; padding:2px 0px 0px 2px; height:60px;margin:0 auto;}	
		.say_box .say_box_main{background:#e5f6cc; color:#6b6b6b; height:28px; padding:0px 20px;}
			.icon_face{background:url(../../images/ClassIndex/icon_face.gif) 0 0 no-repeat; width:22px; height:22px; display:inline-block; float:left; margin:3px 10px 0px 0px;}
			.icon_pic{background:url(../../images/ClassIndex/icon_pic.gif) 0 0 no-repeat; width:24px; height:20px; display:block; float:left; margin:4px 0px 0px 0px;}
			.span_width{width:560px; line-height:28px; text-align:right; display:inline-block; float:left; padding-right:30px;}
			.release_btn{background:url(../../images/ClassIndex/green_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer; color:#fff; margin-top:2px;}
	.system_message{width:748px; padding:1px; background:#fff;}
		.system_top{background:url(../../images/ClassIndex/system_top_bj.gif) 0 0 no-repeat; height:7px; overflow:hidden;}
		
		.system_center{background:url(../../images/ClassIndex/class_people_bj.gif) repeat; border-right:1px #CCCCCC solid; border-left:1px #CCCCCC solid; padding:10px 20px;}
			.info{width:706px; padding-bottom:10px;}
				.info dl{float:left; width:60px; text-align:center; margin-right:10px;}
				
				.info_right{width:636px; float:left;}	
					.info_right_top{background:url(../../images/ClassIndex/info_top_bj.jpg) 0 0 no-repeat; height:24px; padding:4px 0px 0px 20px;}
						.fc_288c00{color:#288c00;}
					.info_right_center{background:url(../../images/ClassIndex/info_center_bj.jpg) repeat-y; margin-left:11px; padding:0px 10px 10px; word-wrap:break-word; word-break:break-all;                                         color:#323232;}
						.fc_4f9f32{color:#4f9f32;}
						.f14{font:14px "微软雅黑"; line-height:14px; margin-left:10px; display:inline-block;}
					.info_right_bottom{background:url(../../images/ClassIndex/info_bottom_bj.jpg) 11px 0 no-repeat; height:7px; overflow:hidden;}
					.info_time{padding:10px 0px 4px 20px; font:12px "微软雅黑"; color:#323232;}
						.pl10{padding-left:10px;}
						.pl20{padding-left:20px;}
		
		.system_bottom{background:url(../../images/ClassIndex/system_bottom_bj.gif) 0 0 no-repeat; height:7px; overflow:hidden;}	
		
	.personal_active{width:748px; padding:0px 0px 0px 2px; margin-top:10px;}
		.per_active_l{width:76px; float:left; margin-right:7px;}
			.per_active_l dl{text-align:center;}
				.per_active_l dl dt img{width:76px; height:76px;}
			
		.per_active_r{width:665px; float:left;}		
			.per_right_top{background:url(../../images/ClassIndex/per_top_bj.jpg) 0 0 no-repeat; height:30px; padding:8px 0px 0px 30px;}	
			
			.per_right_center{background:url(../../images/ClassIndex/per_center_bj.jpg) repeat-y; margin-left:15px; padding:0px 15px;}
				.per_right_center h6{font:22px "微软雅黑"; color:#3c3c3c;}
				.per_right_center dl{margin:10px 0px;}
				
				.per_right_center p{line-height:22px; color:#464646;}
					.ml10{margin-left:10px; display:inline-block;}
				.per_release_time{padding:10px 0px 0px; height:30px;}
					.per_release_time p{float:left; height:30px; text-align:right; line-height:20px; width:220px;}
					.per_release_time .per_p_width{width:400px; display:inline-block; color:#777; text-align:left;}
					.per_release_time a{font:14px "宋体"; display:inline-block; margin-left:15px;}
			
			.per_right_bottom{background:url(../../images/ClassIndex/per_bottom_bj.jpg) 15px 0 no-repeat; height:10px; overflow:hidden;}
			
	.more_active{width:748px; text-align:center; margin-top:10px; border:1px #ccc dashed; background:#ebebeb; padding:10px 0px;}	
		.more_active a{background:url(../../images/ClassIndex/icon_more.jpg) right center no-repeat; display:inline-block; padding-right:10px; color:#5f9400; font:14px "宋体";}	

.mian_right{width:200px; float:left; margin-left:10px;}
	.photo_index{border:1px #cdced0 solid; background:url(../../images/ClassIndex/class_people_bj.gif) repeat;}
		.photo_index dl{width:180px; padding:10px 9px;}
			.photo_index dl dt{height:166px;}
			.photo_index dl dd{height:26px; padding-top:10px!important; _padding-top:4px;}
				.up_btn{background:url(../../images/ClassIndex/up_btn.jpg) 0 0 no-repeat; width:89px; height:22px; cursor:pointer; border:none; font:14px "微软雅黑"; color:#444; line-height:18px;}
				
	.hot_resource{border:1px #cdced0 solid; background:#fff; margin-top:10px;}	
		.hot_resource h3{font:15px "微软雅黑"; color:#3a8a00; height:32px; line-height:32px; padding:0px 8px; border-bottom:1px #cdced0 solid; background:#efefef;}
			.hot_resource h3 span{width:142px; display:inline-block;}	
			.hot_resource h3 a{color:#a0a0a0; font:13px "宋体"; display:inline-block;}	
			.hot_resource h3 a:hover{color:#3a8a00;}
		.hot_resource ol{padding:10px 0px 10px 10px; list-style:none;}	
			.hot_resource ol li{line-height:26px;}
			.hot_resource ol li a{color:#787878; font:14px "宋体";}
			.hot_resource ol li a:hover{color:#3a8a00;}


/*弹出层*/


/*提示信息*/	   
.tcc_msg{width:310px; color:#666; background:#fff;}
	.tcc_msg_top{background:url(../../images/ClassIndex/tcc_msg_top.gif) 0 0 no-repeat; height:5px; overflow:hidden;}
	.tcc_msg_center{background:url(../../images/ClassIndex/tcc_msg_center.gif) 0 0 repeat-y; padding:10px 20px;}
	    .msg_center_main{width:270px;}
	    	.msg_center_main dl{float:left; margin-right:8px;}
			.msg_center_main p{float:left; font:normal 12px "宋体"; line-height:20px;}
			.icon_question{background:url(../../images/ClassIndex/icon_question.gif) 0 0 no-repeat; width:8px; height:14px; display:inline-block; margin-right:8px;}
			.icon_warn{ background:url(../../images/Common/sns_images/icon_warn.gif) 0 0 no-repeat; width:21px; height:21px; display:inline-block;}
			.icon_right{ background:url(../../images/Common/sns_images/icon_correct.gif) 0 0 no-repeat; width:21px; height:21px; display:inline-block;}
			.tcc_btn_right{text-align:right;}	
			.qd_btn{background:url(../../images/ClassIndex/qd_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer;}
		    .qx_btn{background:url(../../images/ClassIndex/qx_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer; color:#73797c; margin-left:10px;}
			
			.orange_btn{background:url(../../images/ClassIndex/icon_orange.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer;}
	.tcc_msg_bottom{background:url(../../images/ClassIndex/tcc_msg_bottom.gif) 0 0 no-repeat; height:5px; overflow:hidden;}		

/*评论*/
.tcc_comment{width:611px; background:#fff; font:14px "宋体";}
	.tcc_comment_top{background:url(../../images/ClassIndex/comment_top_bj.gif) 0 0 no-repeat; height:15px; overflow:hidden;}
	
	.tcc_comment_main{width:579x; background:#f3f3f3; border:1px #e6e6e6 solid; border-top:none; padding:15px;}
		.comment_tab{margin-bottom:15px;}
			.comment_tab table td{height:30px;}
			.comment_text{width:576px; height:22px; border:1px #c6c6c6 solid;}
			.comment_tab table td p{width:490px; text-align:right; padding-right:10px;}
			.tcc_icon_face{background:url(../../images/ClassIndex/tcc_icon_face.gif) 0 0 no-repeat; width:16px; height:16px; display:inline-block;}
			.green_btn{background:url(../../images/ClassIndex/green_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer; color:#fff;}

		.tcc_comment_main dl{float:left; width:40px; margin-right:10px;}
		
		.tcc_single{width:528px; float:left; padding-top:20px;}
			.tcc_single_tab table p{width:380px; color:#747474;}
			
			.tcc_reply{width:511px; margin-left:17px;}
				.tcc_reply_top{background:url(../../images/ClassIndex/tcc_reply_bj.gif) 0 0 no-repeat; height:12px; overflow:hidden;}
				
				.tcc_reply_main{width:479px; border:1px #ddd solid; border-top:none; background:#fff; padding:15px;}
					.reply_text{width:476px;height:22px; border:1px #c6c6c6 solid;}
					.reply_tab{width:479px;}
						.reply_tab td{height:30px;}
						.reply_tab table td p{width:380px; text-align:right; padding-right:10px;}
						
					.agin_reply_main{padding-top:10px;}
					
					.agin_reply_main dl{width:40px; float:left; margin-right:10px;}
					
					.agin_reply{width:429px; float:left; padding-top:20px;} 
						.agin_reply table p{width:300px; color:#747474;}	
						
			.er_comment_text{width:526px; border:1px #c6c6c6 solid;height:22px; color:#464646; margin:10px 0px;}
			.mb10{margin-bottom:10px;}
			.click_see{font:14px "微软雅黑"; color:#464646;}


/*分享*/
.tcc_share{width:611px; background:#fff; font:14px "宋体";}
	.tcc_share_top{background:url(../../images/ClassIndex/tcc_share_top.gif) 0 0 no-repeat; height:9px; overflow:hidden;}
	.tcc_share_main{width:609px; border:1px #ccc solid;}
		.tcc_share_main h1{font:14px "宋体"; padding:8px 10px; background:#f8f8f8; color:#666; height:16px; position:relative; border-bottom:1px #e9e9e9 solid;}
		.icon_close{background:url(../../images/Common/sns_images/icon_close.gif) 0 0 no-repeat; width:9px; height:9px; display:inline-block; overflow:hidden; position:absolute; right:10px; top:10px;}
		.share_comment{width:579px; padding:10px 15px;}
			.share_textarea{width:577px; height:60px; border:1px #c8c8c8 solid;}
			.share_comment table td{padding-top:10px; color:#666;}
			.mr10{margin-right:6px;}
			.td_btn_width{width:130px; text-align:right;}
			.td_nr_width{width:169px; text-align:right; padding-right:10px;}
			.td_share_class{width:135px;}
		.share_main{width:557px; margin:10px 15px; background:#fbfbfb; border:1px #e9e9e9 solid; padding:10px;}
			.share_main h2{font:14px "宋体"; color:#0756aa; height:30px; line-height:30px;}
			.share_main p{line-height:24px;}	
			

/*学生名片*/
.stu_card{width:350px; font:14px "宋体";}
	.card_top{background:url(../../images/ClassIndex/card_top_bj.gif) 0 0 no-repeat; height:10px; overflow:hidden;}
	.card_center{background:url(../../images/ClassIndex/card_center_bj.gif) repeat-y; padding:10px 20px; width:310px; position:relative;}
		.card_center_main dl{width:80px; float:left; margin-right:10px;}
			.card_center_main dl dt{border-right:1px #6e706d solid; border-bottom:1px #6e706d solid; cursor:pointer;}
		.stu_info{width:220px; float:left; color:#2b6800; padding-top:8px; z-index:-1;}	
			.stu_info p{line-height:28px;}
			.gt_btn{background:url(../../images/ClassIndex/gt_btn.jpg) 0 0 no-repeat; width:74px; height:27px; border:none; cursor:pointer; margin-right:10px;}
			.add_btn{background:url(../../images/ClassIndex/add_btn.jpg) 0 0 no-repeat; width:74px; height:27px; border:none; cursor:pointer;}
			
			.card_title{position:absolute; background:url(../../images/ClassIndex/tea_card_title.jpg) 0 0 no-repeat; width:126px; height:21px; top:0px; right:6px;}
	.card_bottom{background:url(../../images/ClassIndex/card_bottom_bj.gif) 0 0 no-repeat; height:10px; overflow:hidden;}
.jhy{ background:url(../../images/ClassIndex/jhy.jpg) 0 0 no-repeat; width:21px; height:16px; display:inline-block; border:none; cursor:pointer;}
.sx{ background:url(../../images/ClassIndex/sx.jpg) 0 0 no-repeat;width:21px; height:16px; display:inline-block; border:none; cursor:pointer;}
.card_center_main dl dt.xsmp_jlq{ border:none; padding:5px;}
.card_center_main dl dt.xsmp_jlq input{ margin-left:6px;}


/*老师名片*/
.stu_card_title{position:absolute; background:url(../../images/ClassIndex/stu_card_title.jpg) 0 0 no-repeat; width:126px; height:21px; top:0px; right:6px;}

.stu_main{width:310px;}
	.stu_main table td{height:30px; text-align:center; color:#2b6800;}
	.stu_main table td p{width:150px; height:23px; background:#66b62c; color:#fff; text-align:center; line-height:23px;}
	.stu_main table td .mr3{margin-right:3px;}


/*添加好友*/
.edit_comment{width:550px;border:1px #6db500 solid; background:#fff; font:14px "宋体";}
	.tcc_title{font:14px "宋体"; background:#f8f8f8; border-bottom:1px #e9e9e9 solid; padding:0px 10px; height:33px; line-height:33px; width:480px; position:relative;}
	  .close_icon{background:url(../../images/Common/sns_images/icon_close.gif) 0 0 no-repeat; width:10px; height:9px; display:inline-block; position:absolute; right:10px; top:12px;}
	.textarea_main{padding:10px;}
		.textarea_main textarea{width:476px; height:60px; border:1px #eaeaea solid;}
	.msg_btn{padding:0px 10px 10px;}	
		.msg_btn span{float:left;}
		.msg_btn p{text-align:right;}
		

/*保存成功*/
.success{background:url(../../images/ClassIndex/success_pic.jpg) 0 0 no-repeat; width:146px; height:52px;}
	.success p{font:18px "微软雅黑"; padding:14px 0px 0px 50px; color:#3a8a00;}











