@charset "utf-8";
/* CSS Document */
.pt20{padding-top:10px;}

.content h4{height:30px; width:940px; margin:0px auto 10px;}
	.content h4 a{float:right;}


.mood_main{width:938px; margin:0 auto; border:1px #e5e5e5 solid; font:14px "微软雅黑"; padding:10px; background:#fff; color:#464646; margin-bottom:10px;}
	.say_tab{width:938px; margin-bottom:10px;}
		.say_textarea{width:900px; border:1px #ccc solid; height:60px; margin:4px 0px 6px;}
		.icon_say{background:url(../../images/PrivateMsg/show/icon_say_pic.gif) 0 0 no-repeat; width:26px; height:22px; display:inline-block; float:left; margin:0px 4px;}
		.align_right{text-align:right;}
		
		.say_tab p a{display:inline-block; color:#464646; margin-right:8px;}
			.icon_face{background:url(../../images/PrivateMsg/show/icon_face.gif) 0 0 no-repeat; width:22px; height:22px; display:inline-block; float:left; margin:0px 1px 0px 0px;}
			.icon_pic{background:url(../../images/PrivateMsg/show/icon_pic.gif) 0 0 no-repeat; width:24px; height:20px; display:inline-block;float:left; margin:2px 1px 0px 0px;}
			.say_tab p a:hover{text-decoration:none;}
		
		.td_width{width:600px; text-align:right; color:#6b6b6b; font:12px "微软雅黑";}
		.green_btn{background:url(../../images/PrivateMsg/show/green_btn.gif) 0 0 no-repeat; width:57px; height:24px; color:#fff; border:none; cursor:pointer;}
	
	.list_main{width:938px; margin:10px 0px 0px; position:relative;}	
		.list_main dl{width:76px; margin-right:10px; float:left;}
		.list_main_right{float:left; width:820px;}
			.list_main_right p{line-height:24px;}
			.list_main_right p a{color:#288c00; margin-right:10px;}
			.time_width{width:700px; display:inline-block; color:#777;}
			.show_tx{width:76px;height:76px;}
			
		.tcc_close{position:absolute; width:20px; height:20px; top:2px; right:10px;}	
			.icon_close{background:url(../../images/PrivateMsg/show/icon_close_red.gif) 0 0 no-repeat; width:20px; height:20px; display:inline-block;}
	
	.fen_page{width:938px; padding:10px 0px;}	
		.fen_page p{text-align:right;}
		.fen_page p a{display:inline-block; padding:2px 10px; line-height:16px; color:#464646; border:1px #ccc solid;}
		.fen_page p a:hover{color:#3a8a00; text-decoration:none;}
		.ml10{margin-left:10px;}
		
			
/*弹出层*/

/*提示信息*/	   
.tcc_msg{width:310px; color:#666; background:#fff;}
	.tcc_msg_top{background:url(../../images/PrivateMsg/show/tcc_msg_top.gif) 0 0 no-repeat; height:5px; overflow:hidden;}
	.tcc_msg_center{background:url(../../images/PrivateMsg/show/tcc_msg_center.gif) 0 0 repeat-y; padding:10px 20px;}
	    .msg_center_main{width:270px;}
	    	.msg_center_main dl{float:left; margin-right:8px;}
			.msg_center_main p{float:left; font:normal 12px "宋体"; line-height:20px;}
			.icon_question{background:url(../../images/PrivateMsg/show/icon_question.gif) 0 0 no-repeat; width:8px; height:14px; display:inline-block; margin-right:8px;}
			
			.tcc_btn_right{text-align:right;}	
			.qd_btn{background:url(../../images/PrivateMsg/show/qd_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer;}
		    .qx_btn{background:url(../../images/PrivateMsg/show/qx_btn.gif) 0 0 no-repeat; width:57px; height:24px; border:none; cursor:pointer; color:#73797c; margin-left:10px;}
			
	.tcc_msg_bottom{background:url(../../images/PrivateMsg/show/tcc_msg_bottom.gif) 0 0 no-repeat; height:5px; overflow:hidden;}
		
/*保存成功*/
.success{background:url(../../images/PrivateMsg/show/success_pic.jpg) 0 0 no-repeat; width:146px; height:52px;}
	.success p{font:18px "微软雅黑"; padding:14px 0px 0px 50px; color:#3a8a00;}		
		
		
.tcc_request{border:1px #6db500 solid; background:#fff; font:14px "宋体"; width:200px; padding:10px; color:#666;}
	.icon_warn{ background:url(../../images/Common/sns_images/icon_warn.gif) 0 0 no-repeat; width:21px; height:21px; display:inline-block;}		


		