<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>成绩_班级成绩管理</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/newhomepage.css"  />
<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/class.css"  />

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/my97datepicker/WdatePicker.js" defer="defer"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/common.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/talk/tool.js"></script>

{literal}
<script type="text/javascript">
	function commit_class_list(){
		var selvar = document.getElementById("class_id").value;
		var fom = document.getElementById("searchsubmit");
		
		fom.action="/Homeclass/Class/cjtmanage/class_code/"+selvar;
		fom.submit();
	}
	
	function updtestinfo(testid,class_code,sid){
		document.forms[0].action="/Homeclass/Class/findstuscore/exam_id/"+testid+"/class_code/"+class_code+"/school_id/"+sid;
		document.forms[0].submit();
	}

	function srsubmit(class_code,page){
		var formObj = document.getElementById('searchsubmit');
		formObj.action = '/Homeclass/Class/cjtmanage/class_code/'+class_code+'/pageno/'+page;
		formObj.submit();
	}
	function findtestinfo(){
		var ccid = document.getElementById("gradecode").value;

		var class_code = document.getElementById("class_id").value;
		var searchform = document.getElementById("searchsubmit");
		var selsubject = document.getElementById("selsubject").value;
		var exam_name = document.getElementById("exam_name").value;
		var exam_date = document.getElementById("exam_date").value;
		var end_exam_date = document.getElementById("end_exam_date").value;
		if(exam_name=="" && exam_date =="" && end_exam_date=="" && selsubject==""){
			alert('请输入查询条件');
			return false;
		}else {
			searchform.action="/Homeclass/Class/cjtmanage/class_code/"+class_code;
			searchform.submit();
		}
		

	}

	function deltestinfo(testid){
		
		if(confirm("您确定要删除该考试信息吗？")){
			document.forms[0].action="/Homeclass/Class/delexaminfo/exam_id/"+testid;
			document.forms[0].submit();
		}
	}

	function updtestinfo(testid,class_code,sid){

		document.forms[0].action="/Homeclass/Class/findstuscore/exam_id/"+testid+"/class_code/"+class_code+"/school_id/"+sid;
		document.forms[0].submit();
	}

	function testdetailinfo(testid){
		document.forms[0].action="/Homeclass/Class/examdetailinfo/exam_id/"+testid;
		document.forms[0].submit();
	}

</script>
{/literal}

</head>

<body>
<div class="box">
<div class="nav">
{insert name="publicHeader" class_code = $class_code}
<div class="main">
{insert name="account_left" class_code = $class_code}


<div class="sub_right">
<div class="sub_class">
<div class='classTitle'>{$tpl_school_Name} {$tpl_gradeclass_Name}<span class='class_tag'>班级成绩</span></div>

<div class="class_work">
	<ul>
		<li id="work1"><a href="/Homeclass/Class/cjtmanage/class_code/{$class_code}" class="cjtmenu1">成绩管理</a></li>
		<li id="work2"><a href="/Homeclass/Class/cjtpublish/class_code/{$class_code}" class="cjtmenu2">成绩发布</a></li>
	</ul>
</div><!--sub_class_gg end-->

<div class='cjk' style='height:70px;'>
  <form id="searchsubmit" name="form" action="" method="post">
    <span>&nbsp;&nbsp;&nbsp;班级列表：</span>
      	<select class="cjt_select" onchange="commit_class_list();" id="class_id">
			{foreach from=$class_name_list item=manger_class_list}
			{if $class_code == $manger_class_list.class_code}
			<option value="{$manger_class_list.class_code}" selected>{$manger_class_list.class_name}</option>
			{else}
			<option value="{$manger_class_list.class_code}">{$manger_class_list.class_name}</option>
			{/if}
			{/foreach}
      	</select>
    
    <span style="margin-left:10px;">科目：</span>
        <select name="subject_id" style="width:120px;" id="selsubject" class="cjt_select">
        <option value=''>科目</option>
        
	    {foreach from=$subjectinfolist item=subject}
	    	{if $subject.subject_id == $subject_id}
				<option value={$subject.subject_id} selected="selected">{$subject.subject_name}</option>
			{else}
				<option value={$subject.subject_id}>{$subject.subject_name}</option>
			{/if}
		{/foreach}          
        </select>
		<div style='width:560px;height:40px;line-height:40px;'>
			 <span style="margin-left:10px;">考试名称：</span>
      	<input type="text" size=10 name="exam_name" id="exam_name" maxlength="10" value="{$exam_name}" class="cjt_text"/>
        
		<span>考试时间：</span>
		<input type="text" class="cjt_text" name="exam_date" value="{$exam_date}" id="exam_date"  {literal}onclick="WdatePicker({el:'exam_date'})"{/literal} value="{$exam_date}" readonly="readonly" style="width:80px;"/>
		到
		<input type="text"  class="cjt_text" name="end_exam_date" value="{$end_exam_date}" id="end_exam_date"  {literal}onclick="WdatePicker({el:'end_exam_date'})"{/literal} value="{$end_exam_date}" readonly="readonly" style="width:100px;"/>
      	<input type="button" value="查找" class="inputbg2" onclick="javascript:findtestinfo();"/>
      	<input type="hidden" name="school_id" id="schoolid" value="{$school_id}"/>
    	<input type="hidden" name="class_code" id="gradecode" value="{$class_code}"/>

		</div>
      	
    </form>
	</div>
    <table width="600" border="0" cellpadding="3" cellspacing="1" bgcolor="#d8e4f0" style='margin-top:20px;'>
      <tr>
        <td width="20%" height="35" align="center" bgcolor="#effdff">科目</td>
		<td height="35" align="center" bgcolor="#effdff">考试名称</td>
        
        <td width="20%" height="35" align="center" bgcolor="#effdff">考试时间</td>
        <td width="15%" align="center" bgcolor="#effdff">状态</td>
        <td width="15%" align="center" bgcolor="#effdff">操作</td>
      </tr>
      {if $examinfolist != ''}
      {foreach from=$examinfolist item=examinfo name=num}
	      <tr bgcolor="#ffffff">
	         <td height="30" align="center">{$examinfo.subject_name}</td>
			<td height="30" align="center">{$examinfo.exam_name}</td>
	       
	        <td height="30" align="center">{$examinfo.exam_date}</td>
	        <td align="center">
			{if $examinfo.subtype==0}
				正常
			{else}
				暂存发布
			{/if}
			</td>
	        <td height="30" align="center">
			{if $examinfo.subtype==0}
				 <a href="/Homeclass/Class/examdetailinfo/exam_id/{$examinfo.exam_id}" class="cjt_a" >查看</a>
			{else}
				  <a href="javascript:;" class="cjt_a" onclick="javascript:updtestinfo({$examinfo.exam_id},{$class_code},{$school_id}); return false;">继续编辑</a>
			{/if}	
		    </td>
	      </tr>
      {/foreach}
      <tr bgcolor="#FFFFFF">
         <td colspan="6">
          {$pageinfohtml}
        </tr> 
      
      {else}
        <tr bgcolor="#FFFFFF">
         <td colspan="6">
          <div class="class_code_tishi">
        	<!-- <B>请选择您要查询的科目或考试名称或考试时间或班级列表，点击查找查询您想要的数据!</B> --> 
        	<B>没有您要查找的数据！</B>         </div>         </td>
        </tr> 
         
      
      {/if}
      
    </table>



</div>
<!--sub_class end-->



</div>
<!--sub_right end-->
<div class="kong"></div>
</div><!--main end-->

<div class="footer">
<p>{$smarty.const.COPYRIGHT}</p>
</div><!-- footer end-->



</div><!--nav end-->
</div><!--box end-->
</body>
</html>
