<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 

<title>成长沟通</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/newhomepage.css"  />

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jqy-lib.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog/artDialog.source.js?skin=idialog"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/artDialog/plugins/iframeTools.source.js"></script>

</head>
<body>
<table width="500" border="0" align="center" cellpadding="5" cellspacing="5">
  <tr>
    <td height="40" colspan="3"><span style="font-size:14px; font-weight:bole;">与多个家长进行沟通</span></td>
  </tr>
  <tr>
    <td width="15%" height="60">家长</td>
    <td><textarea name="aInput" id="aInput" cols="40" rows="3" class="inputextarea" readonly></textarea>
		<input type="hidden" name="aInputhidden" id="aInputhidden" value="" />
		<input type="hidden" name="class_code" id="class_code" value="{$class_code}" />
	</td>
    <td><button id="aButton" class="inputbg2">选择</button></td>
  </tr>
  <tr>
    <td width="15%" height="60">内容</td>
    <td><textarea name="msg" id="msg" cols="40" rows="3" class="inputextarea"></textarea></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="15%">&nbsp;</td>
    <td height="35"><button id="send" class="inputbg2" onclick="javascript:sendJqy();">发送</button>&nbsp;&nbsp;<button id="exit" class="inputbg2">取消</button>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>

{literal}
<script type="text/javascript">

	function sendJqy(){
		var objaInputhidden  = document.getElementById('aInputhidden').value;
		var class_code  = document.getElementById('class_code').value;
		var objaInput  = document.getElementById('aInput');
		var objmsg  = $.trim($("#msg").val()); 
		objmsg = objmsg.replace("<P>","");
		objmsg = objmsg.replace("</P>",";");
		objmsg = objmsg.replace("&nbsp;","");
		objmsg = objmsg.replace("<BR>","");
		objmsg= delHtmlTag(objmsg);	
	
		
		if(objaInput.value==""){
			needtoLogTip("请选择要发送的学生");
			objaInput.focus();
			return false;
		}	
		else if(objmsg==""){
			needtoLogTip("请输入要发送的内容");
			objmsg.focus();
			return false;
		}else if(objmsg.length > 160){
			needtoLogTip("您输入的内容过多，请控制在200字以内");
			objmsg.focus();
			return false;
		}
		
		//document.getElementById("send").value = "正在发送..";
		document.getElementById("send").disabled = true;
	
		var param,paramobj;
		
		paramobj = {
			msg:encodeURIComponent(objmsg),
			msgid:objaInputhidden,
			class_code:class_code,
			sendtype:"more"
		};
		param = $.param(paramobj);
			$.ajax({
				type: "POST",
				 url: "/Homeclass/Myclass/CommunicateSave/class_code/"+class_code,
				 data: param,
				  success: function(data){
					 if(data=="success"){
						art.dialog.tips('发送成功');
						art.dialog.close();
						var win = art.dialog.open.origin;//来源页面
						win.location.reload();
					 }
			      }
			});		
	}
  
	// 传递给B页面
	document.getElementById('aButton').onclick = function () {
		var class_code  = document.getElementById('class_code').value;
		var s_aInputhidden = $("#aInputhidden").val();
		if(s_aInputhidden == ""){
			s_aInputhidden=1;
		}
		art.dialog.open('/Homeclass/Myclass/getstudent_listbycommunicate/class_code/'+class_code+'/svaue/'+s_aInputhidden, {
			id: 'AAA',
			close: function () {
				var bValue = art.dialog.data('bValue');// 读取B页面的数据
				var aInputhidden = art.dialog.data('aInputhidden');// 读取B页面的数据
				if (bValue !== undefined) document.getElementById('aInput').value = bValue;
				if (aInputhidden !== undefined) document.getElementById('aInputhidden').value = aInputhidden;
			}
		}, false);
	};

   
	document.getElementById('exit').onclick = function () {
		art.dialog.close();
	};

</script>
{/literal}

</body>
</html>
