<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
 
<title>WMW社区登录...</title>

<link rel="stylesheet" type="text/css" href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/login.css"  />

</head>

<body>
<div class="login_box">
<div class="login_box_top">
<div class="login_box_top_t">
<div class="login_box_top_tl"><img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/new/lgoin_logo.gif" width="190" height="46" /></div>
<div class="login_box_top_tr">
<ul>
<!--<li id="login_webo"><i class="login_dh"></i><a target="_blank" href="http://weibo.com/womenwang"><font color='#ffffff'>我们微博</font></a></li>-->
<li id="login_yijian"><i class="login_dh1"></i><a href="/Login/wmwmap"><font color='#ffffff'>校园导航</font></a></li>
<li id="login_webo"><i class="login_dh"></i><a target="_blank" href="http://leyou.wm616.cn"><font color='#ffffff'>乐优导航</font></a></li>
<li id="login_yijian"><i class="login_dh1"></i><a target="_blank"  href="http://www.zscy.cn"><font color='#ffffff'>雏鹰争章</font></a></li>
<li id="login_bangzhu"><i class="login_dh2"></i>帮助</li>
</ul>
</div>
</div>
</div><!--top end-->

<div class="login_box_main">
<div class="login_box_main_t">
<div class="login_box_main_tl">
<div>
<div class="total" style="padding:0px 20px; width:920px;margin-left:200px;">

  
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="690" height="418" id="map_index" align="middle">
				<param name="movie" value="__PUBLIC__/local/flash/map_index.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="window" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="FlashVars" value="xml_url=__PUBLIC__/local/flash/" />
				<param name="allowScriptAccess" value="sameDomain" />
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="__PUBLIC__/local/flash/map_index.swf" width="690" height="418">
					<param name="movie" value="__PUBLIC__/local/flash/map_index.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="window" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="FlashVars" value="xml_url=__PUBLIC__/local/flash/" />
					<param name="allowScriptAccess" value="sameDomain" />
				<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflash">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获得 Adobe Flash Player" />
					</a>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
</div>

</div>
</div><!--left end-->
<div class="login_box_main_tr">
</div><!--right end-->
<div class="kong"></div>
</div>

</div><!--main end-->


<div class="login_box_footer">
<div class="login_box_footer_t">{$smarty.const.COPYRIGHTBR}</div>
</div><!--footer end-->


</div><!--box end-->

</body>
</html>
