<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>upload msg</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
</head>
<body>
<form action="/Homeclass/Stalkabout/ajaxPhotoUpload" method="post" enctype="multipart/form-data" name="picform" id="picform">
<input type="file" id="pic" name="pic" title="支持jpg、jpeg、gif、png格式，文件小于2M" />
</form>
</body>
</html>