<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>升级建设中</title>
<link href="{$smarty.const.IMG_SERVER}__PUBLIC__/css/upgrade_tip.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="{$smarty.const.IMG_SERVER}__PUBLIC__/sns/js/upgrade_tip.js"></script>

</head>

<body>
<div class="w_t_bg">
<input type="hidden" value="{$need_upgrade}" id="need_upgrade"/>
<input type="hidden" value="{$uid}" id="uid"/>
<input type="hidden" value="{$class_code}" id="class_code"/>
<input type="hidden" value="{$secret_key}" id="secret_key"/>
<div class="tip_content">
	新学期开始了，系统检测到您的班级需要升迁，<br />正在进行班级升迁工作，请稍后按F5刷新页面 <img src="{$smarty.const.IMG_SERVER}__PUBLIC__/images/upgrade_tip/ponit_gif.gif" />
</div>
</div>
</body>
</html>
