.onShow
{
    background:url(../images/onShow.gif) 0 center no-repeat; 
    padding:4px 0px 4px 25px; 
	font-size: 12px;
    line-height:22px;
	vertical-align:middle;
}
.onFocus
{
    background:#E9F0FF url(../images/onFocus.gif) 0 center  no-repeat; 
    padding:4px 0px 4px 25px;
	font-size: 12px;
    line-height:22px;
	vertical-align:middle;
}
.onError
{
    background:#FFF2E9 url(../images/onError.gif) 0 center  no-repeat;
    padding:4px 0px 4px 25px;
	font-size: 12px;
	line-height:22px;
	vertical-align:middle;
}
.onCorrect
{
    background:#E9FFEB url(../images/onCorrect.gif) 0 center  no-repeat;
    padding:4px 0px 4px 25px;
	font-size: 12px;
	line-height:22px;
	vertical-align:middle;
}
.onLoad
{
    background:#E9FFEB url(../images/onLoad.gif) no-repeat 3px 3px;
    padding:4px 0px 4px 25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 